[2021-06-09 13:06] Mhmeshkini commented on #1607
https://www.itwinjs.org/learning/tutorials/develop-desktop-viewer/
and I removed the line assert (https://github.com/imodeljs/imodeljs/pull/1575/files)

[2021-06-09 13:08] calebmshafer commented on #1404
@LastLow098 we use, and suggest, [create-react-app](https://create-react-app.dev/) as the way to build the an iTwin.js web application and they provide details on how to deploy a Heroku application, https://create-react-app.dev/docs/deployment#heroku.

If you run into any issues with deploying your viewer using their suggestions please let us know. Thanks

[2021-06-09 13:13] aruniverse commented on #1607
Could you share your package.json for your app?

[2021-06-09 13:16] Mhmeshkini commented on #1607
I used the standard package (https://github.com/imodeljs/desktop-starter)
I just changed the client ID

/*---------------------------------------------------------------------------------------------
* Copyright (c) Bentley Systems, Incorporated. All rights reserved.
* See LICENSE.md in the project root for license terms and full copyright notice.
*-------------------------------------------------

[2021-06-09 13:21] calebmshafer commented on #1607
@Mhmeshkini it looks like you're running the commands in `C:\Users\meshk\Desktop\Mohammad09062021`, I would expect you to run this in a sub-directory called `desktop-starter` as that's where git cloning will put it by default.  Can you check if you have a directory by that name in your current folder?

[2021-06-09 13:21] aruniverse commented on #1607
Can you confirm that you are running the start command in your applications root directory?

[2021-06-09 13:38] Mhmeshkini commented on #1607
you are right, thank you. I did not get that error again. however, I got another one.
![image](https://user-images.githubusercontent.com/74923109/121365145-afd11980-c938-11eb-88c3-064ce6a0bdc8.png)

[2021-06-09 13:38] Mhmeshkini commented on #1607
i modified it, you are right

[2021-06-09 13:40] pmconne commented on #1607
Did you run `npm install` before `npm run build`?

[2021-06-09 13:46] Mhmeshkini commented on #1607
I run it in the root, so, I have another problem:
![image](https://user-images.githubusercontent.com/74923109/121366381-ba3fe300-c939-11eb-86c5-4c680df6ffd1.png)

![image](https://user-images.githubusercontent.com/74923109/121366409-c1ff8780-c939-11eb-803d-ee61e0169612.png)

![image](https://user-images.githubusercontent.com/74923109/121366471-ce83e000-c939-11eb-98ba-dae9dad3017a.png)

[2021-06-09 13:49] pmconne commented on #1607
You need to read and follow the steps in the tutorial. The first step instructs you to install prerequisites, which include Node **12**. Node 16 is not currently supported.

[2021-06-09 13:51] Mhmeshkini commented on #1607
wooow, I did not know. thank you. I will try that

[2021-06-09 21:02] Mhmeshkini commented on #1607
Thank you very much. By going to the directory and running npm and also changing the node version, I could complete a program.  However, when I run, I get this error. I do not know what is the problem.
![image](https://user-images.githubusercontent.com/74923109/121429074-cb5b1500-c976-11eb-972c-87aa6f4b56f8.png)

[2021-06-10 12:13] calebmshafer commented on #1607
@Mhmeshkini can you verify that the client id you provided in the `main.ts` file is exactly the same as the one created on https://developer.bentley.com/my-apps/?

[2021-06-10 13:02] Mhmeshkini commented on #1607
yes, I am sure that I copied the right client id. I tried another tutorial (https://developer.bentley.com/tutorials/web-application-quick-start/). in this tutorial, I have to copy client id, context id, and model id in the .env file, which I did. but again I got this error after signing in.

[2021-06-10 13:03] calebmshafer commented on #1607
@laurynasr any idea what could be happening?

[2021-06-10 13:53] williamkbentley commented on #1607
Can you verify that you created and are using a new Desktop/Mobile client? The client id you used in the web app tutorial will not be valid for the desktop one. As this tutorial hints it should start with `native-xxx..`.

[2021-06-10 14:24] Mhmeshkini commented on #1607
I am using SPA
![image](https://user-images.githubusercontent.com/74923109/121542340-5d5f2e00-ca08-11eb-95bb-ebabe9bb3924.png)

[2021-06-10 14:33] aruniverse commented on #1607
This will not work, as Will mentioned above the the desktop tutorial says you will need a desktop client id, one that looks like `native-xxx`. If you are trying to use the desktop starter as your template, you will need to register a `Desktop/Mobile` Application:
![image](https://user-images.githubusercontent.com/11051042/121543440-e9f0f880-c9d6-11eb-93c8-21d293001d35.png)

The web tutorial is com

[2021-06-10 14:36] Mhmeshkini commented on #1607
thank you, I will try that. but in this Tutorial (https://developer.bentley.com/tutorials/web-application-quick-start/) it is not mentioned

[2021-06-10 14:39] aruniverse commented on #1607
As the tutorial name suggests, thats for web-applications (SPAs/WebApps)
The desktop-starter you cloned should have pointed you to the [desktop tutorial](https://www.itwinjs.org/learning/tutorials/develop-desktop-viewer/)

We will try to update the docs to be more explicit.

[2021-06-10 14:40] Mhmeshkini commented on #1607
thank you

[2021-06-10 14:53] Mhmeshkini commented on #1607
Even when I created new App, desktop/mobile, again I receive this error

[2021-06-10 15:09] aruniverse commented on #1607
Still receiving an authentication error?

just to confirm:
1. you've created a new desktop application, and obtained the client id, which looks like `native-XXXXXXXXXXXXXXXXXXX`.
1. you've updated the `.env` file with the client id from above
1. you killed your application, ran a `npm run build` then a `npm run start` to pickup your latest changes
1. you are running your desktop appplication on po

[2021-06-10 15:15] williamkbentley commented on #1607
Actually, desktop-starter requires you to hard-code the client id in main.ts.

[2021-06-10 15:30] aruniverse commented on #1607
Could you open up dev tools, and share what requests are failing and what the responses look like?

[2021-06-10 15:43] Mhmeshkini commented on #1607
![image](https://user-images.githubusercontent.com/74923109/121554868-cd72b180-ca12-11eb-8247-31959de4173f.png)

![image](https://user-images.githubusercontent.com/74923109/121554973-e0858180-ca12-11eb-9eea-4cdb6814427f.png)

![image](https://user-images.githubusercontent.com/74923109/121555006-e713f900-ca12-11eb-9bcc-acc6db5ef151.png)

![image](https://user-images.githubusercontent.com/74923109/1

[2021-06-10 16:01] aruniverse commented on #1607
@Mhmeshkini did you do this^

Looking at the screenshot above, looks like your application is configured incorrectly.
![image](https://user-images.githubusercontent.com/11051042/121558039-49ed9c00-c9e3-11eb-939b-63a8f2ff9573.png)
The tutorial says the redirect uri should be `http://localhost:3000/signin-callback` but you have it set to `http://localhost:3000`

The error says invalid redirect_uri s

[2021-06-11 05:23] LastLow098 commented on #1404
Hello,
I looked through the site that you recommended to me, but did not find a solution to my problem
I deployed the application on heroku, and also recorded the deployment so that the error can be seen, and how it occurs
At the launch and build stage, the app crashes.

https://still-garden-83058.herokuapp.com/ - link to the app
https://disk.yandex.ru/d/cPoz3qwJSKHOew - link to the video that sho

[2021-06-11 09:13] Mhmeshkini commented on #1607
![image](https://user-images.githubusercontent.com/74923109/121662730-f7c17f00-caa5-11eb-84e9-16c56adcb5de.png)
![image](https://user-images.githubusercontent.com/74923109/121662758-ff812380-caa5-11eb-947c-b832ee8ee5d7.png)

AGAIN I GET EROR

[2021-06-11 09:13] Mhmeshkini commented on #1607
![image](https://user-images.githubusercontent.com/74923109/121662831-132c8a00-caa6-11eb-9806-8fc2acd5b0e5.png)

[2021-06-11 09:20] laurynasr commented on #1607
You have configured the client to allow `https://localhost:3000`, but have `http://localhost:3000` in your configuration -- note the scheme difference. The URL must match exactly, make sure that the scheme is the same as well.

[2021-06-18 16:05] donvi-bz opened #1673 "Clarification on where the iModel copy comes from"
One question, one possible place for clarification regarding this line:

Q: How does the briefcase relate to an iModel Snapshot?

C: I'm pretty sure this copy can *also* be produces completely without the iModelHub, from one of my last questions I learned that the iTwin Snapshot tool can make a snapshot usable by iTwin. Should this statement be clarified to say that the copy can be obtained either

[2021-06-18 17:37] kabentley commented on #1673
you are correct, that sentence should say: "..always work on a copy of an iModel, in a briefcase obtained from iModelHub, or a local snapshot iModel..."

The slight difference from your wording is that you can obtain a snapshot by downloading a readonly "checkpoint" iModel from iModelHub for archival or simply offline viewing . That's important so you're not locked in to always having your data in

[2021-06-18 19:00] #1673 closed

[2021-06-20 20:12] rssahai opened #1679 "Use "Synchronized", in lieu of "Aligned", as heading"
The title "Aligned" isn't supported by the content describing it. "Synchronized", being what iModel Connectors do, is the concept closest to what the content is describing.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Federated-Digital-Twins-for-Infrastructure-Engineering---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOU

[2021-06-21 18:50] kabentley commented on #1679
I disagree.  This section of the BIS documentation is about "Alignment," which is a very key part of the job of an iModel Connector. That is, connectors don't simply map source data "as is", leaving an jumbled mix of data types in an iModel. Instead, they attempt to "map" data into the BIS taxonomy so what can be in common is in common, even across disparate source applications.

You are right tho

[2021-06-21 20:25] rssahai commented on #1679
Your insight about alignment isn't clear in the section as written. Inserting a second sentence in the section will, I believe, make it real: "For the digital replica to be cohesive, the source data from disparate applications must be mapped with a standard taxonomy so the data aligns into a meaningful model."

[2021-06-22 16:39] Carl-Hinkle commented on #1404
In addition to the points in the last post about setting up your config variables, make sure that you have the correct buildpack configured in your Heroku app as described here: https://www.geeksforgeeks.org/how-to-deploy-react-app-to-heroku/

I confirmed that this does work and I was able to deploy an iTwin app on Heroku.

[2021-06-22 17:12] kabentley commented on #1679
see if you like [this](https://github.com/imodeljs/imodeljs/pull/1692) better

[2021-06-22 17:38] rssahai commented on #1679
This works. The meaning and value of alignment is now explicit.

[2021-06-22 17:38] #1679 closed

[2021-06-25 14:54] Carl-Hinkle commented on #1404
@LastLow098 I'm going to close this issue since the steps above should solve the problem.  Please feel free to reopen or start a new Issue if you need more help.  Thanks!

[2021-06-25 14:54] #1404 closed

[2021-06-25 16:08] aruniverse commented on #1360
Been over a month with no update, the steps defined above should resolve the issue. Closing issue for now, if issue persists we can reopen this.

[2021-06-25 16:08] #1360 closed

[2021-06-25 16:18] calebmshafer commented on #1607
closing due to inactivity, if you continue to have the issue feel free to re-open or open a new issue.

[2021-06-25 16:18] #1607 closed

[2021-06-29 17:20] sweetld opened #1747 "ERM Diagram Covering iModel Schema"
Using the Bentley iModel Schema Editor there are a number of schemas, and it's difficult to follow the relationships between the Entities in the schema, as well as understand what the schemas are for.
It would be very useful to have an overall diagram of how they fit together, as well as the individual schemas themselves.
Is there something already available for this, and if not, is there somethin

[2021-07-06 08:47] ashish-srivastava-dev opened #1792 "Location coordinates for any place clicked in viewer"
How can I get location coordinates for any location clicked in viewer? I want the location in JavaScript code.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: iTwin.js-API-Reference-Documentation---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/reference/

[2021-07-06 10:57] pmconne commented on #1792
Have a look at the [MeasureLocationTool](https://github.com/imodeljs/imodeljs/blob/c889d837b9f034d28da4e99b93d8a05891cdfe72/core/frontend/src/tools/MeasureTool.ts#L669).

[2021-07-06 10:57] pmconne commented on #1792
Closing because this is not an issue. Please use the [discussions page](https://github.com/imodeljs/imodeljs/discussions) for asking questions.

[2021-07-06 10:57] #1792 closed

[2021-07-06 11:06] ashish-srivastava-dev commented on #1792
Hi Paul,

Can you point me to some code samples which use this tool to capture location coordinates?

Thanks.

Best Regards,
Ashish Srivastava

From: Paul Connelly ***@***.***>
Sent: Tuesday, July 6, 2021 4:27 PM
To: imodeljs/imodeljs ***@***.***>
Cc: Ashish Srivastava ***@***.***>; Author ***@***.***>
Subject: Re: [imodeljs/imodeljs] Location coordinates for any place clicked in viewer (#1792)

W

[2021-07-06 11:11] pmconne commented on #1792
No, I can't. An app installs the tool, the user clicks on locations, and the tool reports their coordinates. Look at the implementation of the tool linked above to see how it works.

[2021-07-07 14:24] kardoka opened #1818 "The itwinjs-sandbox npm module is missing"
I cannot find the @itwinjs-sandbox npm module used in ViewAttributesApp.tsx. It doesn't seem to be mentioned in the API docs and it isn't available on npmjs.com. Have I missed something in the tutorial?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Adding-showcase-widgets-to-your-iTwin-Viewer---iTwin.js-link-to-docs
*   TAG: imodeljs-d

[2021-07-07 15:52] StefanRetief commented on #1818
```@itwinjs-sandbox``` is internal to the showcase, and you can see some its contents by right-clicking on the desired import and using the "go to definition" option. However, most of the content that is in the ```@itwinjs-sandbox``` package will not be desirable, and it can be safely removed as an import.

It would be more beneficial to keep the original ```App.tsx``` file rather than copying the

[2021-07-08 05:36] kardoka commented on #1818
I didn't quite understand the file structure at that time. Everything is working fine now, thanks.

[2021-07-08 05:36] #1818 closed

[2021-07-13 17:43] calebmshafer commented on #1586
going to close this as fixed. Please re-open or open a new one if you run into issues.

[2021-07-13 17:43] #1586 closed

[2021-07-21 18:28] BaoTon opened #1910 "Test comment"
please delete me
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Learning-iTwin.js-UI---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/learning/ui/

[2021-07-22 21:32] calislnb opened #1919 "npm install fails for @bentley/imodeljs-backend (even with just running npm install from clean)"
npm ERR! npm install --no-save @bentley/imodeljs-win32-x64@2.18.5
npm ERR! C:\Shared\_Projects\pw-iModel-exporter-ddm\node_modules\@bentley\imodeljs-native\installNativePlatform.js:87
npm ERR!       throw error;
npm ERR!       ^
npm ERR!
npm ERR! Error: Command failed: npm install --no-save @bentley/imodeljs-win32-x64@2.18.5
npm ERR! npm WARN old lockfile
npm ERR! npm WARN old lockfile The package

[2021-07-22 21:45] aruniverse commented on #1919
"The package-lock.json file was created with an old version of npm"

Could you try deleting your node_modules and package-lock.json and try doing a fresh install?

[2021-07-22 23:27] calislnb commented on #1919
tried it several times. I always get the same error message.

On Thu, Jul 22, 2021 at 2:45 PM Arun George ***@***.***>
wrote:

--
D. Adrian Abshere
*Bishop of Battle*

[2021-07-23 15:26] aruniverse commented on #1919
Curious, what your env look like.

What ver of node are you using?  `node -v`
What ver of npm are you using?  `npm -v`
What ver of imodeljs-backend are you trying to install? 2.18.1?

[2021-07-26 13:57] PeterJBassett opened #1934 "imodeljs-native/imodeljs-darwin-x64 logs an error on macbook for nodejs > version 11"
**Describe the bug**
A clear and concise description of what the bug is.

Running unit tests on a bridge application linking iModel and FutureOn FieldTwin.
If I run the tests using nodejs v11.15.0, the tests run and pass
If I run the tests using nodejs v14.17.0, after a full npm install, I get the following error:

  Bridge Downloader
    FutureOnBridge
      #updateExistingData()
dyld: lazy symbo

[2021-07-26 14:04] pmconne commented on #1934
My understanding is that issues with macOS and Node 14 should be resolved in imodeljs-backend 2.19.0 - @calebmshafer can you confirm?

[2021-07-26 14:25] calebmshafer commented on #1934
Yes, this should now be fixed in 2.19.0.  Please update and let us know if this issue still occurs.

[2021-07-26 15:06] PeterJBassett commented on #1934
Yes I have tried 2.19.0, and can confirm that it now supports nodejs v14 on MacOS.
I had to make a code change in order for the ts code to compile.
This didn't compile in 2.19.0

    iModelDb.nativeDb.startCreateChangeSet();
    const status = iModelDb.nativeDb.finishCreateChangeSet();
    if (ChangeSetStatus.Success !== status)
      return false;
    return true;
  }

[2021-07-26 16:58] Carl-Hinkle commented on #1404
We've just published a [guide](https://medium.com/itwinjs/deploying-the-itwin-viewer-to-a-web-host-d45c5cfdf0cf) that explains how to deploy to Heroku and Netlify.  If you're still having trouble, please check it out.

[2021-07-26 19:30] kabentley commented on #1934
I would be interested to understand why you’re “flushing” the txns. My guess is this is leftover cruft from some old code.

This code improperly uses an internal api. If you *really* want to delete existing txns (why?), you can use nativeDb.deleteAllTxns, which is also internal and equally dangerous.

HTH,
Keith

[2021-07-27 08:36] PeterJBassett commented on #1934
Thank you for your guidance. This is code that was written internally at Bentley, so I don't know the background reason for it. It is a function in a TestUtils module. I have now done a search through the code and found that this function is never used, so I have deleted it.

[2021-07-27 08:40] pmconne commented on #1934
Thanks for the feedback @PeterJBassett. Closing issue as resolved.

[2021-07-27 08:40] #1934 closed

[2021-07-29 13:43] kardoka opened #1967 "Ipc interface implementation on web app example"
Hi, I have tried to implement an Ipc interface using the example code on this page on top of the iTwin viewer web app tutorial "Adding showcase widgets to your iTwin Viewer" (https://developer.bentley.com/tutorials/adding-showcase-widgets-to-your-itwin-viewer). The code in the iTwin viewer tutorial does not have back-end code, so I cannot use the IpcHandler.

What are my options for implementing a

[2021-07-29 14:03] pmconne commented on #1967
I believe the [desktop-starter](https://github.com/imodeljs/desktop-starter) is the right template for your use case. It has its own very minimalist backend that you could add to.
@kckst8 can provide more information.

[2021-07-29 14:52] aruniverse commented on #1967
Did you mean your own RPC not IPC?

If you did mean to write and use an IPC, then yea you will need to use a desktop/electron app.
If you meant to write and use your own RPC, then you need your own backend and can point to it from your iTwin web viewer.

Either way to start off I'd recommend using the [desktop-viewer template](https://github.com/iTwin/viewer/tree/master/packages/modules/cra-templa

[2021-07-30 08:38] kardoka commented on #1967
Everything works now, thanks!

[2021-07-30 08:38] #1967 closed

[2021-08-03 23:58] bradjamesgrant opened #1985 "Modification dates"
I'm looking to know when a model from an external source (Projectwise) was last consumed in an iModel. Would the command "select * FROM Bis.ExternalSourceAspect si JOIN bis.Model e ON si.Scope.Id = e.ECInstanceId Where si.Identifier LIKE 'pw%'" give the correct link between a projectwise file location and a model and their respective details? Or is there a better method?
* * *

_⚠ Do not edit this

[2021-08-04 13:52] swwilson-bsi commented on #1985
select LastMod from bis.repositorylink where codevalue like 'pw%'

LastMod is juliandays, UTC.

If you are doing this programmatically in iModel.js and you want to get the timestamp back as a formatted string, you can do this:

select cast(LastMod as timestamp) from bis.repositorylink where codevalue like 'pw%'

[2021-08-05 01:10] dontbmh opened #1999 "Inconsistent elevation of reality model"
**Describe the bug**
We have a BIM model with 3MX reality model attached, the viewing result of which looks good in Microstation and is identical to a scene composed of the same BIM model and reality model in a Cesium viewer, specifically the relative position and elevation between them.

The reality model used in Cesium viewer is exported via a third-party tool in Cesium compatible 3D tileset for

[2021-08-05 02:53] AlainRobertAtBentley commented on #1999
We will need additional details to diagnose the problem. Is it possible for you to share the data?
Elevation differences are often result of using the wrong Vertical Datum. Most Geographic Coordinate Reference Systems default to vertical being relative to the WGS84 ellipsoid while most user data make use of some form of Geoid based elevation. This is confusing and next version of MicroStation will

[2021-08-05 13:18] LeePipBull commented on #1919
Same here :(

[2021-08-06 00:42] dontbmh commented on #1999
These are two temporary urls given for the Cesium viewer and reality model 3D Tileset, respectively.
http://20.48.110.217/reality/cesium1.html
http://20.48.110.217/reality/tilesetjson/tileset.json

Let me know if more test dataset/information is acquired.

[2021-08-06 10:38] deanmarcussen commented on #940
For info just ran across this again this morning with the CRA getting started scripts, setting the bentley authority to `https://ims.bentley.com` resolved the issue.

[code]

[2021-08-06 12:20] calebmshafer commented on #940
Yes, an update has been made to support the `https://ims.bentley.com` issuer for all APIs with a new `itwinjs` scope.  @aruniverse has a good explanation [here](https://github.com/imodeljs/imodeljs/discussions/1699#discussioncomment-1136921). He is referencing Desktop specifically but the same applies to Web as well.

[2021-08-10 19:08] LeePipBull commented on #1919
I resolved this by reinstalling the latest Node 14.7.4 (possibly not necessary) and re-setup the npm registry authorization.

[2021-08-11 01:47] AlainRobertAtBentley commented on #1999
We were just studying your case and noticed the tileset loading issues in Cesium. As for the elevation problem the dataset could be correct or not. The Geoid separation at the location is less than 6 meters so if the vertical datum was a problem the difference would be less than 6 meters. I also noticed some terrain data is incorrect in the area. Google states an elevation below the geoid at -3 me

[2021-08-11 01:51] dontbmh opened #2035 "Reality model loading issue"
Hi,

we got a reality model dataset exported through a third-party tool in 3D tileset format. Then the tilesets are loaded via displayStyle.attachRealityModel but there is nothing present. After inspecting the network panel from browser devtools, it can be seen that the tilesets(b3dm) and their corresponding images(blob, image/jpeg) are requested successfully while locating to the area with the re

[2021-08-11 02:03] AlainRobertAtBentley commented on #2035
@dontbmh Just answered something concerning elevation on the issue you just closed. The team in charge of Reality Data and geolocation just happens to be the same. As I indicated it would probably be easier for you to open a Service Request for MicroStation. One of the service technician will be assigned and he will keep you updated more effectively than we can here.
We did notice that horizontal

[2021-08-11 02:13] dontbmh commented on #1999
Our oblique data for the project is obtained from a partner company in OSGB format and converted to 3D tilesets then loaded into imodel with no problem. For confidential concerns,  we re-export only a subset of the OSGB for test purposes but weird things happened that the reality model is not presenting as stating in [#2035 ](https://github.com/imodeljs/imodeljs/issues/2035).  Now I'll follow your

[2021-08-11 02:15] rbois-bentley commented on #2035
@dontbmh You could try to disable Draco compression and if that still doesn't work you could try exporting to 3DTiles using GLTF version 1.0 if you can. Not sure if Draco + GLTF 2.0 are supported yet in iModeljs.

[2021-08-11 10:19] pmconne commented on #2035
glTF 2.0 is supported.
We have an [implementation of Draco mesh decoding](https://github.com/imodeljs/imodeljs/blob/master/core/frontend/src/tile/DracoDecoder.ts) but it is [not fully hooked up](https://github.com/imodeljs/imodeljs/blob/59cde824a362ed0273176856c167fef1ea0cd88e/core/frontend/src/tile/GltfReader.ts#L559).
@RBBentley any reason not to add the Draco package dependency and enable decod

[2021-08-11 10:53] RBBentley commented on #2035
Yes -- This tileset uses Draco3D which as @pmconne points out is currently disabled.

@dontbmh Was this tileset created with the Cesium pipeline? -- Can you retest with Draco compression disabled?

[2021-08-11 12:18] kiranshetty07061999 opened #2039 "Display data using tooltips upon hover"
<img width="1440" alt="Screenshot 2021-08-11 at 5 40 39 PM" src="https://user-images.githubusercontent.com/88778907/129026451-7f9b8f4a-d1a1-4359-a0f2-8a0d68127fa1.png">

Hey,
 I want to display data on the components of the imodel using tooltip hover. I have got the codes from this link below
https://github.com/imodeljs/imodeljs/blob/master/ui/ninezone/src/ui-ninezone/popup/Tooltip.tsx#L37

I am g

[2021-08-11 12:25] pmconne commented on #2039
When you mouse over an element in a viewport, a tooltip showing some information about that element is displayed.
Are you asking to replace or augment the information displayed in that tooltip? If not, please clarify your question.
If so, please clarify what "data from iconsole" means and how it relates to the contents of the iModel.

[2021-08-11 12:44] kiranshetty07061999 commented on #2039
Nope..I am not able to display the tooltip upon hover at all...

[2021-08-11 12:58] pmconne commented on #2039
If you don't see a default tooltip when mousing over an element in the viewport while the browser window has focus, check console for any errors. You should always see *something*.
Please supply the information requested in previous reply.

[2021-08-11 15:07] DanEastBentley commented on #2039
Before calling the `IModelApp.startup` function, are you setting the `opts.iModelApp.notifications` variable similar to the following:

[code]

The implementation of `NotificationManager.openToolTip` or `._showToolTip` puts the tooltip on the screen.

[2021-08-11 15:23] kiranshetty07061999 commented on #2039
<img width="1440" alt="Screenshot 2021-08-11 at 8 42 29 PM" src="https://user-images.githubusercontent.com/88778907/129055913-b33d24b6-a575-497c-aa50-27f310a55158.png">
As u can see in the above screenshot...by default, I am able to see the tooltip on that component....but i am not able to see the same for all the components out there.....I am attaching another screenshot to demonstrate the same.

[2021-08-11 15:31] kiranshetty07061999 commented on #2039
I havent used that

havent tried it...let me just check it out .....👍🏻

[2021-08-12 06:11] kiranshetty07061999 commented on #2039
I have used the following code to get tooltip.....Can u help me in detail on the implementation of tooltips to get the data of the individual components on hover

/*---------------------------------------------------------------------------------------------
* Copyright (c) Bentley Systems, Incorporated. All rights reserved.
* See LICENSE.md in the project root for license terms and full copyright

[2021-08-12 11:04] kiranshetty07061999 commented on #2039
I have  tried using the code from the below link

https://www.itwinjs.org/sample-showcase/?group=Viewer+Features&sample=tooltip-customize-sample&gallery=false&imodel=Metrostation+Sample

But i am not able to find the following packages in npm

@itwinjs-sandbox/hooks/useSampleWidge   and  @itwinjs-sandbox

Any idea how to access them?

[2021-08-12 13:07] Ellord207 commented on #2039
This package is intended just to support the samples you linked to, and not for users consumption.  What "useSampleWidget" does is create the "Sample Information" panel in the sample.

For more information about using the showcase samples in your own app, we have a tutorial for it.
https://developer.bentley.com/tutorials/adding-showcase-widgets-to-your-itwin-viewer/

[2021-08-14 10:35] ayaka-kms opened #2066 "a vulnerability CVE-2018-1109 is introduced in @bentley/build-tools"
Hi, @imodeljs-admin, a vulnerability CVE-2018-1109 is introduced in @bentley/build-tools via:
●  @bentley/build-tools@2.19.1 ➔ cpx@1.5.0 ➔ chokidar@1.7.0 ➔ anymatch@1.3.2 ➔ micromatch@2.3.11 ➔ braces@1.8.5

However, cpx is a legacy package, which has not been maintained for about 5 years.
Is it possible to migrate cpx to other package to remediate this vulnerability?

I noticed several migration r

[2021-08-16 01:22] dontbmh commented on #2035
@RBBentley Actually,  we are using a third-party tool to export the tilesets with glTF 2.0 and Draco compression disabled for sure. After an initial investigation, it can be confirmed that this tool is developed based on Ceisum things but the versions of those are still unspecified yet. Moreover, the lack of error/logging outputs makes the debug more complicated but we are continuously trying.

[2021-08-20 00:11] BaoTon opened #2104 "Always getting an invalid_client on getAccessToken()"
Steps to repro:

1. Register a new service using https://developer.bentley.com/register/
2. Construct new AgentAuthorizationClient() with passed in clientId/secret/scopes
3. Call .getAccessToken(clientRequestContext)
3. Returns Authorization error: invalid_client (Invalid client or client credentials.)

It seems I can still retrieve older access tokens from older agents/services, but any newly cre

[2021-08-20 02:02] calebmshafer commented on #2104
@BaoTon there is scheduled maintenance ongoing with our Identify Provider (IMS) and all clients will not be persisted correctly with it until the maintenance is completed.  I believe, I'll need to confirm, that all client registrations made during the scheduled outage will be cached and then applied once the maintenance is completed. So once maintenance is over you should be able to use the regist

[2021-08-20 14:55] BaoTon commented on #2104
Thanks Caleb, looks like I got stuck in between maintenance. Cheers.

[2021-08-20 14:55] #2104 closed

[2021-08-23 20:07] MichaelBelousov opened #2119 "[ui-core] `resizeObserver.current` is null when closing desktop app window"
**Describe the bug**
In my iTwin electron application, when I hit the close-window button at the top-right of the window on windows, I get a `TypeError: Cannot read property 'unobserve' of null`, in the `useRefEffect` clean up callback in `useResizeObserver.tsx`.
This can be seen in the last couple of seconds before the window fully dies, or in some cases seems to prevent the window from closing a

[2021-08-23 20:13] bsteinbk commented on #2119
@MichaelBelousov This was addressed in https://github.com/imodeljs/imodeljs/pull/2000 and can be backported to 2.19 if critical.

[2021-08-23 20:16] MichaelBelousov commented on #2119
I wouldn't consider it critical. But it will be user-facing on our end before updating to 3.0 is possible.

[2021-08-23 20:21] MichaelBelousov commented on #2119
More specifically, we use itwin-viewer which has an error boundary that will show this type error to the user, and which, afaik, we don't have control over the error display.

[2021-08-25 05:45] SunilPrasad opened #2132 "Cannot find module './technical-preview-badge.svg?sprite' from 'node_modules/@bentley/ui-core/lib/ui-core/badge/BetaBadge.js'"
While writing unit test I am getting this error . I am using following packages

"@bentley/ui-abstract": "^2.18.4",
"@bentley/ui-components": "^2.19.6",
"@bentley/ui-core": "^2.19.6",

[2021-08-25 10:37] bsteinbk commented on #2132
See [setup-test.js](https://github.com/imodeljs/imodeljs/blob/09672c57d6ba4b0880411d674aedc059653ab5f8/ui/scripts/setup-tests.js#L45-L46) entry that is used to avoid this issue in unit tests.

[2021-08-25 10:37] #2132 closed

[2021-08-25 12:51] #2119 closed

[2021-08-26 01:08] Michael-Tajmajer-Bentley opened #2145 "bindIdSet throws an exception with a stat of 1 after being called with (about) 4900 items, or 50 times with 100 items"
**Describe the bug**
Using InVirtualSet and bindIdSet seems to "fill up". After binding about 4900 ids, the call to statement.bindIdSet will always throw an exception (stat = 1). If you call it once with a large array it fails (~5K). If you call it 50 times with a small array (100 items) it will fail.

Using statement.clearBindings(), or withStatement have no effect. Closing and opening the briefc

[2021-08-26 01:56] bradjamesgrant opened #2146 "Using backend to generate Change Summaries on iModels"
Hi team,

I'm currently trying to collect changeset data through ECSQL commands. To do this I need to [generate change summaries](https://www.itwinjs.org/learning/changesummaries/) which requires some backend functions to be called. What is the minimum requirement or code needed to open an iModel to then attach these change cache files and change summaries? I've used some of [this](https://github.

[2021-08-26 12:49] #2145 closed, assigned to nobody

[2021-08-30 04:27] kiranshetty07061999 opened #2162 "Unsuccessful HTTP response"
Hey,
     I am getting an "Unsuccessful HTTP"  response on the browser when I run my model in the VS code. I have added my imodel onto the imodel hub. I have also added the necessary Authorization Client Settings and Test ids in the env file. I have attached the screenshot of the same for better understanding. Any idea on how to resolve this?

<img width="1440" alt="Screenshot 2021-08-30 at 9 51 0

[2021-08-30 13:22] aruniverse commented on #2162
What version of iTwin.js are you using?
What's the version of itwin/web-viewer-react you are using?

You are getting a 401, unauthorized, error. Take a look at that failing request. I suspect you are using the wrong auth issuer. Please take a look at: https://github.com/imodeljs/imodeljs/discussions/2158. If that doesn't solve your problem, please share the exact error message you are getting from

[2021-09-01 06:01] kiranshetty07061999 commented on #2162
Thanks @aruniverse. It was because of the wrong auth user. Got it fixed!

[2021-09-01 06:06] #2162 closed

[2021-09-02 14:21] JiriJa opened #2188 "iModel Schema Explorer does not have elements labeled as Smart devices."
Hello iTwin.js team,

Please can I ask You? … I have done Accredited iTwin developer course via YouTube channel. So now I would like to test some next modifications, but sample Smart House from Bentley server via iModel Schema Explorer does not have elements labeled as Smart devices. ☹
Please can send me Your original DGN file with this elements? I would like to use iTwin Synchronizer to push it a

[2021-09-02 15:16] BaoTon commented on #2188
Hi Jiri,

If you're talking about the House Model from https://www.itwinjs.org/sample-showcase/ vs. the one used on the accreditation program, these are two separate DGNs.

The accreditation DGN can be found here: https://github.com/iTwin/Course_1-Smart-House-Sample/blob/main/House_Model.dgn but the House Model available on our showcase/sandbox is currently unavailable for public use.

Thanks,
-Ba

[2021-09-03 09:30] #2039 closed

[2021-09-06 06:29] kiranshetty07061999 opened #2191 "Get information of the components in a model upon click"
Hi there,

I want to display the information of individual components on the model upon clicking them. Any idea on how to achieve this?

Note:- I have planned to implement this by recording the ecinstanceid of the components upon click and then display other information related to it based on the selection....but i am not sure how to record the ecinstanceid of the components on click...

[2021-09-09 13:59] isc30 opened #2208 "About React Function Components"
it's also important to notice that the last example (function) will have an automatic `displayName` in the React Dev Tools while the previous 2 won't have it
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: iTwin.js-TypeScript-Coding-Guidelines---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/lea

[2021-09-10 07:51] kardoka opened #2216 "iframe elements in title not displaying"
When a HTMLElement containing a iframe element is passed to the `title` attribute, the iframe element does not display. I have tried to change the iframe element's properties like height, width, src, etc. I have also tried `document.createElement('iframe')` and then assigning values for it's properties. Here is the code snippet where a value for `title` is assigned:

[code]

The h3 element, which

[2021-09-10 18:11] benjamin-lindsey opened #2221 "Installation instructions"
This tutorial did not work for me on Linux. Instead I followed the instructions on the npmjs website for @itwin/desktop-viewer-react. I would recommend adding the npm or yarn command for installation of the @itwin/desktop-viewer-react package before the npx command as that's what made the difference on my system. Not sure if this is an issue for other platforms like Windows.
* * *

_⚠ Do not edit

[2021-09-10 18:17] aruniverse commented on #2221
Could you share the error you saw when you used the npx command?

I recommend uninstalling create-react-app, and reinstalling it again, then trying the npx command again.

[code]

[2021-09-10 18:43] benjamin-lindsey commented on #2221
@aruniverse - Just tested your suggestion on a new VM. It worked! And now I can't get it to break again, even after uninstalling all global node packages and creating a new app. I'll take some time later to set up a fresh VM and send you the errors. Many thanks for the help.

[2021-09-10 18:47] aruniverse commented on #2221
Glad that worked, i'm guessing the real issue you saw stems from here, https://github.com/facebook/create-react-app/issues/10132#issue-749030789

[2021-09-10 18:47] #2221 closed

[2021-09-13 12:19] ashish-srivastava-dev opened #2226 "Provisioning schema in iModel"
How do I know whether iModel is provisioned with a particular domain schema from frontend code? If schema is already loaded then I don't want to upload it again. The app has a UI control which would enable schema upload (happening in backend) or not enable.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: SchemaState---imodeljs-common-lin

[2021-09-13 12:52] pmconne commented on #2226
Please use the [discussions](https://github.com/imodeljs/imodeljs/discussions) page for asking questions; the issues page is for reporting bugs.

[2021-09-13 12:52] #2226 closed

[2021-09-14 04:47] kiranshetty07061999 opened #2235 "How to call presentation by calling Presentation.initialise"
Hi there,

I am trying to get the EcInstanceId of the components of the model upon click. I tried implementing the same by using the following set of codes

export function SelectionOfComponentsData() {

  React.useEffect(() => {

      Presentation.selection.selectionChange.addListener(_onSelectionChanged);

    }

  );

  const _onSelectionChanged = async (evt: SelectionChangeEventArgs, selectio

[2021-09-14 05:27] grigasp commented on #2235
As far as I'm aware the `Viewer` does initialize the `Presentation` library. It's kind of hard to understand what's happening in your app, but my guess is that `SelectionOfComponentsData` gets called before the initialization is complete. I think the callback that tells you it's complete is `onIModelConnected` - please try calling your function from there.

Adding @aruniverse and @kckst8 into the

[2021-09-14 08:49] kiranshetty07061999 commented on #2235
I tried calling it from **onIModelConnected** but that did not work.....I am getting this error

Unhandled Rejection (Error): Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. Yo

[2021-09-14 10:38] kckst8 commented on #2235
Hello, can you provide your onimodelconnected callback snippet?

[2021-09-14 10:47] kiranshetty07061999 commented on #2235
const onIModelConnected = (_imodel: IModelConnection) => {
IModelApp.viewManager.onViewOpen.addOnce(async (vp: ScreenViewport) => {
const viewStyle: DisplayStyleSettingsProps = {
viewflags: {
visEdges: false,
shadows: true
}
}

i have called this in the <Viewer>

 onIModelConnected = {onIModelConnected}

[2021-09-14 10:53] kckst8 commented on #2235
Have you tried adding your presentation listener in that function (Presentation. Presentation.selection.selectionChange.addListener(_onSelectionChanged)?

[2021-09-14 10:57] grigasp commented on #2235
I missed the part that `SelectionOfComponentsData` uses a hook. Try removing the hook and simply changing it to this:
[code]

[2021-09-14 10:57] kiranshetty07061999 commented on #2235
I tried adding this code

import { RequestPriority } from "@bentley/presentation-common";
import { Presentation, PresentationManagerMode } from "@bentley/presentation-backend";
import rpcs from "../common/Rpcs";
// initialize presentation-backend
Presentation.initialize({
 rulesetDirectories: [path.join("assets", "presentation_rules")],
 localeDirectories: [path.join("assets", "locales")],
 mode:

[2021-09-14 11:10] kiranshetty07061999 commented on #2235
@grigasp It worked...thanks a lot

[2021-09-14 12:42] #2235 closed

[2021-09-14 19:45] spowell-216 opened #2241 "xmldom security vulnerability CVE-2021-32796"
@bentley/itwin-client package has a dependency on `"xmldom": "^0.6.0"`

per the security advisory [Misinterpretation of malicious XML input](https://github.com/xmldom/xmldom/security/advisories/GHSA-5fg8-2547-mr8q)

could we get this package updated to `"@xmldom/xmldom":"^0.7.0"`

[2021-09-15 12:59] deanmarcussen opened #2249 "Production builds fail with latest dart-sass"
**Describe the bug**

This line
https://github.com/imodeljs/imodeljs/blob/d0c88bd98674525ff1fe6533c463bccedcedc8e7/ui/framework/src/ui-framework/content/DefaultViewOverlay.scss#L15

produces this error on our latest prod build. Probably the version of sass is `1.41.0` (always hard to tell  on devops)
[code]

It does compile with dart-sass `1.39.0` on my dev machine, so have fixed the prod build by

[2021-09-15 13:10] calebmshafer commented on #2249
@deanmarcussen thanks for reporting this. This #2239 should fix the issue.  We'll be backporting it back to 2.19.x and releasing a patch for it later today.

[2021-09-15 18:52] aruniverse commented on #2249
Should be fixed in 2.19.12, which is now available.

[2021-09-15 18:52] #2249 closed

[2021-09-15 18:52] aruniverse commented on #2241
Should be fixed in 2.19.12, which is now available.

[2021-09-15 18:52] #2241 closed

[2021-09-15 18:53] #2188 closed

[2021-09-15 18:56] aruniverse commented on #2191
Just want to confirm that this is a duplicate issue of https://github.com/imodeljs/imodeljs/issues/2235, is that correct?

[2021-09-16 05:02] kiranshetty07061999 commented on #2191
Yup....

[2021-09-16 05:02] #2191 closed

[2021-09-16 06:25] JiriJa commented on #2188
Thanks, Jiri.

[2021-09-16 07:14] MargaritaKartaviciute opened #2265 "Table: selected rows don't change location when column is sorted"
**Describe the bug**
![Media1](https://user-images.githubusercontent.com/51091677/133563731-4c77d559-6298-4392-a8e6-54fefb52fdf4.gif)

When rows selected in table and table sorted by column, previously selected elements don't change their location. After table sorting it seems that completely different elements was selected.

**To Reproduce**
Steps to reproduce the behavior:

1. SimpleTableDataPro

[2021-09-16 13:13] NancyMcCallB commented on #2265
Thanks for reporting this, Margarita. I'll look into this and get back to you.

[2021-09-20 09:52] kardoka opened #2289 "Invalid hook call error on Tooltip creation"
Greetings,

I'm getting a hook call error while creating a new Tooltip object.

MyTooltipProps class:
[code]

The method for creating tooltips:
[code]

...which is called in `App.tsx`:
[code]

Could the issue be with creating the tooltip at the wrong place in the code? What would be a correct example use-case of the Tooltip method?

EDIT: remove unnecessary code.
* * *

_⚠ Do not edit this section

[2021-09-21 09:05] alarkbentley opened #2305 "Race condition in SettingsClient getUrl"
I found an ugly race condition in the getUrl because it caches the returned result before the excludeApiVersion is considered.
I made two asynchronous requests for getUrl it first returned the URL without ApiVersion and later with ApiVersion as the first request has been processed.

Also it is impossible to later on change the excludeApiVersion flag as the results is cached without it in considera

[2021-09-23 13:05] pmconne commented on #2305
@calebmshafer this code is going away, correct? Does that mean this bug will also go away?

[2021-09-23 13:11] alarkbentley commented on #2305
OCP is using this code today however so a fix would be appreciated. I have to await all calls that depend on getUrl as a workaround for this to not be an issue.

[2021-09-23 15:37] calebmshafer commented on #2305
@alarkbentley this issue is fixed in the base `Client` class but doesn't work since the `SettingsClient` is overriding the `getUrl` method.  It should be a fairly easy fix. I'll submit a PR to 2.19.x and get that into a patch by beginning of next week.

[2021-09-23 15:57] LastLow098 opened #2340 "Help with the issue of interaction with itwin viewer"
Hello,

Considering the model, you can interact with its elements (that is, click on the element) and get more detailed information on the side information window. I wanted to find out where the code that is responsible for this interaction is located in order to link my code to this click.
My very task is that when I click on an element, receiving object data, I would be able to compare this data

[2021-09-24 05:33] grigasp commented on #2340
I think these sandboxes might be useful to you:
- [Unified Selection PropertyGrid](https://www.itwinjs.org/sandboxes/grigas/Unified%20Selection%20PropertyGrid) - creates a similar component that you have in your screenshot and hooks it into unified selection so it shows properties of selected elements.
- [Element Properties Loader](https://www.itwinjs.org/sandboxes/grigas/Element%20Properties%20Lo

[2021-09-25 02:39] rssahai opened #2349 "Branching and merging"
The concepts of branching and merging are absent from this glossary. Is their implementation for iModels hard or impossible?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Glossary-of-terms-in-iTwin.js---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/learning/glossary/

[2021-09-26 11:51] #2289 closed

[2021-09-26 12:40] #2216 closed

[2021-09-27 06:06] kardoka commented on #2289
Closed since this is not a issue, but rather a question for a discussion thread.

[2021-09-27 06:06] kardoka commented on #2216
Closed since this is not a issue, but rather a question for a discussion thread.

[2021-09-29 06:42] Malashree99 opened #2370 ""Unhandled Rejection (Bad Model): ViewCreator3d.createDefaultView: no 3D models found in iModel"
**Describe the bug**
"Unhandled Rejection (Bad Model): ViewCreator3d.createDefaultView: no 3D models found in iModel"

**Additional context**
I'm getting an about mentioned error but I can see my modal in IModalweb
![Screenshot (3)](https://user-images.githubusercontent.com/77370444/135216380-16b7fb34-b903-452d-89c0-a0b0020d1189.png)

[2021-09-29 12:41] aruniverse commented on #2370
Please provide more details like what version of @itwin/web-viewer-react and iTwin.js you are using

[2021-09-29 12:59] pmconne commented on #2370
The error is telling you the problem: your iModel contains no 3d models. Specifically, the following query returns zero results:
`SELECT ECInstanceId FROM Bis.GeometricModel3D WHERE IsPrivate = false AND IsTemplate = false AND isNotSpatiallyLocated = false`
@roopksaini, it should probably not produce an error in such a case; instead it should return a view that displays no models, with its extents

[2021-09-29 19:10] LastLow098 commented on #2340
I've studied the sandboxes and the articles you gave me
I have problems understanding where to use the code that is used in sandboxes and in articles

[2021-09-30 00:50] calebmshafer commented on #2066
Hi @ayaka-kms, most of the security issues surrounding cpx are all around if you're going to use cpx in production and pass user data to it (which we do neither with the build-tools package). We've investigated using one of the forks of it, some of the ones you mentioned, that removes the security issues but the operational risk, of moving to a much less used/known package, was higher than that of

[2021-09-30 06:09] grigasp commented on #2340
Well, it depends on your application. The sandboxes create a widget through [UiItemsProvider](https://www.itwinjs.org/learning/ui/abstract/uiitemsprovider/) and all the unified selection and properties related code is contained within the widget.

Adding @kckst8 and @aruniverse for the itwin-viewer perspective.

[2021-09-30 09:16] Malashree99 opened #2383 "not able to sign in ("Logging in....")"
**Describe the bug**
not able to sign in  ("Logging in....")

**Expected behavior**
After clicking on sign in its asked for "Request for Approval" I allowed then its stuck on same page "Logging in...."

**Desktop:**

- OS: windows 10
- Browser = chrome
![Screenshot (4)](https://user-images.githubusercontent.com/77370444/135424333-16a1636b-b6f5-492c-90af-fc5757861194.png)

[2021-09-30 12:52] aruniverse commented on #2383
Please report back the following:
- version of @itwin/web-viewer-react you're using
- version of iTwin.js you're using
- are you able to reproduce on other browsers

Try refreshing the page or going to localhost:3000 directly after you've signed in, there might be an issue with the redirect.

[2021-09-30 15:42] aruniverse commented on #2340
Take a look at the following tutorial on how to go from some of the samples Grigas had listed above to the viewer: https://developer.bentley.com/tutorials/adding-showcase-widgets-to-your-itwin-viewer/

I'd also recommend you take a look at our accreditation program, https://developer.bentley.com/accreditation/, which will give you a good overview of how to connect your own services to your viewer.

[2021-10-01 05:31] Malashree99 commented on #2383
@aruniverse
version of iTwin.js I'm using is "V2.19.0"
Also not able to reproduce on other browsers

[2021-10-06 06:19] Malashree99 opened #2431 "Typescript error "Cannot find name 'onIModelConnected'. TS2304""
**Describe the bug**
 "Cannot find name 'onIModelConnected'.  TS2304"

**Expected behavior**
onIModelconnected is declared in APP.tsx file and calling that function in ViewerStartup.tsx

below Screenshot is APP.tsx file
![Screenshot_3](https://user-images.githubusercontent.com/77370444/136150314-3e028201-49b0-40cc-bc58-1238887f76d4.png)
the below Screenshot is ViewerStartup.tsx file
![Screenshot_4

[2021-10-06 07:51] kiranshetty07061999 opened #2432 "Pass multiple widgets in the viewer"
Hey, I have two widget components chartProviders and uiProviders . How do i pass both the widgets to uiProviders prop simultaneously?

 const chartProviders = [new SmartDeviceUiItemsProvider()]
  const uiProviders = [new  SelectionOfComponentsWidget()];

return (

        <Viewer
          contextId={contextId}
          iModelId={iModelId}
          authConfig={{ config: authConfig }}
          o

[2021-10-06 10:34] pmconne commented on #2432
I'd expect you do so like:
[code]

Please use the [discussions page](https://github.com/imodeljs/imodeljs/discussions) for questions.

[2021-10-06 11:07] pmconne commented on #179
@calebmshafer was this fix ever released?

[2021-10-06 11:13] aruniverse commented on #2432
Paul's got the right idea here.

But next time please take a look at the documentation for the viewer, where it states the Viewer has a prop, uiProviders, which accepts an array of UiItemsProviders.

So Paul's suggestion will be right as long chartProviders and uiProviders are instances of UiItemsProviders and not an array of them. Typescript would have been really helpful here.

[2021-10-06 11:13] pmconne commented on #1985
Closing as question has been answered.

[2021-10-06 11:13] #1985 closed

[2021-10-06 11:14] #1919 closed

[2021-10-06 11:14] #2432 closed

[2021-10-06 11:15] pmconne commented on #2305
@calebmshafer has that fix been released for 2.19.x?

[2021-10-06 11:17] pmconne commented on #2383
@Malashree99 are you still observing this issue?

[2021-10-06 12:05] #2370 closed

[2021-10-11 09:01] Malashree99 opened #2467 "Error: IModelReadRpcInterface.openForRead() is not available"
Error: IModelReadRpcInterface.openForRead() is not available and
Error: Invalid hook call. Hooks can only be called inside of the body of a function component.

![Screenshot_7](https://user-images.githubusercontent.com/77370444/136762016-9a0d4a00-2ee0-459e-948d-ee3e8c501454.png)

**Expected behavior**
I think I may done some mistake in above code please check

![Screenshot_8](https://user-images.g

[2021-10-13 11:12] sweetld opened #2482 "iTwin Viewer Measurement Units"
I've been looking at changing the units that the iTwins Viewer displays in, as currently measurements are showing up in Imperial. Looking through the documentation, this seems to be the default, and if you want to display in Metric, then you have to change the setting.

It's this that I have been trying to do, but I'm clearly approaching it incorrectly, as it's having no effect...

I am trying to

[2021-10-13 12:06] pmconne commented on #2482
Show the code that's having no effect.

I would have started with:
`IModelApp.quantityFormatter.setActiveUnitSystem("metric", true);`
but it appears that by default when you switch to a different iModel it will reset the settings (not sure if that matters in your case).

[2021-10-13 15:10] LastLow098 commented on #2340
I tried using the code from these two sandboxes, [Unified Selection PropertyGrid ](https://www.itwinjs.org/sandboxes/grigas/Unified%20Selection%20PropertyGrid), [Element Properties Loader ](https://www.itwinjs.org/sandboxes/grigas/Element%20Properties%20Loader), adding them as shown in this example,
[https://developer.bentley.com/tutorials/adding-showcase-widgets-to-your-itwin-viewer/](https://dev

[2021-10-14 08:28] sweetld opened #2490 "iModel displayed "floats" above base map displayed"
For iModels that have some kind of geo-location, when the base map is displayed it appears as though the iModel is above the terrain level, which makes it look as though it's floating above the ground level.
Could anyone advise on whether this is something in the iModel itself - and if so what, or whether there is some vertical index / sea level setting or something that I can use to adjust the ba

[2021-10-14 09:17] sweetld opened #2491 "iTwins Viewer Side Panel Grab Handle"
I have noticed that when you have panels docked on the right hand side of the viewer, you can see a three dot "grab handle" which helps to show the user that they can drag this across to split the viewer and display the panels docked on the right hand side again.

This is useful, and works - however several of our users are complaining that it's difficult and confusing to use...

I believe that th

[2021-10-14 12:15] sweetld commented on #2490
@markschlosseratbentley TBH I am not specifically enabling terrain, I'm simply using the React Viewer component, and some models are automatically showing with a background map.
Some are not, and in these cases I'm simply turning off the background map by setting the `viewFlags.backgroundMap` to false and then setting the `viewFlags` in `viewState`, and passing this into the `viewportOptions` para

[2021-10-14 18:14] sweetld commented on #2491
Hi, thanks, yes this is what I was referring to. Apologies if this was not clear.

[2021-10-14 18:19] sweetld commented on #2491
I don't want to turn off the "handle", as obviously the user would then not know that there was a side panel to view...

But rather as above, be able to set the minimum width in px for the side panels. That way we would be able to set it to 0px to effectively prevent the "sticky" behavior, so you don't have to drag the handle larger than 100px to make it open.

[2021-10-14 21:00] FlyersPh9 commented on #2491
Oh my mistake, I didn't even notice this wasn't the iTwinUI repo I'm commenting in. 😅 My mistake, ignore what I said.

[2021-10-14 21:20] aruniverse commented on #2305
should be fixed in 2.19.17

[2021-10-14 21:20] #2305 closed

[2021-10-18 14:18] skirby1996 opened #2529 "Repository Move Announcement"
# iModel.js Repo Transfer Announcement

On the 27th of October, the imodeljs repo will be transferred to the [iTwin Platform](https://github.com/iTwin) organization on Github and renamed to 'itwinjs-core'.

All branches, pull requests, issues, and discussions will be transferred along with the repository, and all links to the old repository will redirect to the new repository which will be found a

[2021-10-19 03:02] rssahai commented on #2349
Use case for branching and merging is a design-build-operate-maintain (DBOM) project that begins with existing survey and as-builts. The environmental permit package branches off during planning while concept design moves forward with new topographic surveys and plans toward a 30% review. When the environmental permit package reaches its first review milestone, the environmental branch updates its

[2021-10-19 14:43] rssahai commented on #2349
Looks  like the Engineering Component Modeling initiative of the year 2000 (MicroStation/J, JMDL, ProjectBank) has finally found a commercially viable outlet in iTwin/iModel after 20-years!

[2021-10-21 13:23] sweetld opened #2550 "Suddenly started seeing Failed to obtain WebGL context when attempting to load an iModel into the iTwins Viewer"
When trying to load any iModels that were loading fine yesterday, we are now seeing the following error displayed:

![image](https://user-images.githubusercontent.com/5811799/138286675-f10cc980-07f2-4752-955c-70dda23aed9b.png)

Could anyone advise please?

[2021-10-21 13:38] sweetld commented on #2550
OK, this is my issue - for some reason my PC was causing this error - testing with another browser worked, and the Comparability Checker showed this.

Thanks very much for your quick response and help!

Please close this bug.

[2021-10-28 10:15] glenworrall opened #2596 "ecSQL Geometry Functions"
For the page
https://github.com/iTwin/itwinjs-core/blob/release/2.19.x/docs/learning/GeometrySqlFuncs.md
There is reference to a ElementGeom table for the iModel_placement.
Is there such a thing for an element exposed for ecSQL ?
I could not see that in any class name

[2021-10-28 14:29] #2596 closed, assigned to nobody

[2021-11-07 22:23] #2529 closed

[2021-11-07 22:24] calebmshafer commented on #2529
Closing this issue as it has been several days since the move. The thread will be left open for people to report any lingering problems going forward.

[2021-11-18 17:18] #2066 closed

[2021-11-29 11:35] kiranshetty07061999 opened #2794 "Error while deploying on netlify"
Hey i tried deploying the itwin app on netlify... i got this error...any idea on how to resolve this

error_description=The+requested+scope+is+invalid%2C+unknown%2C+malformed%2C+or+exceeds+that+which+the+client+is+permitted+to+request.&state=f6284243660f4bfb9febb35425a159d5&error=invalid_scope#.

[2021-11-29 14:06] aruniverse commented on #2794
Did you follow this [medium article](https://medium.com/itwinjs/deploying-the-itwin-viewer-to-a-web-host-d45c5cfdf0cf)?

Are your env variables configured correctly? They need to match exactly how you have your client configured in the [developer portal](https://developer.bentley.com/my-apps/). Like the error says, theres a mismatch with the scopes (or redirects).

[2021-11-29 14:06] aruniverse commented on #2794
Side note this isn't an issue with itwinjs, moving this to a discussion

[2021-12-06 16:15] lmborione opened #2846 "Map ECInstanceIds from desktop sdk to Itwin"
Hi,

We have a legacy database that contains information extracted from .i.dgn files using the [i-model desktop sdk](https://www.bentley.com/en/software-developers/sharing-deliverables/i-model-sdk).
In the databse ECInstanceIds are stored in following format:

When we use the new Itwin platform ECInstanceId for the same object is stored like this:

How could we compute the Itwin ECInstanceId from

[2021-12-07 16:13] lpasselin commented on #2265
@NancyMcCallB Any progress on this issue?

[2021-12-07 16:43] NancyMcCallB commented on #2265
I apologize! I thought I had responded to you back in September.

The current implementation of the Table component tracks only the current row indices. Because the component is built on the react-data-grid, which is not well-maintained, we've decided to deprecate it in the next release and develop a replacement in our general-purpose React component library [iTwinUI-react](https://github.com/iTwi

[2021-12-07 19:52] ColinKerr commented on #2846
Hi @lmborione there is a WIP PR to add this information to our doc site.  Please take a look at the PR, @jchick-bentley and I would love to get your feedback.

https://github.com/iTwin/itwinjs-core/pull/2735

[2021-12-08 12:05] PeterJBassett opened #2863 "Bridge error - [Error: download manifest failed (1) - Problem with the SSL CA cert (path? access rights?)]"
### Discussed in https://github.com/iTwin/itwinjs-core/discussions/2862

<div type='discussions-op-text'>

<sup>Originally posted by **PeterJBassett** December  8, 2021</sup>
Hello, my application runs a bridge connection to iTwin using the  IModelBridge class. When the synchronisation runs I get the following error.
[Error: download manifest failed (1) - Problem with the SSL CA cert (path? access

[2021-12-08 16:09] lmborione commented on #2846
Thanks for your reply.

I don't understand how your reply is an answer to my question... You sent me a link to a PR of the documentation, was I supposed to find anything related to my question in the "provenance-in-imodel.md" section ?

Moreover, how do you access provenance information ?
I try to run the following SQL request in the imodelconsole:

But the return object does not contains a "Prove

[2021-12-08 16:36] ColinKerr commented on #2846
@lmborione this is good feedback.  We need to add documentation that is more concrete and less conceptual.  We are also not linking to other pertinent information in other areas of our doc site.  We will do both of these things, some in the current PR and some in other PRs that I will link here.

In the short term here is a bit more info.  The original id from dgn or other source file is stored in

[2021-12-08 17:01] lmborione commented on #2846
Ok thanks for the more detailled answer.
In result I will implement a link base on identifier+schema+class to match to an ecInstance in my database

[2021-12-08 17:01] #2846 closed

[2021-12-09 17:03] PeterJBassett commented on #2863
The issue has been successfully resolved.
Please see the discussion in https://github.com/iTwin/itwinjs-core/discussions/2862

[2021-12-09 17:03] #2863 closed

[2021-12-17 16:02] spowell-216 opened #2938 "Trouble inserting GeometryPart into an iModel"
Can someone please explain what i am doing wrong?  I am trying to insert a geometryPart into a newly created/downloaded iModel from the iModelHub.  I cannot reproduce this error locally when using a SnapshotDb.

iModelJs ver: 2.19.26

error:  `Bad Element: insertElement with class=BisCore:GeometryPart: error inserting `

this is the method for creating the GeometryPartProps :
[code]

this is the G

[2021-12-20 01:08] tony-tang opened #2944 "After using imodel-transformer to process model, the model texture was lost."
When I used imodel-transformer to process model, I found the texture was lost. Please try the attachment bim file.
[texture_test2.zip](https://github.com/iTwin/itwinjs-core/files/7741972/texture_test2.zip)

Thanks.

[2021-12-20 15:18] spowell-216 commented on #2938
moving to discussions,  https://github.com/iTwin/itwinjs-core/discussions/2947

[2021-12-20 15:18] #2938 closed

[2022-01-06 13:39] MichaelBelousov commented on #2944
Hi Tony, I'm going to start looking into this soon.

[2022-01-06 19:12] jchick-bentley opened #2997 "[Error: download manifest failed (1) - SSL peer certificate or SSH remote key was not OK]"
Here are some more details:
The code where the error occurs is:

Silent sign-in:

      const { TestUsers, TestUtility } = require('@itwin/oidc-signin-tool')

      // Silent sign-in to Bentley and get access token to run a synchronisation
      const iModelAccessTokenString = await TestUtility.getAccessToken(TestUsers.regular)

The successfully returns a JWT access token.

Run the synchronisation

[2022-01-11 14:17] PeterJBassett commented on #2997
Hello @khanaffan and @jchick-bentley - just a note to see if there is any progress on this issue? Is it something to do with ca certificates?

[2022-01-11 17:32] khanaffan commented on #2997
@PeterJBassett  Just to confirm what platform are you using? We found this issue on MacOS. If you see this on Linux you might just need to install or update ca trust certificate depending on distro you are using. The fix we have is exclusively for MacOS.

[2022-01-11 17:58] PeterJBassett commented on #2997
Hello @khanaffan Yes I can confirm this is a MacOS problem only. I also have a docker linux deployment and have the update ca certificate fix working ok for that.

Thank you for the info about the patch.

[2022-01-12 09:38] alarkbentley opened #3027 "Loading Orbit PointCloud with projection KrovakEN causes crash"
Projection name "KrovakEN" is not handled.
https://github.com/iTwin/itwinjs-core/blob/b1e6c76ad3fff65a354a758680d0b2d12a2ec194/core/orbitgt/src/spatial/ecrs/WellKnownText.ts#L279

It is however handled here:
https://github.com/iTwin/itwinjs-core/blob/b1e6c76ad3fff65a354a758680d0b2d12a2ec194/core/orbitgt/src/spatial/ecrs/WellKnownText.ts#L336

but gives nullpointer because parameterList is always e

[2022-01-13 18:05] khanaffan commented on #2997
@PeterJBassett New version of packages are published. You need to upgrade to 2.19.28 to resolve the issue.

Thanks

[2022-01-13 18:06] #2997 closed

[2022-01-14 14:18] PeterJBassett commented on #2997
Hello @khanaffan  - I can confirm that the bridge integration test now works again running on a Macbook.
Thank you for your help.

[2022-01-20 19:21] calebmshafer commented on #1014
Closing this issue due to the inactivity. @spookyfox if you're still seeing an issue please feel free to re-open.

[2022-01-20 19:21] #1014 closed

[2022-01-20 19:27] calebmshafer commented on #1841
@rickhewes this issue has been addressed in iTwin.js 3.0 and desktop apps should now work on Linux. Any desktop app using our Electron auth client will lack support for caching a password forcing you to sign-in each time the app is started. However, support for caching on Linux is in progress [here](https://github.com/iTwin/auth-clients/pull/44).

If you'd like to try it out, please give the relea

[2022-01-20 19:27] calebmshafer commented on #497
closing due to inactivity, please provide more information if you'd like to re-open this issue.

[2022-01-20 19:27] #497 closed

[2022-01-20 19:36] pmconne commented on #2035
The tileset definitely uses Draco compression as revealed in debugger.
[GltfReader.readMeshPrimitive](https://github.com/iTwin/itwinjs-core/blob/fa636a0c7e3eab21a8fc15b6ec86c0400285f8ed/core/frontend/src/tile/GltfReader.ts#L1341) returns undefined here:

[code]
![image](https://user-images.githubusercontent.com/22944042/150409568-edc2f9ed-c13a-4951-b58a-d4ea9cb92822.png)

[2022-01-27 19:27] pmconne commented on #2035
@dontbmh I have implemented support for draco mesh decoding in #3106. If you want me to test it against your reality model, please supply a working version. The one previously supplied produces URLs that go outside the root directory - e.g., "http://localhost:8080/dontbmh/../Tile_0003_0020/Tile_0003_0020.b3dm". Otherwise, I will close this issue after the PR merges.

[2022-02-02 20:47] stuartpb commented on #3027
@alarkbentley It looks like changing line 279 to `if (Strings.equalsIgnoreCase(projectionName, "Krovak") || Strings.equalsIgnoreCase(projectionName, "KrovakEN")) {` would fix this; are you able to test if that's the case?

[2022-02-03 08:55] lmborione opened #3215 "Display MapBox Background"
I tried to had a map provider public key with the following code in the viewer but the map is not displayed:
[code]
Thanks.

[2022-02-03 09:51] #2035 closed

[2022-02-03 10:18] alarkbentley commented on #3027
I confirmed that this fix works.

[2022-02-07 14:13] MichaelBelousov commented on #2944
@tony-tang what version of the transformer package were you using?

[2022-02-09 18:46] #3027 closed

[2022-02-11 15:46] claudiaareneee opened #3197 "Adding a transparent option to color pickers"
**Is your feature request related to a problem? Please describe.**
For the color pickers, it would be helpful to include a stylized transparent option. Currently when adding a transparent color to the color picker options, there is no indication that the option is transparent

**Describe the solution you'd like**
Adding a prop to the ColorPickerButton / ColorPickerPopup for including a transparent

[2022-02-11 16:03] NancyMcCallB commented on #3197
We can change the styling for the button, but perhaps you'd get faster results by using the [color picker](https://itwin.github.io/iTwinUI-react/?path=/story/core-colorpicker--advanced) in itwinui-react, which this component wraps.

[2022-02-11 18:59] claudiaareneee commented on #3197
Thanks! I'll take a look

[2022-02-11 21:08] mayank99 commented on #3197
@NancyMcCallB Are you sure this component wraps iTwinUI's ColorPicker? I was looking at [`ui/src/imodel-components-react/color/`](https://github.com/iTwin/itwinjs-core/blob/master/ui/imodel-components-react/src/imodel-components-react/color/) and I don't see it referencing iTwinUI.

[2022-02-11 21:11] mayank99 commented on #3197
@NancyMcCallB Are you sure this component wraps iTwinUI's ColorPicker? I was looking at [`ui/src/imodel-components-react/color/ColorPickerButton`](https://github.com/iTwin/itwinjs-core/blob/master/ui/imodel-components-react/src/imodel-components-react/color/ColorPickerButton.tsx) and I don't see it referencing iTwinUI.

However, if a component wraps iTwinUI, it might help to add a link in the JSDo

[2022-02-11 21:15] NancyMcCallB commented on #3197
The button does not, but the actual color picker it opens does use iTwinui-react.

[2022-02-11 21:17] mayank99 commented on #3197
Ah, makes sense, thanks for clarifying. Then we will try to handle this in iTwinUI.

[2022-02-24 18:06] aruniverse commented on #3215
Hi @lmborione , 3.0.1 is now available and you should be all set. If you continue to run into issues we can re-open this issue.

[2022-02-24 18:06] #3215 closed

[2022-02-25 07:17] deanmarcussen opened #3265 "Feature overrides on imodel load not applied"
**Describe the bug**

We are trying to apply `FeatureOverrides` via the `EmphasizeElements` api when the iModel is loaded.

However the overrides aren't applied.

If I delay the call to the `EmphasizeElements` api by approx 2 seconds, after model load they are correctly set.

I can see the call to `addFeatureOverrides` being made early in the sequence, but calling it later doesn't redraw.
We set t

[2022-02-25 07:57] pmconne commented on #3265
Please show your code and specify what app template you used.
@kckst8 @aruniverse  wasn't there an issue with one of the react app templates recreating the viewport after initial load?

[2022-02-25 11:40] kckst8 commented on #3265
@deanmarcussen can you try upgrading @itwin/web-viewer-react to the latest version (2.0.7)? There were some fixes related to viewport rendering that may help here.

[2022-02-25 16:36] mayank99 commented on #3197
🎉 This is now available by default in `@itwin/itwinui-react@1.32.0`. Any swatch with transparency will have a checkered background:
![image](https://user-images.githubusercontent.com/9084735/155752408-51690e9d-7065-4fa0-87fa-87399afbb877.png)

[2022-03-02 21:42] mdastous-bentley opened #3292 "Setting the background base map to a any color gives a white background"
**Describe the bug**
Using maplayers widget, switching from Bing maps to any solid color, gives a white background.

**To Reproduce**
Steps to reproduce the behavior:

1. Open ui-test-app with any imodel/bim.
2. Open map-layers widget (might me collapsed on the right side)
3. In the 'base' combo box, pick 'Solid Fill Color':

**Expected behavior**
Background color of the map should match the one s

[2022-03-02 21:47] pmconne commented on #3292
Easier repro steps:
1. Open any geolocated iModel in display-test-app.
2. Ensure the background map is enabled.
3. Key in `fdt set map base color 255 0 0`

Expect: the background should be red.
Observe: the view's own background color displays instead (not necessarily white).

[2022-03-04 19:29] kckst8 opened #4412 "Vue.js Viewer"
Create a basic Viewer sample with Vue.js

[2022-03-04 19:29] kckst8 opened #4413 "Svelte Viewer"
Create a basic Viewer sample with Svelte similar to the [Angular](https://github.com/iTwin/viewer-sample-angular) and [vanilla typescript](https://github.com/iTwin/viewer-sample-typescript) ones.

[2022-03-08 14:05] pmconne commented on #3292
This regression was introduced by @RBBentley's #2881 for model map layers.
I'll try to figure out what changed, and make sure we have tests to cover this.

[2022-03-08 15:53] #3292 closed

[2022-03-21 14:39] mdastous-bentley opened #3390 "ViewState3d.lookAtGlobalLocation won't update view unless view area is passed"
**Describe the bug**
Calling `ViewState3d.lookAtGlobalLocation` with a `GlobalLocation` parameter that does not contain an `area` property, won't update the view.

Calling `Camera.validateLens()` prior to ``ViewState3d.lookAtGlobalLocation` solves the issue.

**To Reproduce**
Please use this [sandbox ](https://www.itwinjs.org/sandboxes/MichelDastous/mapLayersExampleV1)to reproduce the issue.
Basic

[2022-03-22 07:33] deanmarcussen commented on #3265
Looks like a package update resolved the issue thanks all.

[2022-03-22 07:33] #3265 closed

[2022-03-25 09:17] deanmarcussen opened #3415 "Error loading on safari after 3.0.2 upgrade"
**Describe the bug**

After upgrading from 3.0.0 to 3.0.2 we are getting a loading error only on Safari (desktop and phone)
Chrome desktop is fine, Chrome mobile also errors

The error reported is `undefined is not an object evaluating viewport.areAllTileTreesLoaded`

**To Reproduce**

Open iModel in Safari

**Expected behavior**
Model opens. The only changes to the code is going from 3.0.0 to 3.0

[2022-03-29 13:01] Telepresent opened #3435 "How can I display sensor data values in my Digital Twin?"
Hi, I would like to see IoT sensor data values in my Digital Twin. Do you have any sample?

Regards,

[2022-03-31 13:37] mdastous-bentley opened #3453 "After rotating the globe 180 degrees, zooming-in makes background map tiles disappear"
**Describe the bug**
If you have an iModel which starting extent in USA, then trying to move into 'opposite area' (i.e. Indonesia), the background tiles become blank as you zoom in.

**To Reproduce**
Steps to reproduce the behavior:

1. Open attached iModel
2. Zoom out until you see the globe,
3. Rotate the globe 180 degrees (using the rotate tool; the middle-button pan of selection tool is unable

[2022-03-31 13:44] mdastous-bentley commented on #3453
[3b8b8e1a-70e2-4c47-a7c6-df3ec1d739f8.zip](https://github.com/iTwin/itwinjs-core/files/8389915/3b8b8e1a-70e2-4c47-a7c6-df3ec1d739f8.zip)

[2022-03-31 14:37] markschlosseratbentley commented on #3453
Filed.

[2022-03-31 14:42] aruniverse commented on #3415
Hi @deanmarcussen , can you try `3.1.0`, and if the issue still persists, let us know

[2022-03-31 16:24] FelixGirard opened #3455 "Add SweepToSolid to the PolyfaceBuilder"
**Is your feature request related to a problem? Please describe.**
I have to show the extrusion from a mesh surface.

**Describe the solution you'd like**
I would like a function `solidSweep(mesh, vector3d, wantside?)` to be added to the [PolyfaceBuilder](https://www.itwinjs.org/learning/geometry/polyfacebuilder/).
That function could take a polyface or a mesh and have an option to specify if we w

[2022-04-02 15:34] chaoslife opened #3464 "Presentation getElementProperties return null when use pkg to exe"
I use Presentation.getManager().getElementProperties to get element properties, it's ok at js,
but when I use pkg to exe, it return undefined, where did i go wrong?
(pkg -t win-x64 package.json)

others api seems well at exe file, only this api  return undefined.

and I changed it to Presentation.getManager().getContent by this: https://gist.github.com/grigasp/32131ec63c5132e7599c387e9a835330#file

[2022-04-04 05:30] grigasp commented on #3464
Hi. Most likely this happens because of missing presentation backend assets. Have a look at [`PresentationManagerProps.presentationAssetsRoot` docs](https://github.com/iTwin/itwinjs-core/blob/aac95427eefb766888b5911679cabbb3ab0dfe30/presentation/backend/src/presentation-backend/PresentationManager.ts#L166-L200) for information about where we look by default and how to specify custom paths, if nece

[2022-04-05 00:10] chaoslife commented on #3464
Okey, is this fix ths getElementProperties  or detail info lost by getContent ?

it that means I will put presentation-backend and presentation-common folders copy to ./assets/ after ncc execution ?

[2022-04-05 05:55] grigasp commented on #3464
Sorry, I don't understand what you're asking.

The assets should be at the right place at the time you're calling `Presentation.initialize`.

[2022-04-05 07:45] chaoslife commented on #3464
Sorry ,my english is not well, I attach some screenshot to descript it:
![image](https://user-images.githubusercontent.com/2386021/161704066-a8c6da83-b31e-4465-a596-90986c73db71.png)
This is js file I exported by NCC. and I put the presentations to here:
![image](https://user-images.githubusercontent.com/2386021/161704210-1b7e64e6-462f-4ef5-8915-51a8b3754e98.png)

Is this place right ? then I will

[2022-04-05 10:12] grigasp commented on #3464
As described [here](https://github.com/iTwin/itwinjs-core/blob/2f8ae50239f8b3a00528d4bec1212b266b005b69/presentation/backend/src/presentation-backend/PresentationManager.ts#L187-L191), when `presentation-backend` and `presentation-common` source is packed into a single `js` file, by default we expect to find the assets next to the `js` file at `./assets/**/*`. What I see in your screenshots doesn'

[2022-04-05 10:31] chaoslife commented on #3464
Thank you very much for the reply, now it can be solved that the single js file packaged by NCC can be executed correctly!

At present, after using PKG to package it as an EXE file, after placing the Assets folder in this EXE file, the output result is still incorrect. I will check the reason again.

[2022-04-05 10:36] grigasp commented on #3464
It looks like pkg requires special configuration to include assets into the package: https://www.npmjs.com/package/pkg#user-content-config.

[2022-04-05 13:43] #3464 closed

[2022-04-05 14:28] kckst8 opened #3468 "Javascript heap out of memory error from @bentley/react-scripts"
**Describe the bug**
When starting a web application in dev mode using @bentley/react-scripts (i.e. the iTwin Viewer starter template)

**To Reproduce**
Steps to reproduce the behavior:

1. From an application that was created from the iTwin Viewer starter template, run "npm start"

**Expected behavior**
Code compiles and the application is served on localhost:3000

**Actual behavior**
OOM error:

[2022-04-06 14:24] calebmshafer opened #3484 "iTwin.js support for Apple Silicon Mac"
The native package of iTwin.js does not currently support Apple Silicon Macs without using a Rosetta terminal in order to run the x64 version.

A new version of the Node addon needs to be created specifically for Apple Silicon native support.

### Discussed in https://github.com/iTwin/itwinjs-core/discussions/3470

<div type='discussions-op-text'>

<sup>Originally posted by **PeterJBassett** April

[2022-04-06 15:36] dassaf4 commented on #3455
Great suggestion! The native method is PolyfaceHeader::SweepToSolid(). I'll work on porting this to PolyfaceBuilder.

[2022-04-06 20:28] markschlosseratbentley commented on #3390
@mdastous-bentley  --

@Ellord207 can provide some more details about ViewSetup.getDefaultView, which your sandbox uses.  Apparently, that method results in cameras with invalid lenses being returned, which resulted in this problem.

@Ellord207 also suggested to me an alternate approach to the sandbox which would be a preferred method for opening a default view.

[2022-04-06 22:05] Ellord207 commented on #3390
The main issues seems to be 2 fold:
 - The view state being returned by `ViewSetup.getDefaultView` has an undefined lens and is initialized to 0 (an invalid value)
 - (@markschlosseratbentley can provide more info) There is a bug in `ViewState3d.lookAtGlobalLocation` that fails if the lens is invalid.

The default view of any given iModel is whatever the creator has defined.  Sometimes, it can be

[2022-04-07 14:04] aruniverse commented on #3468
Fixed & published in 3.1.2

[2022-04-07 14:04] #3468 closed

[2022-04-07 17:11] mdastous-bentley commented on #3390
All right, so my understanding is that the default view was not setup properly to support `ViewState3d.lookAtGlobalLocation`.  It would be great to get an error code that indicates `lookAtGlobalLocation` cannot perform with the current view state.

[2022-04-07 17:18] pmconne commented on #3390
There's nothing wrong with an orthographic view having an "invalid" camera.
`lookAtGlobalLocation` attempts to support orthographic views - it just doesn't do so properly and needs to be fixed.

[2022-04-08 20:13] FelixGirard commented on #3455
Thank you again for working on this. @dassaf4
Just wanted to know, do you have an ETA on this?

[2022-04-08 22:01] dassaf4 commented on #3455
Looking like a couple more days.

[2022-04-11 16:29] jptissot opened #3506 "node_modules resolution when using yarn workspaces"
**Describe the bug**
We use a custom build of itwin in our solution and recently moved to yarn workspaces.

When building the code, none of the static assets get included in the output. This is due to the `node_modules` folder being at the root of our codebase and not relative to `process.cwd()`.

I tried to fix this issue by overriding the `webpackConfig.resolve.modules` array  with `craco` but t

[2022-04-11 17:29] aruniverse commented on #3506
Hi,

This is a known issue of the copy-webpack-plugin having trouble traversing symlinks in monorepos. The recommended approach for the time being is to use the [CopyBentleyStaticResourcesPlugin](https://github.com/iTwin/itwinjs-core/blob/master/tools/webpack-core/src/plugins/CopyBentleyStaticResourcesPlugin.ts#L62). You can use this plugin by setting the `DISABLE_NEW_ASSET_COPY` in your `.env` fi

[2022-04-11 17:49] aruniverse commented on #3506
Are you running a build of your app prior to running start? The build command will actually copy the assets over

[2022-04-11 18:46] jptissot commented on #3506
The issue I think is that `process.cwd()` returns `\src\packages\itwin\` but node_modules are under `\node_modules` at the root of the solution. As soon as I removed the itwin app from yarn workspaces the assets were copied over properly.

[2022-04-11 19:34] aruniverse commented on #3506
Have you tried setting the `RELATIVE_MODULE_PATH` env var?

https://github.com/imodeljs/create-react-app/blob/imodeljs/packages/react-scripts/config/modules.js#L23

[2022-04-12 13:26] deanmarcussen commented on #3415
@aruniverse no change on `3.1.2`

[2022-04-12 15:52] aruniverse commented on #3415
I just tested this out locally and it worked fine for me on safari.

Looks like the only change you made in the viewConfiguration is:
[code]

I don't see anything glaringly wrong about that. @pmconne do you see anything that looks off?

Somehow the viewport is being undefined in the tileTreesLoaded callback. I think you could easily get around this by adding an optional chain in the if statement i

[2022-04-14 06:52] Snailya opened #3521 "Is these already deprecated?"
In iModelConsole, SELECT ECClassId FROM bis.Element will output ECClassName automaticly.
So are these deprecated?

* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: ECSQL-Built-In-functions---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/learning/ecsqltutorial/builtinfunctions/

[2022-04-14 13:53] pmconne commented on #3521
I think displaying class name instead of class Id is something iModelConsole does for your convenience, but someone like @khanaffan would know for certain.

[2022-04-14 14:11] ColinKerr commented on #3521
iModel Console does convert the ECClassId to the class name for you.  if you want to see the ECClassId rename the selected property:
`SELECT ECClassId as the_class_id FROM bis.Element`

[2022-04-18 06:32] Snailya opened #3533 "StatusBarItemsManager is DEPRECATED and use StatusBarItemsManager instead."
It seems a dead loop that StatusBarItemsManager which exntend StatusBarItemsManager that is DEPRECATED and the suggestion is to use StatusBarItemsManager instead.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: StatusBarItemsManager---appui-react-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/reference/a

[2022-04-18 13:17] pmconne commented on #3533
It wants you to use the class of the same name in the appui-abstract package instead. But that class is marked `@internal`. @NancyMcCallB @bsteinbk?

[2022-04-18 13:19] NancyMcCallB commented on #3533
@pmconne  is correct that we intended to point to the manager in appui-abstract. We'll update the docs. Thanks, @Snailya !

[2022-04-21 01:35] jptissot commented on #3506
I have not tried that. I will give it a shot. Thanks!

[2022-04-21 18:17] #3455 closed

[2022-04-26 04:59] bear1004 opened #3551 "rush cover error"
ITwin was built via "rush rebuild" command.
I ran the "rush cover" command to run the test, but an error occurred.
please can you help?

I tried in two environments.
In both environments, the build was successful, but the "rush cover" command gave an error.

Environment
OS : windows10
npm : 8.6
node : 14.17.1(LTS)

![windows](https://user-images.githubusercontent.com/62101255/165224424-18c27433-5e

[2022-04-27 09:41] ankita1286 opened #3556 "Get My Projects API retrieves all the projects though logged user is not participant of the projects"
Get My Projects API retrieves all the projects though logged user is not participant of the projects
https://api.bentley.com/projects

[2022-04-28 13:34] ImVeryLost opened #3563 "Disabling ProjectExtentsDecorations on a specific viewport"
I noticed that the ProjectExtentsDecorations get displayed on all active spatial viewports, and its impossible to disable or skip a specific one.

I currently have 2 views using the horizontal split - the "default" 3D view, as well as an additional one that displays something else. The secondary viewport is a spatial one, but the decorations/geometry displayed might placed anywhere, e.g. not insid

[2022-04-28 14:21] pmconne commented on #3563
Did you try:

[code]
?

[2022-04-28 14:31] ImVeryLost commented on #3563
I'm running the [ToggleProjectExtentsTool ](https://github.com/iTwin/itwinjs-core/blob/e0a47b42ff521849957a14df863a86252f791487/core/frontend-devtools/src/tools/ProjectExtents.ts#L99)tool as is, rather than the decoration directly.

[2022-04-28 14:34] pmconne commented on #3563
So extend or rewrite the tool, changing one word to make it use your customized decorator.

[2022-04-28 14:45] ImVeryLost opened #3564 "Notifications shaking when `IModelApp.notifications.outputMessage` is used"
**Describe the bug**
When multiple notifications are opened using `IModelApp.notifications.outputMessage`, and the top one is closed, the remaining ones visually shake for a second.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Add toolbar button sample](https://www.itwinjs.org/sandboxes/iTwinPlatform/Add%20Toolbar%20Button)
2. In the ToolbarButtonProvider displayInfoToast function

[2022-04-28 14:47] ImVeryLost commented on #3563
Considering the secondary viewport is part of a separate package than the rest of the viewer, made to be reusable and shared, that does not seem like the correct solution.

[2022-04-28 14:48] NancyMcCallB commented on #3564
We have seen this problem -- it appears to have something to do with the center justification of the messages. We have a fix in the works, but it will probably be in the 3.3 release. I'll attach this issue to our internal tracking. Thanks!

[2022-04-28 14:51] pmconne commented on #3563
Sorry, what does this mean?

[2022-04-28 14:59] ImVeryLost commented on #3563
Ah, my bad, that was not very clear. The secondary viewport is part of a separate tool, thats being developed as a separate npm package. So you can pull it and use it the same way you would pull in the ToggleProjectExtentsTool  itself, or [measure-tools](https://github.com/iTwin/viewer-components-react/tree/master/packages/itwin/measure-tools), etc, by simply importing it to any project. In other

[2022-04-28 15:09] pmconne commented on #3563
It sounds like you want a tool that allows you to specify in which viewport(s) to display the decoration. It should be easy for you to write such a tool - most of the code already exists in the frontend-devtools package.
That would make for a very nice, simple, useful [extension](https://github.com/iTwin/itwinjs-core/tree/master/core/extension). (Extensions will be ready for use soon).

Please und

[2022-04-28 15:22] ImVeryLost commented on #3563
Well, to be exact, I thought that this specific tool did not work as I expected. In my opinion, assuming that project extents are relevant to all viewports isn't completely correct, as implies that everything should be displayed within project extents and that non-project related decorations aren't valid.

Of course, that might be the case and I just misunderstood how things should work.

[2022-04-28 18:18] ImVeryLost commented on #3563
That's a fair point, its just a pity that there is no way to specify if the projects extents are relevant or not.

[2022-04-29 05:22] umerfaruque opened #3567 "The user is unauthorized. Please provide valid authentication credentials."
Hi I follow the above steps but I am getting error "Error opening the iModel connection: Unauthorized: The user is unauthorized. Please provide valid authentication credentials."  Please guide me how can I Fix it
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Developing-a-Web-Viewer---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-questio

[2022-05-10 17:26] mdastous-bentley opened #3597 "Transparency is not correctly rendered with Solid color background maps."
**Describe the bug**
Transparency value of background Map settings is not correctly rendered, only value of 0 or 1 are applied.

**To Reproduce**
Steps to reproduce the behavior:

1. Open any geo referenced imodel in display-test-app.
2. Use this key-in to set the background to solid red color: `fdt set map base color 255 0 0`
3. Open the _View settings_ menu, and turn ON _Transparency_

**Expecte

[2022-05-18 05:15] grigasp opened #3637 "Delete fields that do not contain a value in property grid"
### Discussed in https://github.com/iTwin/itwinjs-core/discussions/3632

<div type='discussions-op-text'>

<sup>Originally posted by **Mohammed-Benotmane** May 17, 2022</sup>
I am trying to remove empty fields from the property table, Example:

![empty](https://user-images.githubusercontent.com/39698080/168847115-dd2e4f1d-f1f2-495a-8295-17c8408380b4.png)

I am using code from this sandbox: https:/

[2022-05-22 10:38] sachinrajesh opened #3662 "Unable to dispatch action to store using @itwin/appui-react packages"
Unable to store data using "ReducerRegistryInstance", "StateManager" from "@itwin/appui-react".
However the same codes will run as expected using packages from "@bentley/ui-framework".
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: State---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/learning

[2022-05-23 13:07] NancyMcCallB commented on #3662
@sachinrajesh Could you drop a code snip showing how you're trying to use the store?

[2022-05-24 15:34] #3597 closed

[2022-05-24 19:50] jchick-bentley opened #3677 "New beta connector-framework package has been published!"
The connector-framework package provides interfaces, utilities, and a scaffold for writing iTwin Connectors in TypeScript.  To learn more about iTwin Connectors, please visit:

[Write A Connector - iTwin.js (itwinjs.org)](https://www.itwinjs.org/learning/writeaconnector/#what-is-a-connector)

The connector-framework package supersedes what was previously delivered in the @bentley/imodel-bridge pac

[2022-05-24 19:58] jchick-bentley commented on #3677
FYI @PeterJBassett

[2022-05-25 03:44] sachinrajesh commented on #3662
// STORE AND REDUCER
import { ActionCreatorsObject, ActionsUnion, createAction, ReducerRegistryInstance, StateManager, UiFramework } from "@bentley/ui-framework";
import { Task } from "../interfaces/Task";

interface ITasksState {
  bimTaskElements: Task[]
}

export class TasksStateManager {
  public static packageStateManagerLoaded = false;

  private static _initialState: ITasksState = {
    bim

[2022-05-25 03:46] sachinrajesh commented on #3662
The above mentioned is a working snippet.
Previously I had trouble implementing this only because the packages were imported from "@itwin/appui-react" instead of "@bentley/ui-framework".

[2022-05-25 09:13] ImVeryLost opened #3682 "Asserts thrown for pickable polyface decorations"
**Describe the bug**
In the latest versions of iTwin.js, asserts are being thrown for pickable polyface decorations, specifically when zooming far enough that they become "invisible". Issue is present only for pickable decorations.
Managed to reproduce the issue with one of the iTwin.js test apps, with a pretty minimal setup, but it is present elsewhere as well.

**To Reproduce**
1. Go to "present

[2022-05-25 11:28] pmconne commented on #3682
Thanks for the detailed issue. This would have been introduced by #3598. We'll fix it.

[2022-05-25 16:14] #3682 closed

[2022-05-26 07:27] ImVeryLost commented on #3682
Verified that it works with 3.3.0-dev.13, thank you for resolving this so quickly!

[2022-05-26 09:00] tangytang opened #3737 "Shader fails to initialize uniform variable on linux"
## Description of Problem
Unable to get Viewer App started due to error in the console:
![Screenshot from 2022-05-26 16-59-18](https://user-images.githubusercontent.com/19624580/170455508-982a1d67-a348-4b07-8f7b-6e0cdb74c4d6.png)

### Error Code

​ Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of HeaderRow which is inside StrictMode. Instead, add a ref direct

[2022-05-26 13:07] NancyMcCallB commented on #3662
I'm confused -- the above snippet works in 3.x or it worked in 2.x and doesn't work now?  (The name of the package changed from @bentley/ui-framework to @itwin/appui-react in 3.0.)

[2022-05-29 11:42] pmconne opened #3696 "Exploded view sample is broken"
**Describe the bug**
After the general-purpose backend was upgraded to 3.2, the [exploded view sample](https://www.itwinjs.org/sandboxes/iTwinPlatform/Exploded%20View) now draws gibberish graphics.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the [exploded view sample](https://www.itwinjs.org/sandboxes/iTwinPlatform/Exploded%20View)
2. Observe initially the view displays the element

[2022-05-30 15:31] pmconne opened #3700 "Transparency doesn't work on Mali-G72 chip"
As [reported here](https://dev.azure.com/bentleycs/beconnect/_workitems/edit/896519):

Open any model  (e.g. DEMO_Team_Project_001 (https://qa-construction-uks.bentley.com/d7c704fd-743b-453c-8e30-17b726688ebf/home model - "Bridge")
Select any element > on a appeared Selected menu select "Emphasize"
Actual results: Emphasize works as isolate and whole model is hided except selected element.

Reprod

[2022-05-31 13:57] markschlosseratbentley opened #3705 "Support Basis transcoding on iTwin.js frontend"
Implement support for transcoding universal super-compressed Basis textures on the frontend: [https://github.com/BinomialLLC/basis_universal](https://github.com/BinomialLLC/basis_universal%20)
This will be important when Cesium tiles offer Basis textures as an option.
We also propose that connectors for iModels should convert to Basis textures, which will also make this important.

WIP : https://g

[2022-05-31 14:01] markschlosseratbentley commented on #3705
BasisLoader.ts does this:
[code]

This dynamically loads the large .js file string and the large .wasm binary array.
However, it only loads this dynamically if the following is set in tsconfig.json:
[code]

[2022-05-31 14:03] markschlosseratbentley opened #3706 "Support loading tiles directly below camera for look and move tool"

[2022-05-31 14:17] pmconne commented on #3551
Make sure you are using latest version of iTwin.js please, or specify which version you're using.
The first error is about two processes trying to interact with the same file simultaneously. I believe it is fixed in 3.2.0.
The second is somebody wrote a test that makes bad assumptions about the date-time formatting settings of the OS. Ignore it. @NancyMcCallB @bsteinbk has this been fixed?

[2022-05-31 14:26] markschlosseratbentley opened #3707 "Element locate doesn't work with lens distortion and MSAA"

[2022-05-31 14:27] markschlosseratbentley opened #3708 "Implement maxBlendableType on WebGL capabilities"
This PR works around an issue with Safari 14 caused by blending full 32-bit float textures without the presence of EXT_float_blend: https://bentleycs.visualstudio.com/iModelTechnologies/_git/imodeljs/pullrequest/115930

We actually want to work around this in a way where we can still utilize full-float rendering when we are not going to be blending.  The goal of this backlog item is to implement a

[2022-05-31 14:29] markschlosseratbentley opened #3709 "Support vertical (Z) scaling for reality data"
It would be great if we could scale reality data in the Z dimension through some API.

For terrain and globe: this would scale the terrain and/or globe based on the imodel axis; would not stretch properly when leaving the area of the imodel and going elsewhere on the globe.  Is this desirable?

[2022-05-31 14:37] NancyMcCallB commented on #3551
@pmconne I confess I did not know this was failing. We'll get a fix in ASAP. Thanks!

[2022-05-31 14:40] markschlosseratbentley opened #3710 "Investigate seams in background map tiles when MSAA is enabled"
Determine if it's specific to certain GPUs.
Verify it only occurs when anisotropic filtering is enabled.
Consider drawing map/terrain after all other opaque geometry, without MSAA enabled.

[2022-05-31 16:05] bear1004 commented on #3551
It was almost a month ago that I tried this.  I haven't tried to update the version since the error occurred.

Is version 3.2.0 currently in "https://github.com/iTwin/itwinjs-core"? Then I'll try the latest version again.

Thank you. 👍

[2022-05-31 17:05] markschlosseratbentley opened #3712 "Detect Android properly for Samsung mobile browser"
I have attached the userAgent printouts to this defect.

The isAndroidBrowser function in ProcessDetector fails to return true on the Samsung Browser.  The current code is:
`
  public static get isAndroidBrowser() { return this.isBrowserProcess && /android/i.test(window.navigator.userAgent); }`

So it is basically checking for android in the userAgent.  See the attached the info I see on the Samsu

[2022-05-31 17:19] markschlosseratbentley opened #3713 "display-performance-test-app does not open the model for every view when using wildcard views"
Try to use wildcard views in display-performance-test-app.
Observe that the model will not open for every view.

[2022-05-31 17:23] markschlosseratbentley opened #3714 "Globe Location view navigation will take unnecessary arcs"
Summary: This only happens in this specific model when ortho mode is enabled.  Camera mode is fine.

**Can be worked around by turning on camera mode.**

Open Stadium iModel (AKA: SS_Master) in DTA

Case 1:

1. key-in: "view globe location Mexico"
2. key-in: "view globe location Texas"
3. Observe: view will navigate round the world by going east in less than a second

Case 2:

1. fit view
2. set a

[2022-05-31 17:37] markschlosseratbentley opened #3716 "Skysphere renders strangely when zoomed far out"
@RaphaelMelancon found an issue or issues with the skysphere changing shape/orientation in an inconsistent manner when moving around in the viewer and zooming very far out:

![Image](https://user-images.githubusercontent.com/47000437/171241761-32b876bc-3ddb-4271-89e3-4087be515eec.png)

[2022-05-31 17:42] markschlosseratbentley opened #3717 "Support section-cut graphics for model clips"
Currently if ClipStyle.produceCutGeometry is true then we will generate section-cut graphics at the intersection with the view clip.

We do not generate them for intersection with other clips, e.g., ModelGroupClips. We should.

[2022-05-31 17:52] markschlosseratbentley opened #3718 "Support model clip groups for reality models"
Currently ModelClipGroups only work for design models. They should also work for reality models.

The models in the groups are specified by Id. That will only work for attached reality models. For context reality models, we'd have to store something like the index in the display style's list of context reality models, and make sure to keep in sync with changes to that list.

[2022-05-31 18:06] markschlosseratbentley opened #3719 "Improve lighting support"
We could consider supporting lights similar to those supported by Three.js and MicroStation:
- point
- area
- directional

Also consider switching to PBR materials / lighting.

[2022-06-01 10:17] sachinrajesh commented on #3662
My problems went away now since I started using packages from @bentley/ui-framework.
I just wanted to point out that the package @itwin/appui-react doesn't work as expected.

[2022-06-01 10:17] #3662 closed

[2022-06-01 12:30] AlainRobertAtBentley commented on #3709
Elevation exaggeration is a feature that can be useful, but applying this Z-exaggeration to specific model elements would be complicated and not necessarily easy to grasp by a user. It would also complicate measurements. If Z-exaggeration is implemented I think it should be applied globally by adding a scale factor to the Z component of the model cartesian coordinate system. This would, of course,

[2022-06-01 13:31] #3700 closed

[2022-06-01 17:11] markschlosseratbentley opened #3726 "Angle terrain skirts"
Terrain skirts should be angled under the terrain in order to further improve rendering fidelity.  This can help further reduce visibility of seams.

[2022-06-01 17:19] markschlosseratbentley opened #3727 "Render poles properly on globe"
The poles do not render properly in the globe.  See screenshot below.  They used to render properly, but no longer do - these need to get implemented properly / fixed.

![Image](https://user-images.githubusercontent.com/47000437/171464567-aeb5ac17-6d5e-4ba8-b34a-f6511690e864.png)

[2022-06-01 17:31] markschlosseratbentley opened #3728 "Evaluate PBR"
Assume WebGL 2 only.

Evaluate the effort and tradeoffs involved in adding support for PBR materials/lighting to our display system.
If feasible, come up with an implementation plan.

As part of this:
iModels can store textures as bump maps.  If these are stored as such, they will not be rendered by iTwin.js since they are not supported.
We should add bump map rendering support to iTwin.js.

[2022-06-01 17:55] markschlosseratbentley opened #3729 "Simplify lighting by passing specular exponent as 16 bits"
We could possibly pass the specular exponent as 16 bits – 1 byte “integer” and 1 byte “fraction”.  This could be plenty of resolution for what it is being use for in the lighting.  It also is much simpler to calculate, on both ends (e.g. shader: exp = tex.x * 256 + tex.y) so saves instructions as well.

[2022-06-01 17:58] markschlosseratbentley opened #3730 "Reduce the four 32-bit values we use for the material table"
The four 32-bit values we use for the material table could be reduced by 1 or 2 (we would need to look at it closer to be sure).  This would optimize performance / memory usage.

[2022-06-02 16:05] miguelsoares1624 opened #3736 "Drape models on the terrain tool with some issues"
We’ve started using model map layers in WaterSight to drape models on the terrain surface and have noticed a possible bug. If we enable 3D terrain and rotate away from the top view, we start getting jagged lines. If terrain heights are not applied to the map, rotating the model does not cause distortion.
The drape models tool is available on version 3.1, and basically puts any imodel (such as pipe

[2022-06-02 23:06] pmconne opened #3738 "Shader fails to initialize uniform variable on linux"
Specifically Ubuntu (unknown version), Firefox, GTX 980.
Details here: https://github.com/iTwin/viewer/issues/172

[2022-06-02 23:09] pmconne commented on #3738
Duplicate of #3737

[2022-06-02 23:09] #3738 closed

[2022-06-02 23:54] pmconne opened #3740 "Shader errors should not necessarily block app startup"
**Is your feature request related to a problem? Please describe.**
See #3737 for an example. In that specific case, the graphics driver has optimized away a uniform variable. The shader presumably would still operate correctly, but the error thrown essentially terminates the application on startup.

**Describe the solution you'd like**
We do want to be notified of such errors during unit tests and

[2022-06-03 05:10] grigasp opened #3741 "Selection tree component"

[2022-06-03 12:36] pmconne commented on #3737
I am able to reproduce this on my Ubuntu box with GPU enabled. The core-frontend shader compilation tests use software rendering, which does not produce this error.

[2022-06-03 13:20] pmconne commented on #3737
Have you considered replacing this:
[code]

With this:
[code]

To accurately reflect that the result is exactly one of an item key or an error message, never both nor neither?
This also makes calling code much simpler because the compiler knows that `result.errorMessage` will be `undefined ` IFF `result.itemKey` is `undefined`.

[2022-06-03 13:59] pmconne commented on #3737
Investigation results: the problematic shader's description is "Surface: Opaque-Instanced-Pick". The vertex shader uses u_patternFeatureId to compute g_featureIndex but never forwards the result to the fragment shader, so that all gets optimized away. The fragment shader outputs zero for FragColor1 and FragColor2, instead of outputting the pick data.
The reason that element locate works for instan

[2022-06-06 15:03] pmconne commented on #3737
This was broken [3 years ago](https://dev.azure.com/bentleycs/iModelTechnologies/_git/imodeljs/pullrequest/27164). It appears that (in some/most cases?), the combination of FeatureMode.Pick and IsEdgeTestNeeded.No should be identical to FeatureMode.None - it does nothing with the features. I think possibly this is not true for classifiers?

[2022-06-06 18:55] markschlosseratbentley commented on #3740
@pmconne

@DStradley thinks this would be the fastest way to unblock the user.

Questions:
- How do we know what mode we are running in?  Production / Unit Test / Development
- How do we log the errors in production builds?

[2022-06-06 19:53] #3197 closed

[2022-06-06 22:44] pmconne opened #3752 "Support non-persistent classifier geometry"
**Is your feature request related to a problem? Please describe.**
Currently classifying a reality model or defining a clip mask for terrain or reality models requires the geometry to be obtained from the elements in a model stored in the iModel. This makes it impossible to do ad-hoc classifications using geometry created on the front-end, including classifying reality models in the absence of any

[2022-06-06 22:51] pmconne opened #3753 "Skybox flickers while viewports are synchronized"
**Describe the bug**
When two or more viewports are synchronized using `TwoWayViewportSync`, `TwoWayFrustumSync`, or `connectViewports` when navigating one of the viewports the skybox in the other viewport(s) flickers.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a view in display-test-app with skybox enabled.
2. Clone the viewport using ctrl-\.
3. Key in `dta viewport sync`
4. Navi

[2022-06-07 11:20] #3696 closed

[2022-06-07 13:40] pmconne commented on #3736
I can reproduce the problem in display-test-app if I attach the layer as an overlay instead of background layer. WaterSight attaches overlay layers.
@miguelsoares1624 please confirm the problem no longer occurs if you attach background layers instead.
@mdastous-bentley do you understand what if any difference there is between draping an overlay and background model map layer? [The documentation](h

[2022-06-07 14:19] anthony-barletta commented on #3736
@pmconne The problem no longer occurs when we attach background layers.

[2022-06-07 14:33] #3736 closed

[2022-06-07 23:16] #3740 closed

[2022-06-08 17:49] markschlosseratbentley opened #3764 "Enhance area patterns"
This work item contains various area pattern enhancements.

- Outlines should be visible for hatched areas: See comment in Polyline.ts "Only display the outline if Fill is off..." which came from CachedGeometry.cpp in bim02.  See: https://bentleycs.visualstudio.com/iModelTechnologies/_workitems/edit/459479

[2022-06-08 17:50] markschlosseratbentley commented on #3764
[TestHatchOut.zip](https://github.com/iTwin/itwinjs-core/files/8863901/TestHatchOut.zip)

[2022-06-08 18:04] markschlosseratbentley opened #3765 "When fitting a hypermodeling view, 2D graphics ranges are ignored"
We fit to the range of a clip volume, but the 2D graphics can extend outside of that range (they are unclipped). Fitting the view can therefore cause 2D graphics to be clipped by the window boundaries.

[2022-06-08 18:29] markschlosseratbentley opened #3766 "Enhance InteractiveEditingSession"
This item contains various possibilities for enhancing InteractiveEditingSession.

---

**Improve InteractiveEditingSession docs**

Move APIs from alpha to beta.
Produce a concise description of how interactive editing works and how apps should use it.

---

**InteractiveEditingSession should support plan projection settings**

Graphics produced for elements belonging to a plan projection model sh

[2022-06-09 02:19] calebmshafer commented on #3551
@bear1004 yes, this repository has it's `master` branch currently working on the 3.3 release but if you'd like to test out from a 3.2.0 set of the source you can check out to the git tag, `git checkout tags/release/3.2.0`.

[2022-06-09 02:20] calebmshafer commented on #3415
@deanmarcussen did @aruniverse's suggestion help with fixing the issue?

[2022-06-09 02:24] calebmshafer commented on #3506
@jptissot did @aruniverse's suggestion resolve the issue?

[2022-06-09 02:24] #3506 closed

[2022-06-09 02:27] calebmshafer commented on #3567
@umerfaruque can you please provide the version of iTwin.js and the iTwin Viewer you're using? In addition, could you please provide the x-correlation-id, from the network tab in dev tools, for the failed request?

[2022-06-09 05:44] bear1004 commented on #3551
@calebmshafer hi

thanks for letting me know.
I am a graduate student at Gyeongsang National University.

I'm currently doing performance analysis on a digital twin.

While researching currently publicly available and commercially available digital twins, I came across a platform called itwin.

I want to measure Twin's data transfer rate.

So I ran the ITwin tutorial but got an error.
"https://www

[2022-06-09 12:53] saskliutas opened #3768 "[ControlledTree] Add support for nodes with disabled selection"
Need to add ability to specify that some nodes in the tree are not selectable. They should not be included in the list of selected nodes when emitting selection events.

Nodes with disabled selection should be handled correctly when they are in the range of nodes selected with SHIFT selection.

[2022-06-09 23:58] DStradley commented on #3737
@pmconne @markschlosseratbentley - I looked at the output glsl, the hlsl, and the compiled assembly for Angle for this case and it is fully optimized.  The way Angle and D3D work, it does leave the u_patternFeatureId in the uniform table, but marks it as unused (which is why we don't get a uniform error).  All references, calculations, texture lookups for calculations, etc. have been removed.  I s

[2022-06-10 11:43] markschlosseratbentley opened #3773 "Unused uniform created for certain shader variation"
The problematic shader's description is "Surface: Opaque-Instanced-Pick". The vertex shader uses u_patternFeatureId to compute g_featureIndex but never forwards the result to the fragment shader, so that all gets optimized away. The fragment shader outputs zero for FragColor1 and FragColor2, instead of outputting the pick data.
The reason that element locate works for instanced surfaces anyway is

[2022-06-10 11:44] markschlosseratbentley commented on #3737
Closing this because #3754 is merged and fixed the issue. Related issue #3740 has been also closed. I have created #3773 to track any remaining work based on the comments from @DStradley above.

[2022-06-10 11:44] #3737 closed

[2022-06-10 11:54] grigasp opened #3774 "Provide more details for path arguments in `PresentationManagerProps`"
Based on https://github.com/iTwin/itwinjs-core/discussions/3511#discussioncomment-2558620.

Provide more details regarding path arguments in [`PresentationManagerProps`](https://github.com/iTwin/itwinjs-core/blob/253f684164ce636232c675df9f889f1488698b64/presentation/backend/src/presentation-backend/PresentationManager.ts#L165):
- when relative, how are they resolved?
- when looking for rulesets, w

[2022-06-10 11:56] grigasp opened #3775 "Add walkthrough documentation for properties sorting"
Add documentation for showing:
- how properties sorting in table and property grid works
- how to control it

[2022-06-10 11:58] grigasp opened #3776 "Property Grid: Stepping through adjacent filtered matches doesn't work"
**Repro:**
1. open presentation-test-app
2. open the default sample imodel, use Items ruleset
3. in the tree view filter, enter "e"
4. step through filter matches until two adjacent "e" are found
5. try to step through them - notice that they're handled as one match

[2022-06-10 11:59] grigasp commented on #3776
The issue is in third-party library: react-highlight-words, described here: https://github.com/bvaughn/react-highlight-words/issues/68.

Looks like it's not going to be fixed. Need to consider forking and fixing ourselves or looking for another library.

[2022-06-10 12:04] grigasp opened #3777 "Unable to hilite elements under grouping nodes when a grouping node is selected"
**Repro:**

1. Select some grouping node in a tree
2. Request hilite list - it should return all ECInstances under that grouping node, but doesn't

**Investigation notes:**

When doing Node -> ECInstance lookup, our locater uses the 'current' ruleset which is the 'HiliteList' ruleset. The node was created with a different ruleset, so it's not found for the hilite list one. If we don't find the nod

[2022-06-10 12:11] grigasp opened #3778 "Allow using comments in presentation rules' json files"
At the moment the ruleset json files are parsed using string JSON rules, which means we can't use comments. Supporting that would be very useful as it would allow adding more details why each rule / attribute was added.

[2022-06-10 12:14] grigasp opened #3779 "Investigate possibility to remove assets' requirement on the backend"
The static assets' requirement introduces several problems:
- consumers need to make sure they're delivered to the right place
- consumers need to make sure presentation backend is initialized correctly for it to find the assets

It seems dropping this requirement is not impossible - need to investigate ways to do this.

Also see this: https://github.com/imodeljs/desktop-starter/pull/71.

[2022-06-10 12:26] kabentley commented on #3779
possibly this can be addressed by using a "presentation workspace," like we do for the GCS data?

[2022-06-10 12:42] grigasp opened #3780 "Nodes and count mismatch when hiding similar ancestors"
**Repro:**

1. Open [this](https://presentationruleseditor.bentley.com/open-imodel?iTwinId=b27dc251-0e53-4a36-9a38-182fc309be07&iModelId=f30566da-8fdf-4cba-b09a-fd39f5397ae6#editor/N4IgTgrgNgpgzjALiAXCYAdAdgAhxkASwBMCV8QAFAZQIBps8DJY4ycBtRvHTXHpuGgwAKgE8ADjHYEASgHt5iAHLzi8etwEE4UgMaEAZoT0BDRIXlY2qTloG97Dirph7xUmSACS1xKaw9GFV1OAB5Q2p9IxMAYShTOAQbBn5nQT0EpI1bPnSHHT0ACxgAW1NlU1LpWwIAIUI4WPkwGtT87RBMx

[2022-06-10 12:46] grigasp opened #3781 "Attempt to restart connection to iModel if it becomes invalid"
It seems sometimes something happens to our SQLite connections on worker threads so that they become unusable - our transactions and steps start failing. We should try to re-open the connection before returning an error in these situations.

[2022-06-10 12:48] grigasp opened #3782 "Add integration tests for CategoriesTree"
Add some tests for CategoriesTree that uses real iModel instead of mocking all data

[2022-06-10 12:51] grigasp opened #3783 "Do not finalize all nodes when locating a node"
Currently when locating a node in non-existing hierarchy we finalize all nodes that we traverse. Finalization involves applying customization rules and determining whether the node has children, so it might be expensive. We should stop doing that and finalize only if we really need to.

[2022-06-10 12:52] grigasp opened #3784 "Requests suspend / resume"
There will always be a way to create a ruleset that will cause performance problems - we don't want them to block the whole backend - need a way to suspend handling of the request and give space for other requests and resume it afterwards.

See how quotas are implemented in ECDb's query API. Especially what happens if the query doesn't return a single row before it hits a timeout.

[2022-06-10 12:56] grigasp opened #3785 "Ability to create selection scopes using presentation rules"
Currently we support a number of hardcoded selection scopes. We would be way more flexible if consumers could create them using presentation rules.

[2022-06-10 12:57] grigasp opened #3786 "Add an option to apply content modifiers to nested content"
Currently related properties defined in content modifier rules are only applied to displayed instance but not related instances. In most cases, when showing related instance properties, we also want to apply them to all nested content. Need an attribute for that

Need to decide whether the flag should be on ContentModifier (e.g. `applyOnNestedContent`) or RelatedProperties spec (e.g. `applyContent

[2022-06-10 12:59] grigasp opened #3787 "`InstanceLabelOverride` doesn't work with point properties"
Statement fails to prepare if the query is created using `InstanceLabelOverride` with a point property.

[2022-06-10 13:01] grigasp opened #3788 "Support accessing relationship property values when creating hierarchies"
Consumer has a schema with `A -> ARefersToB -> B` relationship, where the relationship has properties of its own. Consumer wants to create a hierarchy where A is a parent and B is a child and associate B nodes with relationship property value (possibly through extended data).

While at this, we should also make sure we allow using relationship properties in instance filter.

[2022-06-10 13:10] grigasp opened #3789 "Duplicate node keys when using similar rules / specifications"
**Repro:**

1. Open [this](https://presentationruleseditor.bentley.com/open-imodel?iTwinId=b27dc251-0e53-4a36-9a38-182fc309be07&iModelId=f30566da-8fdf-4cba-b09a-fd39f5397ae6#editor/N4IgTgrgNgpgzjALiAXCYAdAdgAhxkASwBMCV8QAFAZQIBps8DJY4ycBtRvHTXHpuGgwAKgE8ADjHYEASgHt5iAHLzi8etwEE4UgMaEAZoT0BDRIXlY2qTloG97Dirph7xUmSACS1xKaw9GFV1OAB5Q2p9IxMAYShTOAQbBn5nQT0EpI1bPnSHHT0ACxgAW1NlU1LpWwIAIUI4WPkwGtT87RBMx

[2022-06-10 13:18] grigasp opened #3790 "Indexed property categories for x-to-many related instance properties"
In cases when we have multiple related instances to load properties from, we display them as struct arrays where each struct represents a related instance:
![image](https://user-images.githubusercontent.com/35135765/173072678-1e4a6214-fa72-4772-b378-045b9e4acae4.png)

That doesn't work well if we want a custom renderer for the related properties or nested related properties.

A possible solution i

[2022-06-10 13:24] grigasp opened #3791 "`InstanceLabelOverride` with empty composite value creates empty labels"
Empty label is produced when `InstanceLabelOverride` is used with `CompositeValueSpecification` without any parts or all parts results in empty strings. `Not Specified` string should be used as label in those cases.

**Note:** this issue can't be reproduced in PRRE due to default BIS rules supplying non-empty label overrides.

[2022-06-10 13:26] grigasp opened #3792 "Get rid of enums in rule definitions"
Deprecate enums in rule definitions in favor of string unions. That would make it easier to copy/paste the rules between JSON and typescript and would require less imports when defining rules in typescript.

[2022-06-10 13:29] grigasp opened #3793 "Unify grouping rule attributes"
Currently we don't give much control over how grouping nodes are handled:
- label grouping nodes are **not** displayed when there's only one grouped item or have no siblings
- property grouping nodes can be either created or not based on the number of grouped items
- class grouping nodes give no control at all

Need to unify the control options.

[2022-06-10 13:33] grigasp opened #3795 "Grouping rule to create class hierarchy"
Consumer wants to create nodes' hierarchy that represents the class hierarchy. However, the class hierarchy is not known at design stage - users can create their own classes, so they need ability to create a class hierarchy by specifying a base class. E.g. the rule specifies `BaseClass` and the hierarchy is built like this:

- BaseClass
  - DerivedClass1
    - DerivedClass1.1
      - Instance1

[2022-06-10 13:36] grigasp opened #3796 "Improve telemetry capturing"
Need a way to gather telemetry information, especially:

- what requests are being made and how long they take
- what rules/attributes are being used

Our current `@alpha` diagnostics' API could probably be enhanced for this.

[2022-06-10 13:39] grigasp opened #3797 "Rework hierarchies' filtering"
Our current approach to hierarchies filtering doesn't scale - need to rework it to make sure filtering the hierarchy doesn't require building it all from the top. We should also allow filtering not only by label, but also by `ECInstanceKey`.

[2022-06-13 06:45] grigasp commented on #3779
At the moment our backend uses 2 types of assets:
- Localization files.
- Default BIS presentation rules for calculating instance labels, setting up sources for related properties, etc.

We have a [work item](https://github.com/iTwin/itwinjs-backlog/issues/119) to stop localizing data on the backend and instead defer that to the frontend. That would remove the need of static localization files on

[2022-06-14 21:16] DStradley commented on #3773
Here is a list of the 224 shaders that currently have uniforms that are marked unused:
[_UnusedUniformsList.txt](https://github.com/iTwin/itwinjs-core/files/8903974/_UnusedUniformsList.txt)

There are 3 uniforms involved:

[2022-06-15 13:40] grigasp opened #3817 "Support suspending/restoring presentation tree state"
In some cases there's a need to suspend tree state before a component unmounts and restore it afterwards when a component mounts. The presentation-driven trees currently don't support this. It seems the following things need to be added:
- [ ] Allow constructing `MutableTreeModel` out of an immutable `TreeModel`.
- [ ] Allow users to provide their own `TreeModelSource` to `usePresentationTreeNodeL

[2022-06-16 16:18] bingjiez opened #3825 "Presentation NavigationPropertyInfo Type Mismatch"
**Describe the bug**
A new field 'NavigationPropertyInfo' was added to descriptor returned by presentation. It has a property 'classInfo' which is defined as ClassInfo type. But presentation api returns a string for this field.
![image](https://user-images.githubusercontent.com/88792140/174116807-8111014f-39ac-4924-bf08-ecbf7d00585c.png)
![image](https://user-images.githubusercontent.com/88792140/

[2022-06-17 13:32] pmconne opened #3828 "Add an API to query whether a Viewport's scene is complete (tiles done loading)"
**Is your feature request related to a problem? Please describe.**
As described in #3827, we want to read the viewport's image but we have no straightforward way of determining if the image will contain the complete scene or if some geometry will be missing or unrefined.

**Describe the solution you'd like**
A function that will return true if the viewport's scene is complete, such that we can def

[2022-06-17 15:50] Josh-Schifter opened #3829 "An efficient way to emphasize the intersection of Model and Category"
Presently, the HiliteSet support for models and categories is in beta.  However, this behavior acts as a union.  This request is for a way to highlight, for example, all the elements from Model A that are also on Category X, but NOT the elements from Model A that are on Category Y.

Currently this can be accomplished by querying for the list of elements and adding them to the HiliteSet individuall

[2022-06-20 02:18] pauljneville commented on #3567
I am also getting this error.
I don't know how to find the version of iTwin.js or how to find the version of iTwin Viewer that I am using.
The x-correlation-id, from the network tab in dev tools, for the failed request is 36e43c83-a968-47d3-957c-d4a23c2dc4ea

[2022-06-20 10:54] saskliutas commented on #3825
[PresentationRpcInterface](https://github.com/iTwin/itwinjs-core/blob/9a26879daffa15279d2904c52743b582a807dbbc/presentation/common/src/presentation-common/PresentationRpcInterface.ts#L189) returns descriptor in JSON form which type is defined as [DescriptorJSON](https://github.com/iTwin/itwinjs-core/blob/9a26879daffa15279d2904c52743b582a807dbbc/presentation/common/src/presentation-common/content/D

[2022-06-20 16:45] #3825 closed

[2022-06-23 14:54] Adnan-Ulhaq opened #3856 "Element exhibits incorrect transparency"
Transparency of element is not visible if you look into this top slab. See below snapshot from MS and  Design Review.

See 'Nako-Image1.PNG' and 'Nako-Image2.PNG'.
![Nako-Image1](https://user-images.githubusercontent.com/107482676/175329356-7d2c95f3-2edc-4e9f-8a10-2244621e0fe7.png)
![Nako-Image2](https://user-images.githubusercontent.com/107482676/175329368-abb6b6ce-aabe-497e-a631-a441374a79ed.png

[2022-06-23 14:58] pmconne commented on #3856
Steps 1 and 2 don't mean anything to us.
Please provide the .bim file and the .dgn file.

[2022-06-24 06:27] ovaisa opened #3859 "Graphical anomalies with classifier hilite"
Our app is using a reality model with an underlying classifier model for classification of equipment.  In some cases, when I select an equipment on the reality model, the selection also shows random lines.  Please see the selected area hi-lighted in blue in the image below:

![Classifier-Selection](https://user-images.githubusercontent.com/83007711/175470673-72b5c3a1-4b26-4ef1-9156-5b1b485524fa.JP

[2022-06-24 08:17] ovaisa opened #3860 "Mask is showing reality mesh that was not in selection"
We are using inverted mask capability in iTwin to isolate and display specific pipe runs in our reality model. We have an underlying iModel that is used as classifier to select the pipe run in the reality model.

![ElementSelection-2](https://user-images.githubusercontent.com/83007711/175489105-e0406a23-458e-4f8d-9a46-eb3af17c6cb3.JPG)

This the associated classifier model. showing the selected el

[2022-06-24 10:13] pmconne commented on #3859
@MarcNeely do you have an explanation for this behavior? As far as I can tell all of the classifier elements highlighted in the screenshot are fully closed volumes.

[2022-06-24 13:02] MarcNeely commented on #3859
Hmmm, I can't really tell from the image what's going on.  Is this new behavior?  Does it happen with any other models?  I'll try to pull this model & take a look at it.

[2022-06-24 13:16] ovaisa commented on #3859
We started noticing this after an update of 2.x.  As 3.x was close to release at that point, I wanted to wait to see if this would be fixed in 3.x.  This is the only model we are working with, so I can't comment if it happens with other models but there are several other locations/components in this model where this issue occurs.

[2022-06-27 20:03] achrysaetos commented on #3737
We also fixed the findDOMNode warning in the console with https://github.com/iTwin/viewer-components-react/pull/283.

[2022-06-28 08:13] ImVeryLost opened #3873 "Widgets that use stateFunc get added to the left panel, even with a different location specified"
**Describe the bug**
Widgets that go from hidden to open/closed visibility state always get added to the left panel, even when a different location is specified. If the default state is "closed" or "open", or if the `stateFunc `is not used, the widget gets added to the expected location.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the itwin.js sample: https://www.itwinjs.org/sandb

[2022-06-28 13:27] NancyMcCallB commented on #3873
The stateFunc has been a source of confusion for a number of our users. It is a UI 1.0 concept that was not properly marked in the interface as deprecated, though it will be properly marked in the next release. To get this behavior with the UI 2.0 interface, use the method here: https://www.itwinjs.org/sandboxes/NancyMcCall/Hide%20and%20Show%20Widget%20as%20Desired

The behavior you're seeing with

[2022-06-28 15:02] ImVeryLost commented on #3873
Thank you for the sandbox, the same approach fixed all issues i had with the layout!

Bit off topic - is it known that the sandboxes don't run in Firefox browser anymore? Not a super pressing issue, but might be worth looking into.
![image](https://user-images.githubusercontent.com/61872067/176212860-1fbe3963-fd36-4a81-97b8-1af47a45a8f5.png)

[2022-06-28 15:02] #3873 closed

[2022-06-28 15:05] NancyMcCallB commented on #3873
@Josh-Schifter Do we know about the Firefox issue?

[2022-06-29 07:09] grigasp opened #3879 "Fix flaky MacOS x64 test"

[2022-06-29 18:32] markschlosseratbentley opened #3883 "Clip 3D volumes of a model based on geometry of one or more elements"
Request: clip 3d volumes of a model based on geometry of one or more elements.

To solve this, we could obtain the geometry of a specified set of elements as polyfaces.  We could produce a ClipVector from them (one clip plane per facet), then use the ClipVector to clip the model.

A key aspect of this is that this should be an enterprise solution, not hard-coded for certain elements.

See [this di

[2022-06-29 19:08] markschlosseratbentley commented on #3883
We should consider an alternate approach than just getting polyfaces from elements.  It can result in many clip planes and they would not necessarily be convex except for very simple geometry.

Perhaps just getting the bounds of the element and clipping based on that could be enough.

[2022-06-29 19:10] pmconne commented on #3883
Element bounding boxes will not suffice - that is what they thought we were suggesting, and pointed out that the bounding box of e.g. a long curvy pipe will be a poor substitute for the actual geometry.

[2022-06-30 17:34] MichaelBelousov opened #3887 "Renderer crash on ubuntu firefox on master"
**Describe the bug**
Render crashes when using display test app in firefox dev on ubuntu linux.
Crash stacks are in the screenshots below. Works fine on chrome

**To Reproduce**
1. Use firefox dev (see version below)
2. run the display test app web backend: `cd test-apps/display-test-app && rushx start:servers`
3. Open `http://localhost:3000` in firefox

**Expected behavior**
Viewport opens and I

[2022-06-30 17:36] pmconne commented on #3887
Please go [here](https://connect-imodeljscompatibility.bentley.com/) and paste screenshot of page.

[2022-06-30 17:38] MichaelBelousov commented on #3887
![image](https://user-images.githubusercontent.com/16315257/176742183-5daf1897-431c-4131-ab2b-854b70eb6eef.png)

[2022-06-30 17:40] MichaelBelousov commented on #3887
[glxinfo.txt](https://github.com/iTwin/itwinjs-core/files/9022119/glxinfo.txt)

[2022-06-30 17:41] pmconne commented on #3887
Be specific about what iModel to open.

[2022-06-30 17:42] MichaelBelousov commented on #3887
any iModel I've tried. Reproduced with `small_building.bim`, a converted bim from synchro pro training material containing a schedule script, and a much larger iModel.

[2022-06-30 17:42] pmconne commented on #3887
Supply small_building.bim.

[2022-06-30 17:47] MichaelBelousov commented on #3887
[test.zip](https://github.com/iTwin/itwinjs-core/files/9022149/test.zip)
here is test.bim which is the synchro converted model, the one I can share at the moment.

[2022-06-30 17:51] pmconne commented on #3887
No repro with small_building.bim (or any other iModel I've tested) on Ubuntu 20.04 in Firefox 101.0.1 20220608170832 20220608170832. RTX 2080.

How did you build -- did you do `build:ci`? Can you get a better callstack?

[2022-06-30 18:12] MichaelBelousov commented on #3887
It works after restarting the frontend web server.
Also this laptop+OS has had issues with exhausting gl contexts after being left on a long enough time, but there are usually telltale signs and iirc `glxgears` will fail if that is the case and at least now, although I didn't test while it was failing, `glxgears` works fine.

[2022-07-01 00:13] MichaelBelousov commented on #3887
I just got the same thing in chrome after scrolling in and out of a very large model for a while while using a local backend and the web frontend of display test:
![image](https://user-images.githubusercontent.com/16315257/176798330-76b82e17-9168-4feb-9fb8-4e3baf37dd2d.png)

[2022-07-01 10:55] ImVeryLost opened #3889 "PolyfaceClip.clipPolyfaceClipPlaneWithClosureFace does not build a closure face."
**Describe the bug**
Using `PolyfaceClip.clipPolyfaceClipPlaneWithClosureFace` results in a polyface that is missing a face where the orginal polyface was clipped.

E.g.
Clipping boxes:
![image](https://user-images.githubusercontent.com/61872067/176875593-16705525-8a2b-4a9f-ae13-5150bed4a1f0.png)
Will result in:
![image](https://user-images.githubusercontent.com/61872067/176875645-07c79484-67f9-4d

[2022-07-01 10:58] pmconne commented on #3889
@ImVeryLost the expected behavior sounds reasonable to me -- thanks for the detailed bug report.
@dassaf4 can you take a look please?

[2022-07-01 14:44] ImVeryLost opened #3891 "MiteredPipes with small radius do not render completely"
**Describe the bug**
When displaying polyfaces created using 'addMiteredPipes', some faces do not render properly if the pipe radius is very small (10-25mm).  iTwin.js sandboxes don't render the pipes at all (when radius is <=10mm), even after zooming in...

Pipe with 0.05m radius:
![image](https://user-images.githubusercontent.com/61872067/176913004-b426d342-c65c-45bb-86e9-b7f6418e1c94.png)

Pipe

[2022-07-01 15:34] Ellord207 opened #3892 "Status bar's "Snap Modes" not having expected effect"
The "Snap Modes" menu is not having the expected effect on tools. This behavior is different than what is observed in Design Review.

**Steps:**

Open viewer app with default ui or [Frontstage Sample](https://www.itwinjs.org/sandboxes/iTwinPlatform/Viewport%20Frontstage).
Start "Measure Tool"
Open "Snap Mode" menu
Select a different mode than "keypoints"

**Expected:**

The measure tool snap will

[2022-07-01 16:00] dassaf4 commented on #3889
@ImVeryLost good find, and your test code is much appreciated! There's a bug in the clipper when the target polyface is disconnected. I will work on fixing this. In the meantime, if you clip each box separately instead of combining them in the builder, you will get a closed result.

[2022-07-01 19:35] markschlosseratbentley commented on #3887
@DStradley can you see if this happens in your GUI Linux VM?

[2022-07-01 20:29] kckst8 opened #3894 "Use Vite for display test app"
Replace usage of react-scripts in [display-test-app](https://github.com/iTwin/itwinjs-core/tree/master/test-apps/display-test-app) with [Vite](https://vitejs.dev/). Read the README.md file within the app for instructions on how to run and build for web and/or desktop (electron). Ensure that all works with Vite. The frontend should use Vite, but the backend scripts can remain as is and they are set

[2022-07-01 20:36] pmconne commented on #3894
Please update description to indicate the motivation behind and ramifications of this change.

[2022-07-04 06:15] ImVeryLost commented on #3889
The main use case where I am encountering this issue isnt combining separate polyfaces in the builder, but clipping more complicated polyfaces which become separated after one of the clips.
E.g.

Clipping a "star" polyface:
![image](https://user-images.githubusercontent.com/61872067/177092048-a2053c90-0536-4b5f-ad85-5ee2ec47e282.png)

First I clip one end, which disconnects the polyface:
![image](

[2022-07-06 10:08] pmconne commented on #3859
@markschlosseratbentley @MarcNeely.
@ovaisa do you recall (roughly) which version of 2.x you were using when it worked and which version you upgraded to in which it broke?

[2022-07-06 13:27] markschlosseratbentley commented on #3859
@ovaisa We have scheduled this item for investigation.  Thanks.

[2022-07-06 14:02] pmconne commented on #3891
Hi,

When GraphicBuilder creates meshes from the geometry supplied to it, it needs to know a chord tolerance indicating the level of detail to use. By default, this is computed automatically based on the geometry's position within the viewport -- the further it is from the camera, the less detailed it will be. For the 10mm pipe, your pipe builder is producing many very small facets (12 around each

[2022-07-06 16:40] dassaf4 commented on #3889
Thanks for the additional info, @ImVeryLost . The bug is in the processing of disconnected loops created by the intersection of a polyface with a plane. So the problem can indeed arise when clipping a fully connected non-convex mesh.

[2022-07-06 22:36] pmconne commented on #3859
@ovaisa is it possible to provide access to the project to @MarcNeely so that he can investigate?

[2022-07-07 08:16] ImVeryLost commented on #3891
@pmconne thank you for the detailed explanation! I will look into computing custom chord tolerance. I am already using the createGraphic locally, so hopefully it will be straightforward.
I have tried displaying edges in the past, same way the GeometryDecorator does in the sample, but unfortunately, it lead to a significant performance drop, and the application became laggy whenever there were more

[2022-07-07 08:30] #3891 closed

[2022-07-07 11:24] ovaisa commented on #3859
Done, access granted to the project and iModel and also the DGN mailed to Marc.

[2022-07-07 12:41] calebmshafer commented on #3892
@bbastings @NancyMcCallB can you take a look?

[2022-07-07 20:13] MarcNeely commented on #3859
OK, I got the dgn model and have access to the project.  I downloaded the bim using imodel-downloader from the following url: https://connect-imodelweb.bentley.com/imodeljs/?projectId=d20678d8-ad8c-4732-a32f-5ec62e2befc0&iModelId=f78835ef-ff39-40e5-87fa-ccc55b0016b6&ChangeSetId=a49bef3a25cbe760560a79b69665993c6b72e013.

Unfortunately what got downloaded appears to be an empty .bim file.  Its size

[2022-07-11 09:03] ImVeryLost opened #3915 "Formating quantities results in absolute value"
**Describe the bug**
I am trying to add a custom quantity type: Temperature. I'm providing a `CustomQuantityTypeDefinition `as well as a `UnitsProvider` that creates the `UnitConversion`, but doing the actual conversions/formatting with `ModelApp.quantityFormatter.formatQuantity`.

I noticed that if the value in persistence units is positive, the result value will also be positive, even when it sh

[2022-07-11 11:57] pmconne commented on #3915
@ColinKerr @NancyMcCallB see [Formatter.formatQuantity](https://github.com/iTwin/itwinjs-core/blob/f5a17d4dc0b4e1ba61d918a9fb2325062795c91c/core/quantity/src/Formatter/Formatter.ts#L390) where sign obtained from input is applied to output.

[2022-07-11 18:27] pmconne opened #3917 "Permit instancing with schedule scripts"
**Is your feature request related to a problem? Please describe.**
Currently, instancing is prohibited when rendering a view with a schedule script. This requires loading special tiles which are unlikely to be pregenerated or cached.

**Describe the solution you'd like**
Remove this constraint by enhancing the vertex table splitting code to split instances and to support area patterns (which are c

[2022-07-11 18:30] pmconne opened #3918 "Split vertex tables in background threads"
**Is your feature request related to a problem? Please describe.**
#3428 changed the way we apply schedule scripts to tiles -- instead of obtaining custom-made tiles for each schedule script, we obtain normal tiles and split their contents up on the frontend based on the script. This introduces additional processing overhead on the frontend which can induce delays before the tiles are ready for di

[2022-07-11 18:33] pmconne opened #3919 "Query transform node ranges for schedule scripts"
**Is your feature request related to a problem? Please describe.**
#3428 moved processing of schedule scripts from backend to frontend. The previous implementation would provide, for each transform node, the union of the ranges of the elements comprising that node. This range is critical for culling tiles that cannot intersect the node, eliminating unnecessary processing and tile requests. Now, su

[2022-07-11 19:06] #3859 closed

[2022-07-11 19:08] markschlosseratbentley opened #3920 "Document constraints of volume classifiers"
References need to explain all the constraints for volume classifiers:

API reference for spatial classifiers: https://www.itwinjs.org/reference/core-common/displaystyles/spatialclassifier/
learning articles about features of display system: https://www.itwinjs.org/learning/display/classification/

[2022-07-11 19:41] ColinKerr commented on #3915
Thanks for reporting this and providing a nice test case, @ImVeryLost.  I have labeled this issue as a bug, I will provide a schedule update once we have done triage and we know what release a fix will be included in.

We provide another unit provider which can load unit definitions from an ECSchema: [SchemaUnitProvider](https://github.com/iTwin/itwinjs-core/blob/master/core/ecschema-metadata/src/

[2022-07-12 07:01] ImVeryLost commented on #3915
@ColinKerr Thank you for letting me know about the SchemaUnitProvider. It is still missing some quantities we would like to use (e.g. measuring force in [kips ](https://en.wikipedia.org/wiki/Kip_(unit)), and [moment ](https://en.wikipedia.org/wiki/Newton-metre)in Kip-meters, [stress quantity](https://en.wikipedia.org/wiki/Stress_(mechanics)) is not in at all), but it is still useful to know. Just

[2022-07-12 14:24] ColinKerr commented on #3915
There should be 100% overlap between the units defined in the `BasicUnitsProvider` and the units defined in the standard Units schema.  Other units could be defined in other schemas stored in an iModel or another schema provided outside of the Model.  So the `SchemaUnitsProvider` will cover all units from the `BasicUnitsProvider` if it can find the standard Units schema.  It can support any number

[2022-07-12 14:58] ImVeryLost commented on #3915
...My apologies, I 100% mixed that up with kip-feet.

Thank you for the detailed explanation! This definitely answered most of my questions. I will have to think a bit if we want to use the more technically correct approach and define separate conversions for "stress", but other than that it sounds like it is all covered in the existing units schema.

For US Survey vs Us custom units, I understand

[2022-07-13 15:39] MarcNeely commented on #3920
Changes were made to the API reference and the learning article on display/classification.

[2022-07-13 15:39] #3920 closed

[2022-07-14 10:42] ImVeryLost commented on #3889
@dassaf4 Do you know which version of @itwin/core-geometry will contain the fix? 3.2.5 still seems to be affected by the bug

[2022-07-14 10:47] pmconne commented on #3889
The fix was scheduled for inclusion in 3.3.0 but we will backport it to 3.2.6 for you.

[2022-07-14 10:49] ImVeryLost commented on #3889
@pmconne that would be great, thank you!

[2022-07-15 07:36] grigasp commented on #3796
Here's what changed I think are needed for performance diagnostics:
- [ ] Add ability to filter-out diagnostics scopes based on duration. E.g. diagnostics props now accept a `perf: boolean` attribute. We should add an option to specify duration instead of boolean and only include scopes that take longer than given duration.
- [ ] Once a backend request is handled and we receive diagnostics, need a

[2022-07-15 13:30] NancyMcCallB commented on #3892
Aha! Looks as though this was fixed recently, in this PR: https://github.com/iTwin/viewer/pull/199, that's why it looks fine to me in the source.
Updating to the latest Viewer source should fix things.

[2022-07-15 13:31] #3892 closed

[2022-07-19 16:52] markschlosseratbentley opened #3946 "Reality data should cast shadows"
This sample (https://www.itwinjs.org/sandboxes/iTwinPlatform/Shadow%20Study) was recently cloned and made to use reality data instead of an iModel.  The reality data does not cast shadows on the map.  We believe it should be casting shadows on the map.

In addition to the map receiving shadows from reality data, should reality data receive shadows itself?

[2022-07-19 16:54] jackson-at-bentley opened #3947 "`core-common` does not compile; Interface 'HttpServerRequest' incorrectly extends interface 'Readable'"
**Describe the bug 🐛**

I'm using `core-common` as a dependency in a project.

[code]

**To reproduce**

[code]

[code]

**Expected behavior**

The qualified import

[code]

does not produce a compiler error.

[code]

Was `@types/node` accidentally bumped or am I misunderstanding the problem? The return type of `destroy` has changed, please [see the DefinitelyTyped repository](https://github.com/D

[2022-07-19 17:02] pmconne commented on #3946
Additional findings:
TileTreeReference has a castsShadows property, which is true for RealityTileTreeReference.
Open TPB maps or Exton campus (same model, different names) in display-test-app and turn on shadows and background map.
Adjust time so that you can see a shadow cast onto the map by the building model.
Key in `fdt set building display` to enable OpenStreetMaps Buildings reality models.
O

[2022-07-19 17:38] jackson-at-bentley opened #3948 "`core-backend` does not compile; Could not find a declaration file for module 'ws'"
**Describe the bug 🐛**

I'm using `core-backend` as a dependency in a project.

[code]

**To reproduce**

[code]

[code]

**Expected behavior**

The qualified import

[code]

does not produce a compiler error.

[code]

These all look like unmet dependencies, but as a user of the package I'm not sure it should be my responsibility to add them. Is there documentation that specifies how Bentley expec

[2022-07-19 19:47] pmconne commented on #3947
@swbsi

[2022-07-19 19:52] aruniverse commented on #3948
As we had discussed,

re "@itwin/ecschema-metadata", since it's an optional peer dep and you're importing the entire core-backend package and indirectly using ecschema-metadat you need to explicitly add a dependency on it yourself.

re, ws you can either manually add a dep on @types/ws or enable [skipLibCheck](https://www.typescriptlang.org/tsconfig#skipLibCheck) in your tsconfig.json.

[2022-07-19 20:01] jackson-at-bentley commented on #3948
I agree about the peer dependency. I'm having second thoughts about `ws` though.

[This line](https://github.com/iTwin/itwinjs-core/blob/4c29314fd547b8b46e4815f4d70dacb7b6489376/core/backend/src/LocalhostIpcHost.ts#L9) dumps everything from `ws` into `core-backend`. If I try to compile `LocalhostIpcHost.ts` with `strict` as a compiler option it becomes my problem.

If I don't use `strict`, everyth

[2022-07-19 20:41] swbsi commented on #3947
I will try this. Hopefully, the issue will just go away with my forthcoming new packages...

[2022-07-22 20:19] markschlosseratbentley commented on #3727
It has recently been observed that this problem goes away if terrain is enabled.

[2022-07-25 19:14] markschlosseratbentley opened #3964 "Investigate lack of transparency on certain mobile devices"
Certain mobile devices do not succeed in rendering with full float transparency.  On those devices, transparent geometry will fail to render.

[Our typical workaround for these issues can be seen here](https://github.com/iTwin/itwinjs-core/pull/3963).

However, we still sometimes get reports of other chipsets suffering from this problem and have to add them one-by-one to a detection list in iTwin.

[2022-07-25 22:10] jackson-at-bentley opened #3968 "Why does `ElementAspect` have `element` and `jsonProperties` properties?"
These properties are not defined in BIS, and aren't defined on the class type. Are they ignored by the iModel?

https://www.itwinjs.org/bis/domains/biscore.ecschema/#elementaspect
https://github.com/iTwin/bis-schemas/blob/master/Domains/0-Core/BisCore.ecschema.xml#L1381
https://www.itwinjs.org/reference/core-backend/elementaspects/elementaspect/#inherited-properties
* * *

_⚠ Do not edit this sect

[2022-07-25 22:19] pmconne commented on #3968
The ElementAspect TypeScript class *does* have an "element" property. It's probably there for convenience because both of its direct subclasses - ElementUniqueAspect and ElementMultiAspect - have an "element" property (in BIS).

The ElementAspect TypeScript class has a "jsonProperties" property because it derives from Entity. This is probably a mistake - given it's not defined in the ECSchema, I d

[2022-07-25 23:22] jackson-at-bentley opened #3969 "Is there a reason `insertAspect` doesn't return the `ECInstanceId` of the new aspect?"
**Is your feature request related to a problem? Please describe.**

I'm working on [a synchronizer library](https://github.com/jackson-at-bentley/fir) and would like to be able to locate an `ElementAspect` in the iModel after I've inserted it. Unfortunately [`insertAspect`](https://www.itwinjs.org/reference/core-backend/imodels/imodeldb/imodeldb.elements/insertaspect/) has a `void` return type, un

[2022-07-26 08:13] pmconne commented on #3969
An "iModel Id" identifies an iModel, not a thing inside an iModel. The term you are looking for is "ECInstanceId" which is a 64-bit unsigned integer identifying a row in a table associated with an ECClass within the iModel.

Can you explain what kind of application data you want to store in the iModel and why?

[2022-07-26 15:23] pmconne commented on #3856
@Adnan-Ulhaq please provide the .bim and .dgn files.

[2022-07-26 15:34] pmconne commented on #3856
[Original bug](https://dev.azure.com/bentleycs/Facilities%20Engineering/_workitems/edit/913048).

[2022-07-26 15:40] jackson-at-bentley commented on #3969
My synchronizer's job is mapping source files to an iModel. In order to insert or update an element, model, or aspect I need to know its ECInstanceID. For elements and models, this is easy.
- Elements can be located by their `Code` or a `(kind, external identifier)` tuple in a given `ExternalSourceAspect` scope using `ExternalSourceAspect.findBySource`.
- Models have exactly one modeled element an

[2022-07-26 15:58] pmconne commented on #3969
The implementation of insertElementAspect inside the addon could return you the ECInstanceId. However, there is no single Aspect table - there are two: ElementMultiAspect and ElementUniqueAspect - so the ECInstanceId alone will not fully identify the aspect.

@jffmarker isn't ExternalSourceAspect already the right way to track the provenance of element aspects?

[2022-07-26 18:25] jffmarker commented on #3969
Yup. Look for references to `ExternalSourceAspect` on https://www.itwinjs.org/learning/writeaconnector/... so that'll give you a concrete aspect class to work with.
@abeesh

[2022-07-26 18:32] jackson-at-bentley commented on #3969
I thought there isn't a built-in way to track the provenance of element aspects, because the source of [ElementOwnsExternalSourceAspects](https://www.itwinjs.org/bis/domains/biscore.ecschema/#elementownsexternalsourceaspects) is an `Element`, and aspects don't derive from elements, they're a separate "thing." The [core tests](https://github.com/iTwin/itwinjs-core/blob/master/core/backend/src/test/

[2022-07-27 09:14] pmconne commented on #3856
[TestCases.zip](https://github.com/iTwin/itwinjs-core/files/9196804/TestCases.zip) contains the original DGN, an iModel produced from it, and a simplified DGN containing only two elements, only one of which has transparency.

The contention appears to be that in mstn, element transparency takes precedence over material transparency, while in iTwin.js it is the reverse. I disagree -- my understandi

[2022-07-27 09:57] pmconne commented on #3856
MicroStation does indeed multiply the transparencies. iTwin.js only does so for texture transparency; for materials, RenderingAsset claims:
[code]

[2022-07-27 10:12] pmconne commented on #3856
@nerijusJakeliunas what version of iTwin.js are you using to view the iModel?

[2022-07-27 10:23] nerijusJakeliunas commented on #3856
@pmconne  I open iModel in Design Review with my web browser (Edge) so I do not know what version of iTwin.js is used

[2022-07-27 10:24] pmconne commented on #3856
@nerijusJakeliunas that'd be 3.2.4. Thanks.

[2022-07-27 11:53] bbastings commented on #3856
Seems reasonable to follow MicroStation on this...not ideal, but at least a behavior MicroStation users are used to, and it also solves the issue for Revit use case.

[2022-07-27 15:21] EimantasMorkunas commented on #3964
To add - Samsung Galaxy S10e with Mali-G76 MP12 GPU did not have issues with full float transparency though did exhibit the hang with MSAA enabled. Huawei P30 has Mali-G76 MP10 but both devices report just `Mali-G76` so there's no way to differentiate just by renderer. Might even come down to GPU driver version.

[2022-07-27 15:27] Alina657 opened #3979 "Test presentation requests cancelation"
Fix "cancels 'getNodes' request" test.

[2022-07-28 13:37] #3856 closed

[2022-07-28 13:37] pmconne commented on #3856
This feature will be included in iTwin.js 3.3.0.

[2022-07-28 18:21] pmconne commented on #3856
I am reverting this change. Apparently, I figured out how all this works in MicroStation a few years ago, which led to how it currently works in iTwin.js.

In MicroStation, transparency can come from the element, the reference attachment, the level, and/or the material.
If it came from the reference or level, it gets multiplied with the material.
If it came from the element, it gets replaced by th

[2022-07-28 19:00] markschlosseratbentley opened #3989 "Implement normal mapping"
Look at this Three.js tutorial about normal mapping: https://sbcode.net/threejs/normalmap/

Could we do something similar in the iTwin.js renderer?  This could be valuable when rendering terrain, etc. if the source data has a normal map for a mostly-flat surface.

Requires:
- [x] [Ability to define and use normal maps on frontend](https://github.com/iTwin/itwinjs-core/pull/4679)
- [ ] Support for

[2022-07-28 19:15] pmconne commented on #3989
Yes, we can do normal mapping. It would require WebGL 2 because max texture units, but that's no longer a problem except for iOS users who refuse to update to 15. IIRC the DGN converter already preserves normal maps (and bump, glow, etc maps) from MicroStation when converting materials.

[2022-07-29 14:45] markschlosseratbentley opened #3997 "Create API that can suggest AO settings based on project extents, etc."
[This draft PR](https://github.com/iTwin/itwinjs-core/pull/3161) will change AO to make the effect more pleasing in views where geometry is more distant from the camera than other geometry.

We should also consider adding some kind of API that could suggest AO settings which would work well for a particular iModel based on its project extents, etc.  For example, and most easily done, AO maxDistanc

[2022-07-29 16:57] markschlosseratbentley commented on #3989
Appears to be high priority.

[2022-07-29 17:10] pmconne commented on #3989
(for one user).

[2022-07-29 18:08] markschlosseratbentley commented on #3946
7/29: Shadows should be working.  Need to figure out where problem is.  (Could have been one particular PR that reworked reality stuff).  Went back as far as May 2020 and it was not working.

[2022-07-29 18:39] markschlosseratbentley commented on #3989
@DStradley will look at relevant QV code.

[2022-07-29 18:44] markschlosseratbentley opened #3999 "Model / terrain masking should work for large models"

[2022-07-29 19:19] markschlosseratbentley opened #4000 "Improve reality tile purge and preloading"
Review + integrate this PR into iTwin.js: https://github.com/iTwin/itwinjs-core/pull/4009

Current hurdles:
- increased memory usage (hence increased risk of context loss)
- additive tile selection no longer works properly

[2022-07-29 19:22] markschlosseratbentley opened #4001 "Use ImageBitmap in gltf reader when possible"
Review + finalize this PR: https://github.com/iTwin/itwinjs-core/pull/3503

[2022-08-01 08:28] saskliutas opened #4006 "[ModelsTree]: Investigate category node visibility change handling"
Need to investigate category node visibility handling. There might be situations where element nodes shown in deeper hierarchy levels under some category node are from the different categories. In this case changing category node visibility does not affect those elements.

[2022-08-01 08:38] #3979 closed

[2022-08-01 12:54] calebmshafer commented on #3948
A `@types/*` package should never be a real dependency of a package as it is only required in order to compile the typescript code directly. However, the fact we're exposing `ws` in this way and it's causing the compiler error for consumers is an issue.

[2022-08-01 12:59] calebmshafer commented on #3948
@swbsi mind taking a look at this? Not quite sure why it's acting this way currently. We do this in a number of other places so not sure what's unique about this one.

[2022-08-01 13:55] swbsi commented on #3948
Seems the signature of Readable.destroy changed since @types/node v16 (which we are using).

It returned void then and this now (as of v18).

[2022-08-01 14:29] swbsi commented on #3948
I tried and all our packages actually compile with the node v18 types.

@calebmshafer Should I keep the node types at v16 and just patch this issue? I know we are officially on node 16 still.

[2022-08-01 17:36] ColinKerr commented on #3969
@jackson-at-bentley  your suggestion to update insertAspect to return the aspects instanceId is a good suggestion.  Since we have other API which requires the aspect instance Id we should return the id when we insert an aspect.  @calebmshafer do you agree to adding this to the backlog?

[2022-08-02 01:47] RaphaelMelancon opened #4011 "Viewer sometimes crashes when zooming far out of the model."
**Describe the bug**
When zooming out of a non-geolocated model with camera enabled until you cannot see the model anymore, sometimes the viewer crashes at [FrustumUniforms.changeFrustum()](https://github.dev/iTwin/itwinjs-core/blob/master/core/frontend/src/render/webgl/FrustumUniforms.ts#L97) because `viewZ `  is `undefined`.

**To Reproduce**
1. Open a non-geolocated model (no background map ava

[2022-08-02 06:12] pmconne commented on #4001
#4010

[2022-08-02 06:13] pmconne commented on #4000
#4009

[2022-08-04 18:43] markschlosseratbentley opened #4024 "Remove renderer-specific logic from Gradient.Symb getImage() for thematic images"
Gradient.Symb.getImage() for some reason always returns a width of 1 for thematic images.  This is likely a holdover from when the rendering subsystem used that method to get an image to send to the GPU -- which is no longer the case.  This can be fixed.

[2022-08-04 18:51] pmconne commented on #4024
The reason is that all the pixels in each row will be identical. This doesn't sound like a bug (but has bug label), it sounds like an enhancement intended to enable @eringram's sample to produce a legend with a width > 1. If that is the use case, couldn't the same be achieved by using CSS to stretch the 1-pixel-wide image to the desired width?

[2022-08-04 19:05] markschlosseratbentley commented on #4024
@pmconne We use Gradient.Symb.getThematicImageForRenderer() to get a 1px wide image for the GPU, not the public getImage().  The public getImage() does not need a 1px wide enforcement any longer - it was holdover from when the GPU used the public method.  IMO, it makes sense for the public method to return whatever dimensions are requested.

[2022-08-04 19:09] markschlosseratbentley commented on #4024
@pmconne And yes, CSS can stretch it, and that was done and works. This is incidental cleanup.

[2022-08-04 19:17] pmconne commented on #4024
I don't see the point. Will you also provide the option to get a horizontal instead of vertical gradient?

[2022-08-04 19:24] markschlosseratbentley commented on #4024
@pmconne We don't necessarily have to remove the 1px width limit if you have strong objections.  However, there is other weirdness also held over from when this method returned an image to be utilized by the GPU: marginColor shows up as the very bottom and top pixel of the gradient, which may not exactly be what is expected when calling this function to get an image. Do you think that should be ch

[2022-08-04 19:29] pmconne commented on #4024
I guess I see the complaint: the function accepts a `width` parameter but ignores it for thematic gradients, which is surprising and undocumented. I suppose it makes sense to remove that restriction. However, I would also document that specifying a width > 1 is hugely wasteful for thematic gradients.

[2022-08-04 19:32] markschlosseratbentley commented on #4024
@pmconne I agree about the problem of the behavior being undocumented. If it behaves this way, it should have been noted originally.
@eringram Mind adding some documentation as part of your PR as Paul suggests above?

[2022-08-05 13:24] roluk commented on #3817
Related PR: https://github.com/iTwin/itwinjs-core/pull/4030

[2022-08-05 13:53] aruniverse opened #4031 "Fix Webpack tests after new 3.4.0 native addon"
- [ ] Figure out why tests are failing after new addon and why snapshots only differ on windows
- [x] #4032

Originally posted by @pmconne in https://github.com/iTwin/itwinjs-core/pull/3161#discussion_r938819425

[2022-08-05 14:11] aruniverse opened #4032 "snapshots are only (re)generated on windows"

[2022-08-05 14:24] aruniverse opened #4033 "Re-evaulate / clean up all tests that are skipped."
Right now 44 tests are skipped along with 7 entire test suites.

[2022-08-05 17:38] markschlosseratbentley opened #4036 "Adjust distant reality data tiles to match earth curvature"
For very large reality datasets than span many kilometers, the data will vertically shift the farther the data is from the reality data's center.

Some numbers:
- 2.3 kilometers away from center; shift can be 0.44 meters
- 13.6 kilometers away from center; shift can be 13.6 meters

We use an EcefLocation computed at the center of the reality data.  This represents a plane which approximates the su

[2022-08-05 17:39] markschlosseratbentley commented on #4036
For datasets / test cases, contact @markschlosseratbentley @rbois-bentley @DStradley

[2022-08-05 20:57] #4024 closed

[2022-08-08 13:52] pmconne opened #4044 "Intermittent test failure calling purgeTileTrees"
**Describe the bug**

Relatively frequently, CI jobs will fail running the chrome version of core-full-stack-tests with the following output:
[code]

**To Reproduce**

Queue a CI job, e.g. as part of PR process. Observe test failure, if unlucky.
I have failed to reproduce locally. @MichaelBelousov claims to have done so.

**Expected behavior**
The tests should pass

**Desktop (please complete the

[2022-08-08 16:35] aruniverse opened #4046 "Break out of lockstep versioning for tooling packages"
Can we break locktstep for these tooling pkgs like certa?

_Originally posted by @aruniverse in https://github.com/iTwin/auth-clients/pull/81#discussion_r940433404_

This should help us be able to more quickly react to security fixes too.

[2022-08-08 17:26] MichaelBelousov commented on #4044
Finally confirmed a reproduction again. I fresh cloned itwinjs core to commit fb645c6e5b40ad7b058b150d39c5c0bf51ee1aa7"
Then ran the following:

[code]

This reproduces fairly often in my experience.
I am currently trying to reproduce with a loop of `rush cover -o core-full-stack-tests` to reproduce faster.

[2022-08-08 17:40] pmconne commented on #4044
@swbsi I reverted #3723 in #4045 and run 3 builds (times 3 platforms = 9 runs). The error did not occur. During that time, the error occurred 2 more times in other PRs. In general probably one of every two recent PRs has failed with this error.

Can you please review the changes in #3723 for a potential explanation for this regression?

[2022-08-08 18:26] swbsi commented on #4044
Will do. That PR definitely affects the ordering and timing of our frontend/backend communication...

[2022-08-08 19:28] swbsi commented on #4044
Reproduces every time locally if I increase the timeout in the expectEvents function (in BriefcaseTxns.test.ts) to 1000.

Many other tests appear to be opening and closing this imodel (planprojection.bim). Not sure yet how we avoided this in HTTP mode...trying a few things...

[2022-08-08 19:56] swbsi commented on #4044
Tried in HTTP mode with timeout = 1000 and no issue. So, there is definitely something different...will keep digging.

[2022-08-09 15:01] markschlosseratbentley opened #4051 "Research + prototype rendering quality lighting improvements (PBR)"
A variety of WebGL rendering improvements could be added beyond the regular lighting implemented by iTwin.js.  This could result in a more appealing rendering.

This project is to research + evaluate various aspects of physically based rendering (PBR).  We can prototype some PBR techniques using existing rendering packages, a simple standalone sample, or a modified version of iTwin.js.  See the di

[2022-08-09 15:10] pmconne commented on #4051
PBR materials is the standard.

[2022-08-09 15:26] markschlosseratbentley commented on #4051
@pmconne - @eringram was going to take a look at researching any decently performant WebGL techniques that could improve rendering quality by more realistically lighting a scene.  A few of the ones I found are listed above.  PBR materials could definitely be the avenue for defining a reflectivity property some techniques would use; also a possibility to default some small basic reflectivity proper

[2022-08-09 16:19] pmconne commented on #4051
@markschlosseratbentley I don't think we should build further enhancements atop our current hacked-together lighting system. PBR has become the standard for realistic lighting - if we want more realistic lighting, we should implement PBR first. That also would immediately improve our compatibility with other data sources (glTF, 3d tiles, DGN materials, Revit, etc).

[2022-08-09 16:29] aruniverse opened #4056 "Bot / GH Action to auto cherry pick changelogs"
Would be nice to be able to comment on a commit like https://github.com/iTwin/itwinjs-core/commit/8c53e677e40ae86cbaf0a31305dd7857ba8c1e7e and have those changelogs be auto cherry picked to master and any other branches needed

[2022-08-09 16:39] mgooding commented on #4051
Agree with @pmconne , but that doesn't need to block this project for @eringram . I'd suggest researching and prototyping in Three.js or any WebGL framework that has PBR implemented already. You can use https://developer.bentley.com/apis/mesh-export/ to create glTF files from iModels to get representative test data (though keep in mind this is a static rather than HLOD format, so you need to pick

[2022-08-09 16:57] markschlosseratbentley commented on #4051
@pmconne @mgooding Thank you both for your feedback.
@eringram Matt's suggestion above sounds good to me - this would become more of a project to evaluate what aspects of [PBR](https://en.wikipedia.org/wiki/Physically_based_rendering) are most readily able to be implemented to iTwin.js.

[2022-08-09 18:38] markschlosseratbentley commented on #3997
I experimented with some initial algorithms.  Basing maxDistance on projectExtents could be problematic when you zoom out such that you begin viewing an area larger than the initial project extents.

[2022-08-10 02:38] calebmshafer commented on #4056
A while ago I implemented a naive [finalize release GH action](https://github.com/iTwin/itwinjs-core/actions/workflows/finalize-release.yaml) that would handle this sort of cherry-picking based on which release branch it was created on.

There are currently some issues that I ran into pretty quickly with our workflow since it'll need to know if it's the latest minor or major version that it is bei

[2022-08-10 10:30] pmconne opened #4063 "Support multiple cutting planes in a RenderSchedule.Timeline"
### Discussed in https://github.com/iTwin/itwinjs-core/discussions/4049

<div type='discussions-op-text'>

<sup>Originally posted by **paprophet** August  9, 2022</sup>
now i want show the middle part of the element on first time ,and then show all part of the element on end time.
how to achieve this effect by the vp.displayStyle.settings.scheduleScriptProps?</div>

Currently we can apply only one

[2022-08-10 14:12] MichaelBelousov opened #4064 "intermittent hanging in rush cover (on linux)"
**Describe the bug**
`rush cover` hangs intermittently, confirmed on linux, don't know if it's been seen anywhere else

**To Reproduce**
[code]

**Expected behavior**
`rush cover` ends in a reasonable amount of time, e.g. ever

**Desktop:**

- OS: ubuntu linux
- Version 21.04
- iTwin.js Version: 3.4.0-dev.3 (3f85b180d67e3183ee9f0194d6dd8c49ed319970)

**Additional context**

Main thread:

[code]

a

[2022-08-10 14:12] MichaelBelousov commented on #4064
It hangs while running the `@itwin/appui-react` tests.

[2022-08-10 14:13] MichaelBelousov commented on #4064
I am going to try rerunning with a debug build of node overnight tonight to get a more detailed callstack on how node is using libuv

[2022-08-10 15:01] MichaelBelousov commented on #4064
I don't seem to get output on `cover`, not sure what I have misconfigured. I just have:

[code]

[2022-08-10 15:11] pmconne commented on #4064
Add `-v` for "verbose".

[2022-08-10 15:21] MichaelBelousov commented on #4064
I'll restart the loop until I get it then

[2022-08-10 23:08] #4044 closed

[2022-08-11 08:29] mindaugasdirg opened #4072 "IModelTransformer doesn't delete removed elements on reverseSynchronization"
**Describe the bug**
IModelTransformer doesn't delete removed elements when `isReverseSynchronization` option is turned on and processChanges is called.

The cause of the bug is combination of two things:
1) In reverse synchronization ExternalSourceAspects are saved in source iModel.
2) Deleting element also removes its aspects.

This results in a case when IModelExporter detects deleted element,

[2022-08-11 14:44] MichaelBelousov commented on #2349
closing as this is implemented. It is documented here: https://www.itwinjs.org/learning/transformer/branching-imodels/

[2022-08-11 14:44] #2349 closed

[2022-08-12 20:01] #4072 closed

[2022-08-12 23:20] MichaelBelousov commented on #4064
I have not been able to reproduce the hang after 200 or so runs, about half of rush cover and half of just core-backend tests.
I have only reproduced:

[code]

Which I will look for/make a separate issue for

[2022-08-12 23:23] MichaelBelousov commented on #4064
In reality I have a core dump from when I first saw the hang running `rush cover` where I got the posted stacks, so I'll look at that again but I wasn't able to see anything in it the first time I looked, I don't know enough about the functions I see there.

[2022-08-15 12:45] pmconne commented on #3946
The issue with OSM buildings may be unrelated. The OSM buildings span the globe. SolarShadowMap.ts calls TileTreeReference.accumulateTransformedRange which for OSM produces an enormous range.

[2022-08-15 12:47] pmconne commented on #3946
@DStradley tracked down a commit at which the shadows definitely worked, and another commit (from an addon merge) at which they definitely do not work:
  Works: d40e0a9812b6f7d48a65438ba6338f91d948ecdc  2020-11-09T23:04:03-06:00  imodeljs-admin: 2.9.0-dev.16
  Fails:    ed98bb0efc14287a1da805157e0aa78d0767be53  2020-11-10T01:11:58-06:00  Paul Connelly: Merge branch 'master' into addon-2.9.3

[This

[2022-08-15 13:06] pmconne opened #4085 "display-test-app sign-in fails on Ubuntu"
**Describe the bug**
Attempting to sign in using display-test-app electron produces EADDRINUSE for port 3000.

**To Reproduce**
Steps to reproduce the behavior:

1. Start display-test-app electron
2. Key in `dta signin`
3. Observe error
4. Click OK
5. Browser sign-in opens (if not already signed in); if so, sign in.
6. Browser displays permissions page. Click OK
7. Browser redirects to 3000 which

[2022-08-15 13:28] pmconne opened #4086 "imodel02 PR validation"
**Is your feature request related to a problem? Please describe.**
The imodel02 branch exists for changes to itwinjs-core that depend on changes to the native addon code. Currently PRs against this branch undergo no validation. This leads to problems only being discovered when someone attempts to integrate a newly-published addon into master, often requiring chasing down developers to fix issues o

[2022-08-15 16:04] calebmshafer commented on #4086
This can be broken down into two main areas:

- [ ] Turn on Codeowner PR validation
- [ ] Add build validation:
  - [ ] Main iTwin.js pipeline
  - [ ] Docs
  - [ ] Integration tests

The codeowner enforcement should be able to happen before agnostic to any build validation running and could be enabled quickly. I will look into that today.

## Build Validation

With build validation, there are a fe

[2022-08-15 16:13] calebmshafer commented on #4086
just turned on CodeOwner reviews required.

[2022-08-15 18:01] aruniverse opened #4091 "Replace usage of `node-report` in favor of Node.js Diagnostic Report"
As title suggests, replace use of [node-report](https://www.npmjs.com/package/node-report) with built in [Node.js Diagnostic Reporting](https://nodejs.org/dist/latest-v12.x/docs/api/report.html)

Currently we use it [here](https://github.com/iTwin/itwinjs-core/blob/master/core/backend/src/IModelHost.ts#L414) in the backend, and we do a require in a try/catch indicating its an optional dep, but we

[2022-08-15 18:07] pmconne commented on #4086
Don't we have the option now to eliminate the imodel02 branch and most of the manual addon publishing process entirely?

[2022-08-15 18:19] calebmshafer commented on #4086
@pmconne not quite sure what you mean? Would you want to publish a new addon version for every native change?

[2022-08-15 18:27] pmconne commented on #4086
The fork (and soon, repo) for the native code exists solely for changes we want to incorporate into the addon. Why shouldn't each be a discrete version instead of someone else manually publishing accumulated changes into a new version at some later date? Your option 2 suggests publishing native packages for every native PR anyway. Some native PRs will have no corresponding itwinjs-core changes but

[2022-08-15 19:49] #3946 closed

[2022-08-16 14:32] markschlosseratbentley commented on #4051
TODO:
- [ ] Export a sampling of real iModels to glTF.
- [ ] Render using effects in Three.js / standalone WebGL examples (SSR effect, etc.)
- [ ] Decide if the effects result in a good rendering of the variety of datasets.
- [ ] Consider implementing the best effects in iTwin.js as an implementation of the relevant PBR property.

[2022-08-17 02:47] MichaelBelousov opened #4112 "segfault in `CloudContainer::Connect` when taking javascript CPU profile of backend tests in chrome devtools [linux]"
**Describe the bug**
Segfault in `CloudContainer::Connect` (see additional context for stack) when taking javascript CPU profile of transformer in chrome devtools. This occurs on Ubuntu Linux, I have not yet tried any other OSes.

This means to measure performance differences in changes I'm making I need to go back further on master to find a working addon which I will do soon.

**To Reproduce**

[2022-08-17 02:58] MichaelBelousov commented on #4112
I managed to get the exact unstripped addon and got this callstack:
[code]

[2022-08-17 11:07] kabentley commented on #4112
I believe this is an indication of heap corruption somehow. I see nothing wrong in the failing code, and i can't see how `bcvContainerFree` is ever called with 0x0. Is there any indication what's happening on the JavaScript side?

[2022-08-17 13:53] MichaelBelousov commented on #4112
This was reproducible until instead of starting the CPU profiler I started it under the debugger. It now no longer reproduces, even after resetting the dependencies and repo state. Before that however I added some print debugging since the debugger wasn't working with the profiler, and I at least could see that it crashes *after* the addon is loaded and after the first test's `describe` is called

[2022-08-17 13:58] MichaelBelousov commented on #4112
maybe it'll reproduce if I reinstall chrome :) I have no idea how to proceed. I suppose we can close this as having a workaround.

[2022-08-17 14:06] MichaelBelousov commented on #4112
I just reproduced again by switching to transformer tests from core-backend tests

[2022-08-17 14:51] MichaelBelousov commented on #4112
I confirmed via printf debugging that the `connect` happens in javascript upon creating an empty snapshot, eventually `cloudContainer.connect(this.workspace.cloudCache)` is called in the `ITwinWorkspaceContainer` constructor upon adding a gcs workspace when loading the default databases for the "GeoCoordConfig".

So that looks normal. I will see if the workaround works so I can get back to what I

[2022-08-17 14:54] kabentley commented on #4112
Make sure you have these changes:

https://github.com/iTwin/itwinjs-core/pull/4108
https://github.com/iTwin/itwinjs-core/pull/4095

I'm available if you want help diagnosing.

[2022-08-17 15:56] aruniverse opened #4115 "Add performance monitors to core"
In the iTwin Viewer v2.x we added the following metrics to track performance and logged them to the browser's performance timeline
  - Duration of startup to the initialization of iTwin.js services
  - Duration of startup to the establishment of a connection to the iModel
  - Duration of startup to the creation of a view state for the iModel
  - Duration of startup until the last tile is loaded an

[2022-08-17 16:14] MichaelBelousov commented on #4112
confirmed switching to clang-7 from clang-13 didn't help.
I pulled native dependencies.
I also had to remove core/transformer/lib/cjs/test/standalone/.cache.

Some combination of the above means I can now reproduce with a locally built release-mode addon, debug probably works too and now I should be able to figure out the state of the addon and why pCont = 0

new release stack:
[code]

[2022-08-17 16:23] MichaelBelousov commented on #4112
looks like it now receives a SIGABRT from failing the assert in `bcvfsFetchManifestCb`
[code]
not sure why it was a segfault in the release build.

[2022-08-17 16:36] pmconne commented on #4115
Please do not add any assumptions to packages like core-frontend like "there is exactly one iModel", "there is exactly one viewport", etc.

[2022-08-17 16:43] MichaelBelousov commented on #4112
@kabentley still reproducing on the latest master itwinjs-core and native branch with those two PRs now definitely included on the js end:
[code]

[2022-08-17 16:44] calebmshafer commented on #4115
Agreed, I anticipate there will be a timing for each of these discrete events and some may have multiple happening at the same time. Though, there are cases where there will be a single fixed time such as `IModelApp.startup` since it should only happen once within a session.

@aruniverse on this metric, "duration of startup until the last tile is loaded and rendered for the initial iModel view", I

[2022-08-17 16:48] pmconne commented on #4115
I seem to recall the Synchro team (used to?) shut down and restart IModelApp under certain circumstances.

[2022-08-17 16:59] aruniverse commented on #4115
Yea this one we need to rethink how we want to handle this. We captured this event in ViewCreator3d.createDefaultViewState or at the app level if they didnt use the default view state.

This metric can be undefined under real usage if the user never stops moving around in the vp, but for testing purposes I'd hope we would always be able to track when all tiles are loaded.

I don't know if the way

[2022-08-17 17:00] MichaelBelousov commented on #4112
I'm going to go find an addon that works for my CPU profiling and move on, but I think there are some people I can ask to take a look in the meanwhile.

[2022-08-17 17:02] kabentley commented on #4112
@nick4598 can you see if any of the above makes sense to Dan?

[2022-08-17 17:06] DStradley opened #4116 "Investigate shadows not working with volume classification"

[2022-08-17 17:19] DStradley opened #4117 "Evaluate whether point clouds should cast and receive shadows"
Point clouds do not currently cast or receive shadows.  It might be desirable to do building shadow studies with point cloud models.  Should evaluate both the feasibility of implementing this and if it is useful.

[2022-08-17 23:05] DStradley opened #4122 "Display Test App Spatial Classification menu settings are not being saved with the saved view"
**Describe the bug**
It only happens when locally served reality models are used (cloud served reality data seems to work).
It appears nothing is saved from the settings except the Reality Model
It happens for both reality models and point clouds

**To Reproduce**
Steps to reproduce the behavior:

1. Run DTA and open a reality model
2. Change Spatial Classification menu settings
3. Save a view
4.

[2022-08-17 23:12] DStradley opened #4123 "Display Test App Volume Classification settings not working properly"
**Describe the bug**
DTA Spatial Classification menu settings do not behave properly for Volume Classification.
In general, clicking the Volume checkbox to switch either way is not working, but sometimes causes odd behavior in combination with other settings.  Can't seem to actually enable volume classification.

This fails in particular on clarkisland test case when run with a local server (don't

[2022-08-17 23:17] pmconne commented on #4122
Be more specific.
Without more details, it sounds to me like the actual problem is context reality models (attached to display style) vs persistent reality models (a model in the iModel with a reality model URL).

[2022-08-17 23:18] pmconne commented on #4123
Provide specific repro steps please. Definitions of "sometimes", "odd behavior", and "other settings" could help.

[2022-08-17 23:25] DStradley commented on #4123
That is difficult to do in this case.  Sometimes repeating the same steps caused different results (which is the odd behavior).  Basically it is not functioning, at least in the specified case, for setting volume classification.  Beyond that, it needs more investigation.

[2022-08-17 23:30] pmconne commented on #4123
Will you be doing that investigation?

[2022-08-17 23:34] DStradley commented on #4123
Whoever fixes the basic problem should then test the full functionality of the menu to see if there are remaining issues.  (Whatever the cause is, may fix all of it.)

[2022-08-17 23:50] pmconne commented on #4123
If "whoever" is not you then please file a proper bug report. A template was provided when you clicked "new issue".

[2022-08-18 01:21] MichaelBelousov commented on #4064
I can no longer reproduce this on master. Need to check if people are still seeing this in rush cover then close.

[2022-08-18 01:29] MichaelBelousov commented on #4112
Looks like gdb showing the stack going into `v8::sample::SignalHandler::HandleProfilerSignal` from the chrome CPU profiler is the SIGPROF signal which I was able to confirm from the `siginfo_t` in the handler. That makes sense, I'm just not familiar with profiler implementation. This signal is sent at some frequency (maybe by the OS, didn't look into how) for the profiler to use to gather (js) sta

[2022-08-18 09:12] pmconne commented on #4064
I can tell you that previously this was affecting probably one of every two PRs and now appears to have ceased completely.

[2022-08-18 11:08] MichaelBelousov commented on #4064
closing until there's evidence it's still around

[2022-08-18 11:08] #4064 closed

[2022-08-19 07:08] toddsouthenbentley opened #4132 "Create an iOS app that does automated testing using the simulator"
Create an iOS app that can be built and run as a CI job. It could run any automated tests we want and ideally would download and open an imodel to ensure things are working in the mobile environment. We should be able to automate it by using the iOS simulator (`xcrun simctl` command line tool)

[2022-08-19 08:15] #3817 closed

[2022-08-19 13:31] aruniverse commented on #3677
Closing this issue, or rather announcement since its been a few months now.

[2022-08-19 13:31] #3677 closed

[2022-08-19 13:32] aruniverse commented on #3415
@deanmarcussen Any update? Will close this issue next week if there's no update

[2022-08-19 13:37] pmconne commented on #3883
This could be solved by enabling frontend application to obtain polyfaces from the geometry of the elements of interest, convert them into a set of convex hulls, possibly expand those hulls, create a convex clip plane set from each hull, and apply the result as a ClipVector to the view.

- [ ] Rpc interface method to obtain polyfaces from one or more elements.
- [ ] geometry-core API to produce co

[2022-08-19 13:39] aruniverse commented on #3567
@umerfaruque @pauljneville any update? Will close this issue to due to inactivity if there's no response in a week. We can always reopen afterwards.

[2022-08-19 14:15] aruniverse commented on #3564
@ImVeryLost this was fixed in 3.3, please try upgrading to that!

[2022-08-19 14:15] #3564 closed

[2022-08-19 14:16] deanmarcussen commented on #3415
@aruniverse I think we see it on and off depending on the iModel/ particular version we've deployed with.

@jptissot Did your last fix, fix it after it broke, after the fix before that?

[2022-08-19 14:23] #3563 closed

[2022-08-19 14:25] aruniverse commented on #3551
@bear1004 , please take a look at this reply to the same issue. If auth issues persist, please reply on that thread or open a GitHub Discussion.

As this original issue was about `rush cover` and that doesn't seem to be an issue anymore (I hope) i'm going to close this, but if the issue persists we can reopen it.

[2022-08-19 14:25] #3551 closed

[2022-08-19 14:32] aruniverse commented on #3521
@Snailya any update? We will close this issue to due to inactivity if there's no response in a week. We can always reopen afterwards.

[2022-08-19 16:23] calebmshafer opened #4135 "Official Node 18 support"
Node 18 is now in "Current" status and will go Active LTS on October 25th. We need to add the needed testing infrastructure to officially support Node 18 in anticipation of the Active LTS release.

Supporting Node 18 will be in addition to the current Node versions we support as the NAPI version has not changed.

This support will be in addition to the current versions we support.

iTwin.js Suppor

[2022-08-19 16:28] calebmshafer commented on #829
closing due to inactivity. feel free to re-open if the issue persists.

[2022-08-19 16:28] #829 closed

[2022-08-19 16:29] calebmshafer commented on #2467
closing this issue due to inactivity. feel free to re-open when providing more details.

[2022-08-19 16:29] #2467 closed

[2022-08-19 16:31] calebmshafer commented on #3484
Apple Silicon for MacOS has been released with 3.3.0.

[2022-08-19 16:31] #3484 closed

[2022-08-19 16:41] calebmshafer commented on #3948
@swbsi go ahead and update to v18. If it's compatible we should be able to update, we're going to need to start supporting Node 18 soon anyway.

[2022-08-19 19:14] markschlosseratbentley commented on #3989
@PeterJBassett We are looking at adding support for normal maps -- could you provide us any information or documentation on how the UVs are stored in the data passed in from FutureOn subsea models?

[2022-08-22 18:34] markschlosseratbentley commented on #4000
Need to revisit the changes.

[2022-08-23 10:36] ImVeryLost commented on #3564
Seems fine now, thanks!

[2022-08-23 17:19] skirby1996 commented on #4086
If we are using a pipeline triggered by a native PR to drive this process, and linking a typescript PR to that native PR build, we can post [commit statuses](https://docs.github.com/en/rest/commits/statuses#create-a-commit-status) back up to the linked typescript PR, and update that status manually as the build runs. You can see an example of what those statuses look like in a PR [here](https://gi

[2022-08-24 07:28] #3796 closed

[2022-08-24 14:39] jptissot commented on #3415
Well, the iModel now displays after I added the optional chain in the if statements. However, we are also using the viewport in other places in the code, namely in a widget.

For example:

[code]
This works fine in Chrome, Firefox and Edge but in Safari, the if never evaluates to true.

[2022-08-24 16:48] aruniverse commented on #3415
@deanmarcussen it's a tad complicated to do that at the moment.

Could you try opening your troublesome imodel in my [test app](https://itwin.vercel.app/view) and see if you still have the same issues?

[2022-08-24 17:31] markschlosseratbentley commented on #3989
Hi @PeterJBassett Just checking in again -- we would like to implement normal mapping for FutureOn subsea models -- do you know what process you are following to create the UV coordinates from a FutureOn normal map?

[2022-08-24 17:49] PeterJBassett commented on #3989
Hello @MarcNeely - I apologise, I forgot to reply. Here is some information from a colleague.

So first the UV wrapping should be set to ClampToEdgeWrapping. Filter to Linear.

We use tangent space normal maps. Each pixel in the normal map is actually a normal encoded, where  R = X, G = Y and B = Z.
The encoding follow the usual :

    normal = texture2D( normalMap, vUv ).xyz * 2.0 - 1.0;

The cod

[2022-08-24 17:54] markschlosseratbentley commented on #3989
@MarcNeely @DStradley @pmconne See above reply about UVs + normal maps.

[2022-08-24 18:00] aruniverse commented on #4033
Closing in favor of https://github.com/iTwin/itwinjs-core/issues/4033

[2022-08-24 18:00] #4033 closed

[2022-08-24 19:00] markschlosseratbentley commented on #3989
@PeterJBassett

Thanks for the information.

A few more questions--

In the FutureOn example data we have, there is a pattern texture depicting the seabed being drawn in addition to the normal map texture.  Is it correct that this is displayed in addition to the normal map?

We also need to know where the UV coordinates for the pattern texture originate.  Do you use the same UV coordinates as the

[2022-08-25 01:11] calebmshafer opened #4165 "Fix or re-write NativeApp tests"
There are a set of tests that verify the NativeApp startup in various states that are currently skipped.

The test file is `full-stack-tests/core/src/frontend/app/NativeApp.test.ts` and has comments in the file explaining the issues with shutting down and restarting the ElectronHost/App.

[2022-08-25 04:24] toddsouthenbentley commented on #4132
I'm working on enhancements to display-test-app for iOS (see https://github.com/iTwin/itwinjs-backlog/issues/353).

Then once that's done I can use DTA for this issue.

[2022-08-25 20:34] pmconne opened #4172 "Improve area pattern performance"
**Is your feature request related to a problem? Please describe.**
Framerate can plummet when displaying patterned areas with highly-detailed boundary curves. The backend instances all of the pattern symbols and produces a boundary ClipVector to be applied to those symbols at display time. The more complicated/detailed the boundary, the more clip planes are produced, and the more work the fragment

[2022-08-26 07:10] PeterJBassett commented on #3989
@MarcNeely @DStradley @pmconne
Here is some further info from my colleague.

So, this will get a bit hairy.

There is actually two way of rendering the user can chose from :
Simple color ( in this case, we just use the color defined in “seabedColor”. In this case we just display the seabed with the normal map on top. We usually scale a bit the normals so that it looks a bit better.

We use a textu

[2022-08-26 20:18] mgooding opened #4184 "IModelDb.Elements.insertElement drops brep faceSymbology materials"
**Describe the bug**
`materialId` in [BRepEntity.FaceSymbologyProps](https://www.itwinjs.org/reference/core-common/geometry/brepentity/brepentity.facesymbologyprops/) is not saved if present in an element's geometryStream.

**To Reproduce**
See test at: https://github.com/iTwin/itwinjs-core/blob/master/core/backend/src/test/standalone/ExportGraphics.test.ts#L167

**Expected behavior**
materialId s

[2022-08-31 10:18] BernardasTe commented on #3791
https://dev.azure.com/bentleycs/iModelTechnologies/_git/imodel02/pullrequest/275514

[2022-08-31 14:13] pmconne opened #4198 "Make snapping work with schedule script transforms"
**Is your feature request related to a problem? Please describe.**
As described in #4196, when an element or model has been transformed by a schedule script, snapping does not work properly on that element.

**Describe the solution you'd like**
When performing the snap, apply the script's transform (or inverse thereof, as needed) to the element and/or model, [like we do](https://github.com/iTwin/i

[2022-09-01 11:45] pmconne commented on #4172
Example - all .txt files contain JSON (github disallows JSON attachments).
[Clip boundary](https://github.com/iTwin/itwinjs-core/files/9469427/Bc7.geom.txt) .
[ClipVector](https://github.com/iTwin/itwinjs-core/files/9469412/B7c.clip.txt) produced in native code from clip boundary using chord tolerance of 1.4051897015886328.
[Union of convex clip plane sets](https://github.com/iTwin/itwinjs-core/fi

[2022-09-01 18:21] pmconne commented on #4172
This is on hold while product management attempts to convince the user to use materials or fill instead of area patterns.

[2022-09-02 09:01] pmconne opened #4218 "ViewClipByElementTool ignores display transforms"
**Describe the bug**

ViewClipByElementTool does not account for display transforms applied by schedule scripts and ModelDisplayTransformProviders, as described in #4196.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a view in which an element has been translated by a schedule script; or, apply a model display transform to achieve the same.
1. Use the clip-by-element tool and select

[2022-09-05 07:01] #3791 closed

[2022-09-06 18:47] toddsouthenbentley opened #4229 "Build display-test-app as a CI job"

[2022-09-06 18:49] toddsouthenbentley opened #4230 "Run display-test-app in the simulator as a CI job"

[2022-09-06 21:36] tcobbs-bentley opened #4232 "Support remote iModels in display-test-app"

[2022-09-07 09:18] SunilPrasad opened #4236 "[eslint] Failed to load plugin '@typescript-eslint' declared in '.eslintrc"
**Describe the bug**
Failed to build application when using @itwin/eslint-plugin .

**To Reproduce**
Steps to reproduce the behavior:

1. Create new react application using create react app ( React 18 version ).
2. Create eslintrc file with required configuration for @itwin/eslint-plugin
3. npm run build
4. failed to build with following error ( [eslint] Failed to load plugin '@typescript-eslint'

[2022-09-07 11:50] calebmshafer commented on #4236
@SunilPrasad can you try adding `@typescript-eslint@~4.31.0`as a dev dependency? Hopefully that will be a short-term fix and we will look into why that's being required.

[2022-09-07 11:58] pmconne commented on #4086
@calebmshafer @skirby1996 what's the status of this? I'm tired of wasting time fixing everybody's merge conflicts, tests, lint, etc etc.

[2022-09-07 12:42] SunilPrasad commented on #4236
@calebmshafer I have installed typescript-eslint (  npm i --save-dev @typescript-eslint/eslint-plugin@4.31.0 ) but still getting the same error message .

[2022-09-07 12:44] DanRod1999 commented on #4086
Still working on the pipeline. Close to completion but hit an issue and currently looking for solution.

[2022-09-07 13:53] #4198 closed

[2022-09-07 13:56] #4218 closed

[2022-09-07 19:17] markschlosseratbentley commented on #3989
Hi @PeterJBassett --

The texture mapping mode you describe above appears to be feasible to implement in iTwin.js as well as regular normal mapping.

Do you know the origin of this texture mapping technique and its name?  Is this something you would like to see implemented in iTwin.js?  (In addition to normal mapping).

cc @MarcNeely @DStradley @pmconne