[2018-10-18 09:15] rtao opened #2 "iModel 1.0"
Will this work with iModel 1.0 files?

[2018-10-18 18:18] roopsaini commented on #2
Hi @rtao,
iModel.js ***will not*** work with iModel 1.0 files. It was designed to work with our iModel 2.0 platform.  We will be providing capabilities in the future to take i.dgn, version 1.0 iModels, and convert them to 2.0 iModels.

[2018-10-29 21:17] LabyrinthTechnology opened #3 "Where create sample projects can be viewed?"
Hi,

I requested to create [new sample project](https://imodeljs.github.io/iModelJs-docs-output/getting-started/sample-project/) and I received an e-mail the project and the iModel were created.

Where I can see (to list) the project (or more projects in future)? I expected it will be in my [ProjectWise projects list](https://connect.bentley.com/SelectProject/Index), but I see only the empty proje

[2018-10-30 16:42] roopsaini commented on #3
Hi Jan,

The project has been created for you in our test drive organization. There is a possibility that the project you created is your organization is “shadowing” the one we created for you. Can you search the project name using the Search tool? If you are still unable to find it, we can investigate further.

![search](https://user-images.githubusercontent.com/34580471/47734701-d7b45880-dc38-11

[2018-11-01 06:57] helgehes opened #4 "3d party IMODEL import/export file converter"
Hi. We are looking in to possibilitys of creating a 3d party IMODEL import/export file converter ( import and export IMODEL files to/from a third party software ). For a simple import/export fileconverter, is it corect that you will have to have a full itwin suscription to be able to use/run the converter? Or is there any way to use the converter without a suscription ( Forexample if you are not i

[2018-11-01 18:36] roopsaini commented on #4
Hi @helgehes
Thanks for the question. We are currently working with our team to best assist you.

[2018-11-01 18:44] LabyrinthTechnology commented on #3
Hi,

sorry for the delay, I was outside home for a few days. Yes, using search (and also it seems there was some delay, so the created project was not displayed in the list immediately) I was able to identify the project, marked as External.

![connect-projects](https://user-images.githubusercontent.com/8292864/47872251-60d0b880-de0e-11e8-8fd2-c13abf012729.jpg)

Is it correct I do not see any file

[2018-11-01 18:55] LabyrinthTechnology opened #5 "Are EC schema the same / compatible with older ones?"
Hi,

when reading documenation [EC schemas](https://imodeljs.github.io/iModelJs-docs-output/bis/ec/ec-schema/), I have not found any comparison or information about "compatibility" with existing EC schemas as used in V8i and CONNECT Edition products.

Questions that crossed my mind:

* Are EC schemas used in iModelJs the same? E.g. version information is based on 3 digits (I like an idea behing th

[2018-11-01 19:04] roopsaini commented on #3
Hi Jan,

Great. You won't see a file but you should be able to see the iModel listed when you click on the iModel link on the project page.

![imodels](https://user-images.githubusercontent.com/34580471/47873276-c1e09800-ddde-11e8-89e6-7ce9d06c67fc.PNG)

Thanks,
Roop

[2018-11-01 19:38] LabyrinthTechnology commented on #3
Thanks for your quick response!

Unfortunately iModel information is missing in my project details:

![project-details](https://user-images.githubusercontent.com/8292864/47875117-0176a680-de16-11e8-9d06-01dfb8941b1a.jpg)

Regards,

  Jan

[2018-11-02 00:31] roopsaini commented on #3
Hi Jan,

We just checked the logs, and there seems to have been an error during registration. We just fixed it and you should see it now. We apologize for the inconvenience.

[2018-11-02 05:12] helgehes commented on #4
Hi Roopsaini. Okay, thank you !

[2018-11-02 07:09] LabyrinthTechnology commented on #3
Hi,

Yes, it works now, I see the project in my list:

![imodelhub-project](https://user-images.githubusercontent.com/8292864/47898411-0ff4aa80-de76-11e8-9c6f-3efc53155490.jpg)

No problem, thanks for your help! I treat it as an evaluation / testing period, when issues are expected. And when there are no issues, the testing has not been good enough :smirk:

Because I have the access to example dat

[2018-11-02 07:09] #3 closed

[2018-11-02 07:47] LabyrinthTechnology commented on #4
I agree with @helgehes this scenario / workflow is important. Now a situation how i-model format is supported is quite unclear:

* There is i-model SDK available, but it supports version 1.5 only.
* MicroStation and other applications allow to publish (and Navigator to consume) i-model 1.6, but as far as I know there is no SDK (publicly) available that support this version, so no 3rd party applica

[2018-11-04 09:21] asforever opened #6 "can i open .dgn file by imodel.js"
like title

[2018-11-04 09:42] LabyrinthTechnology commented on #6
Hi,

no, it's not possible. iModelJs is based on [EC schema](https://imodeljs.github.io/iModelJs-docs-output/bis/ec/ec-schema/) and [BIS definitions](https://imodeljs.github.io/iModelJs-docs-output//bis/), whereas DGN is proprietary implementation of Microsoft Compound File format.

It's possible to convert DGN into "BIS based description" using [iModel Bridge(s)](https://imodeljs.github.io/iModel

[2018-11-04 10:13] asforever commented on #6
thanks😊

[2018-11-05 02:40] wuyw1015 commented on #6
Hi,
can i read .imodel data by modeljs? ,are there some limitations in .imodel's version and ...?，i try to run" imodeljs/test-apps/simpleviewtest/", but the feedback below:
![image](https://user-images.githubusercontent.com/24538966/47974634-7e8b6f80-e0e5-11e8-8d90-b33f69c831e9.png)

and i can open .model by navicat premium
![image](https://user-images.githubusercontent.com/24538966/47974841-6536f

[2018-11-05 06:00] LabyrinthTechnology commented on #6
Hi @wuyw1015,

because the original question was about .dgn support, in my opinion it would be better to ask in a new post, because .dgn is not .imodel, so it's another question / issue.

In my opinion iModel 2 is supported only and older versions (1.5, 1.6) created by MicroStation and other products (as output from DgnDb convertor) are not supported. Based on #5 my assumption is that older imodel

[2018-11-05 06:16] LabyrinthTechnology opened #7 "On server processing?"
Hi,

it's more a thought than issue reporting:

As far as I remember iModelJs library now, it's based on classic client - server schema. My question is whether a server processing has been evaluated as possible future iModelHub feature?

Because iModelHub is designed as digital twin repository, I suppose some analysis will require to access all data, which maybe time and resource consuming to crea

[2018-11-05 07:55] wuyw1015 opened #8 "which format file are supported by imodeljs?"
i try to read .imodel but failed, which format files are supported by imodeljs?(.model,.i.dgn,...?)
![image](https://user-images.githubusercontent.com/24538966/47984065-56fdcc80-e110-11e8-8d13-472599830eee.png)

----
my SP_suidao1p6.imodel 's version is v1.6,while published by OpenRoads Designer(the original file is .dgn),

[2018-11-05 07:58] wuyw1015 commented on #6
@LabyrinthTechnology  thx, are there any suggestions about the new issue [new issue ](https://github.com/imodeljs/imodeljs/issues/6)?

[2018-11-05 09:07] wuyw1015 commented on #8
can  i transfer .imodel into .bim?
![image](https://user-images.githubusercontent.com/24538966/47988473-430c9780-e11d-11e8-9606-844288659563.png)

[2018-11-05 11:54] LabyrinthTechnology commented on #8
Hi @wuyw1015 ,

from [issue 2](https://github.com/imodeljs/iModelJs-docs-output/issues/2) in [iModelJs-docs-output project](https://github.com/imodeljs/iModelJs-docs-output):

As mentioned in #5 discussion, the conversion from another formats is realized through iModel Bridges. What is not clear (at least to me, so many new things to learn ;-) is whether the conversion will be done solely through

[2018-11-05 15:13] ColinKerr commented on #7
Jan,
The imodel-query-agent sample shows a server side 'agent' which listens for change sets, queries what is in them and takes some action.  While the example runs on your local machine, it can also be run on a server.

Here is a link to the example: https://github.com/imodeljs/imodel-query-agent

 - Colin

[2018-11-05 15:17] LabyrinthTechnology commented on #7
Hi Colin,

thansk for your explanation. I am aware of the mentioned example, but I thought about it as about "local service" automatically ;-) It's great to know the server variant exists also.

Regards,

  Jan

[2018-11-05 15:17] #7 closed

[2018-11-05 15:21] ColinKerr commented on #6
iModel.js only supports the iModel 2.0 file format, not versions 1.5 and 1.6.

Both questions are important and we are working on more complete responses, please bear with us.

[2018-11-05 16:34] kabentley commented on #7
Jan,

I wouldn't say that iModel.js is a "classic client / server" architecture. Instead, we say it is a "distributed database." It follows the "Git" model wherein there can be many copies of the database. Each backend process has a complete copy of the iModel, called a "briefcase" (hence the extension ".bim" for briefcase of iModel). They are synchronized through changesets, just like Git.

Backe

[2018-11-05 18:12] kabentley commented on #4
iModel.js supports the iModel 2.0 format. A primary difference between iModel 2.0 and i-model 1.0 is the concept of *accountability* - tracking and recording change to form a "timeline of change" for your *digital twin*. In this manner the iModel is synchronized rather than recreated as the source files change (think "Git" for your project data.) The timeline is provided by iModelHub, and is a par

[2018-11-05 18:59] helgehes commented on #4
Thank you Keith, i have to say that is really good news! Hopfully many people will see the benefits of the timeline and itwin, it does sound like a very interesting consept. I dont know if this is the right place to ask, but where can we find more information about pricing for iTwin subscription?

[2018-11-06 13:42] #4 closed

[2018-11-06 13:43] helgehes opened #9 "Pricing for iTwin subscription?"
I dont know if this is the right place to ask, but where can we find information about pricing for iTwin subscription?
Regards
Helge

[2018-11-06 15:42] roopsaini commented on #9
We do not have pricing details available just yet but current and future information about iTwins will be found on www.bentley.com/iTwin.

Thanks,
Roop

[2018-11-06 17:40] roopsaini commented on #9
If you need more information on commercial terms right now, please send an email to imodel.js@gmail.com with your request.

[2018-11-06 18:17] helgehes commented on #9
Okay thanks!

[2018-11-06 18:17] #9 closed

[2018-11-09 08:01] devendragera opened #10 "login issue"
We are trying to run the simple-viewer-app which you have provided on github, but get the loginfailed error when trying to open the sample iModel.

![loginissue_1](https://user-images.githubusercontent.com/10633255/48250238-87d25000-e3f5-11e8-9f3b-01a3ff331f04.jpg)

We have made changes in configuration.ts as per your documentation

![loginissue_2](https://user-images.githubusercontent.com/1063325

[2018-11-09 09:12] LabyrinthTechnology commented on #10
Did you ask the test project was created for you as described in developer registration?

[2018-11-09 09:42] devendragera commented on #10
Thanks for your response.

Yes, I did receive the confirmation about the test project- as below:

-----

Sample IModel Project was created with Project Name: Test Project 1, and IModel Name: Test Project 1

[2018-11-09 09:47] LabyrinthTechnology commented on #10
And do you see it in your project information? After my project was created, there were two issues (see #3): I did not see the project in my projects list and when I found it, iModels were not accessible / displayed from some reasons.

![imodeljs-project-external](https://user-images.githubusercontent.com/8292864/48255370-c4f60c80-e40c-11e8-9de8-c6ff36a9cfe4.jpg)

[2018-11-09 19:35] roopsaini commented on #10
Hi @devendragera,

It looks like the root cause for this error was the same as for issue #3 . You should be able to access the iModel now. We are currently trying to ensure other users don't run into this issue.

Thanks,
Roop

[2018-11-12 22:14] devendragera commented on #10
Thanks, Roop. It is working now. We will be exploring imodel / imodeljs further.

Devendra

From: roopsaini [mailto:notifications@github.com]
Sent: 09 November 2018 19:35
To: imodeljs/imodeljs <imodeljs@noreply.github.com>
Cc: Devendra Gera <dgera@asite.com>; Mention <mention@noreply.github.com>
Subject: Re: [imodeljs/imodeljs] login issue (#10)

Hi @devendragera<https://github.com/devendragera>,

[2018-11-12 23:16] johngillerman opened #11 "OPC UA server?"
How about adding support for OPC UA?   An OPC UA server on the imodel hub would publish OPC UA model change events.  You could use Node OPCUA...

[2018-11-12 23:39] #10 closed

[2018-11-14 12:16] rachitsakhidas opened #12 "How can we upload a new .i.dgn model into iModelHub?"
Hi,

How can we upload a new .i.dgn model into iModelHub?

Thanks in advance

[2018-11-14 12:48] rachitsakhidas commented on #12
Hi,

Thanks for the prompt reply.

I want to upload from Bentley Cloud Services from below mentioned area

![imodel-projectwise](https://user-images.githubusercontent.com/5895202/48483501-98d9f180-e839-11e8-84b2-c7c65c1bff21.JPG)
![imodel-imodelswise](https://user-images.githubusercontent.com/5895202/48483500-98d9f180-e839-11e8-8fdf-d7f1db5b73e5.JPG)

``

Thanks in advance

[2018-11-14 13:11] LabyrinthTechnology commented on #12
I do not quite understand your question and what do you want to achieve :-(

Your first question was about to upload .i.dgn file to iModelHub (which is a service), but what do you mean by _upload from Bentley Cloud Services_?

You picture seems to displays iModelHub, there is Test Project 1, which I assume is a sample project created for you for testing purposes. So what data do you want to move/c

[2018-11-14 13:15] rachitsakhidas commented on #12
Hi,

Thanks for the reply.

I just want to upload or create iModel.js based file so can you please guide us how can i achieve this.

I want to test other file rather than sample test file and also want to know how can we test other iModelJs supported file.

Thanks in advance

[2018-11-14 13:33] LabyrinthTechnology commented on #12
Read [documentation](https://imodeljs.github.io/iModelJs-docs-output//), both learning and API and start to try to write own code. I guess no other advice exist now as it's still quite early development state, so there is no library with many examples available.

In my opinion (and it's what I plan also for myself) the best approach is to start from simple code (e.g. to create and read local / off

[2018-11-14 20:55] kabentley commented on #11
sounds like a good idea to me. We'll pass it along to the iModelHub guys.

Do you use Node OPCUA yourself?

[2018-11-14 21:03] johngillerman commented on #11
Yes, but the issue is there is no good infrastructure for managing OPC UA models across time.

See: https://autodeskuniversity.smarteventscloud.com/connect/sessionDetail.ww?SESSION_ID=227503

iModelHub seems very well suited to this use case.

From: kabentley <notifications@github.com>
Sent: Wednesday, November 14, 2018 3:55 PM
To: imodeljs/imodeljs <imodeljs@noreply.github.com>
Cc: Gillerman, Joh

[2018-11-16 16:40] eligijusm commented on #11
iModelHub Service itself is synchronization platform for distributed iModel copies using ChangeSets. It doesn't provide a way to read/write data in iModel directly, thus it can't integrate OPC UA directly. However, OPC UA can be implemented as separate iTwin service based on iModel.js that leverages iModelHub ability to store history. We will add this to our considerations list.

I also want to hi

[2018-11-19 03:45] weiweilinlin commented on #12
hi i cannot upload the imodel file to the iModelHub Too! but can  upload to  the shared file library,however do not works,can not open by this demo

[2018-11-19 19:13] roopsaini opened #13 "Error 400: "invalid_request invalid redirect_uri" on sign-in"
I get the following error when I sign into the [simple-viewer-app](https://github.com/imodeljs/simple-viewer-app) after I set it up following the [instructions](https://www.youtube.com/watch?v=SPyN8w1XEAE) provided.

![redirect_1](https://user-images.githubusercontent.com/34580471/48727369-a4da0080-ebf7-11e8-8aca-c1d201fd2c37.PNG)

This happens if I use my client-id along with the default redirect

[2018-11-21 21:10] KyrieDriftwood opened #14 "First attempt failed"
Managed to get it up an running on Ubuntu, but there was an error message when I tried to connect to the sample project - usinjg the sample viewer app as a test.

Recieved this from bentley:
Från: noreply@bentley.com
Datum: 2018-11-01 13:35 (GMT+01:00)
Rubrik: Your Sample IModel Project has been created

Sample IModel Project was created with Project Name: 2114_dev, and IModel Name: 2114_dev

My c

[2018-11-22 06:36] KyrieDriftwood commented on #14
Updated Title

[2018-11-22 09:09] LabyrinthTechnology commented on #14
I recommend to start with a check whether you have access to the model. See #3 for an issue that may happen and how to check sample model accessibility.

[2018-11-26 15:18] roopsaini commented on #12
We understand the need to access your own data using iModel.js. Our team is currently working on a solution.

Thanks,
Roop

[2018-11-26 15:32] roopsaini commented on #6
The original question has been answered. This discussion now pertains to data conversion, which falls under #12 (marked as an enhancement).

[2018-11-26 15:32] #6 closed

[2018-11-26 17:20] roopsaini commented on #14
Hi @KyrieDriftwood,

Were you able to view the project on the [CONNECT](https://connect.bentley.com/) portal as @LabyrinthTechnology suggested?

[2018-11-26 20:14] KyrieDriftwood commented on #14
![image](https://user-images.githubusercontent.com/4728106/49038073-2adbe580-f1bc-11e8-8ed3-96a7819bdf09.png)

There is no project that I can find using the search tool.

I have created a new project, maybe it will work better

[2018-11-26 20:17] LabyrinthTechnology commented on #14
It has be created by Bentley for you and example data put in.

[2018-11-26 20:19] roopsaini commented on #14
I am investigating this on our end. Do you see anything at all under "My Projects"?

[2018-11-28 09:54] LabyrinthTechnology commented on #5
I downloaded Beta 2 and it looks nice! Will try this tool more later ;-)

[2018-11-28 21:05] KyrieDriftwood commented on #14
Hello, Yes it is the same email. The same used in mine and roopsainis earlier conversation via email

have now received an email which gave me an userID (which I didn't get in the first E-mail). I now have the following configuration.ts
[configuration.ts.txt](https://github.com/imodeljs/imodeljs/files/2626582/configuration.ts.txt)

Now - after signing in - I could grant permission to the project 2

[2018-12-06 19:49] ColinKerr commented on #5
Jan,
  The description of what has changed between EC2 and EC3 made it out onto the public imodel.js documentation site.  Check it out here: https://imodeljs.github.io/iModelJs-docs-output/bis/ec/differences-between-ec2-and-ec3/

Please let me know if you want more info.  I will enhance the docs.  If the current documentation is sufficient please close this issue.

[2018-12-10 10:27] YouYue123 opened #17 "Roadmap to 1.0"
Hi,

Amazing to see this from Bentley Systems. It really helps a lot with a stable production ready 1.0 release.

Do you have any roadmap and plan to a production ready 1.0?

Thanks

[2018-12-11 14:32] kabentley commented on #17
We expect to release version 1.0 by the end of 1Q19.

HTH,
Keith

[2018-12-12 11:53] YouYue123 commented on #17
Nice . Good to hear that. Where can I find the detailed roadmap?

On Tue, 11 Dec 2018 at 15:32, kabentley <notifications@github.com> wrote:

[2018-12-12 14:22] LabyrinthTechnology commented on #17
This is _open source_ project, where the development consists from cooperation of more subjects and merge requests, so I guess there is nothing like _detail roadmap_.

BTW Why the detail roadmap is important for you?

[2019-01-03 15:39] ColinKerr commented on #5
Closing, please reopen or create a new issue if you need more information.

Thanks
 - Colin

[2019-01-03 15:39] #5 closed

[2019-01-03 16:55] roopsaini commented on #14
Offered a suggestion via email. Still waiting to hear back from @KyrieDriftwood. Closing the issue for now, please reopen if the issue persisted.

[2019-01-03 16:55] #14 closed

[2019-01-07 19:05] gauravgundecha opened #18 "npm run start is throwing error"
when building the sample app i am getting exception as attached.
I am not sure how to debug. Is there a recommended reading on basics of Typescript/Javascript?

![capture](https://user-images.githubusercontent.com/45575758/50787267-944f1980-127b-11e9-879f-a55e7147b5fe.JPG)

[2019-01-07 19:39] LabyrinthTechnology commented on #18
Hi,

can you confirm what Node.js version do you use? Use `node --version` to check it.

iModel.js requires Node.js 8.x, but maybe you installed the latest 10.x or even 11?

With regards,

  Jan

[2019-01-07 20:19] gauravgundecha commented on #18
Thanks Jan. That was fast and accurate solution. As a follow up question Is there a recommended reading on basics of Typescript/Javascript?

[2019-01-07 21:02] roopsaini commented on #13
The default provided in the registration form and the default in the configuration file are now consistent.

[2019-01-07 21:02] #13 closed

[2019-02-06 04:40] rachitsakhidas opened #19 "I need to open my local .iModel file via iModelDb.openStandalone can you please guide us"
I have a question regarding iModel.js (Front-End Application)

I plan to open my local iModel files via iModelDb.openStandalone method

Is there support for markups / annotations within imodeljs? If yes, what is the best way to configurable / enable this functionality?

Thanks & Regards
Rachit V. Sakhidas

[2019-02-07 18:26] roopsaini commented on #19
Hi @rachitsakhidas,

Just a heads up: the openStandalone method will soon be deprecated and replaced by the [snapshot iModel](https://github.com/imodeljs/imodeljs/issues/4#issuecomment-435976612).

We will be releasing some markup / annotation support within the next few weeks.

[2019-02-07 18:26] #19 closed

[2019-02-08 17:47] williamkbentley opened #20 "Test issue, please ignore"
Please ignore
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: IModelJsFsStats---imodeljs-backend-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output/reference/imodeljs-backend/portability/imodeljsfsstats/

[2019-02-08 17:48] williamkbentley commented on #20
Closing test issue

[2019-02-08 17:48] #20 closed

[2019-02-08 17:48] BaoTon commented on #20
Adding test comment.

[2019-02-22 14:45] sveale opened #21 "Some questions regarding iModel and iModel.js"
Hi,

I have some questions regarding iModel and iModel.js that I hope someone here can answer. If this is the wrong place for one or more of the questions below I would appreciate feedback on that as well.

 1. I understand the C++ SDKs for iModel are only for iModel 1.x and will no longer be developed, is that correct?
 2. Are there any plans for publishing a C++/C library for reading iModel 2.x?

[2019-03-08 17:03] kabentley commented on #21
1) yes.
2) the iModel.js library is the only public api. To interface to them from C++, you can make a multi-process application that communicates via pipes and JSON. We do that for our translators. That avoids most of the nightmares with C++ libraries around versions, compiler options, etc.
3) as an open source library, ODA is free to use/modify iModel.js. We'd love to help them do that, though w

[2019-03-08 22:34] childish23 opened #22 "Bis Documentation?"
Hi, I am new to iModel 2.0. I am trying understand the concepts of BIS, and its role in interdisciplinary infrastructure modeling. Is there any documentation on the subject?

[2019-03-09 05:09] LabyrinthTechnology commented on #22
Hi,

There is a [description of BIS](https://imodeljs.github.io/iModelJs-docs-output/bis/) available at gtihub.io (which is generated from [iModeJS-docs-output](https://github.com/imodeljs/iModelJs-docs-output) repo).

The documentation is "technical oriented", but based on BIS features and specs knowledge, I guess you should be able to position better BIS role in the discussed topic.

With regard

[2019-03-11 16:28] childish23 commented on #22
@LabyrinthTechnology This is very helpful. Thanks!

[2019-03-11 16:28] #22 closed

[2019-04-11 15:55] ELymar opened #23 "Typo"
"ElementAspect instances are owned a single Element" should be "ElementAspect instances are owned by a single Element"
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Fabric-of-the-Universe---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output/bis/intro/fabric-of-the-universe

[2019-04-11 17:57] roopsaini commented on #23
@ELymar Thanks for notifying us. I will inform the docs team.

[2019-04-11 20:16] #23 closed

[2019-04-28 01:58] muhuashanjin opened #24 "Error 400"
after Edit src/common/configuration.ts and src/common/config.json to set the values you obtain from the registration process. but can not login，Error 400 ，why？
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Getting-Started-With-iModel.js---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iMod

[2019-04-29 18:06] ramanujam-raman commented on #24
It sounds like you are trying to configure simple-viewer-app. We will need more information to understand what could have gone wrong, and perhaps try out your code changes. We will contact you separately on this.

[2019-04-30 03:15] muhuashanjin commented on #24
Registered Apps  and Registered Projects :

Edit src/common/configuration.ts and src/common/config.json :

 npm run start:webserver, open http://localhost:3000/:

after click Signin in，display Error 400，why?

------------------ 原始邮件 ------------------
发件人: "ramanujam-raman"<notifications@github.com>;
发送时间: 2019年4月30日(星期二) 凌晨2:06
收件人: "imodeljs/imodeljs"<imodeljs@noreply.github.com>;
抄送: "梅下"<24713

[2019-05-02 13:20] williamkbentley commented on #24
Is there any useful information in the Network or Console tabs of your browser's developer console?

[2019-05-05 03:24] muhuashanjin commented on #24
browser's developer console:

------------------ 原始邮件 ------------------
发件人: "williamkbentley"<notifications@github.com>;
发送时间: 2019年5月2日(星期四) 晚上9:20
收件人: "imodeljs/imodeljs"<imodeljs@noreply.github.com>;
抄送: "梅下"<2471327309@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [imodeljs/imodeljs] Error 400 (#24)

Is there any useful information in the Network or Console tabs of your browser's de

[2019-05-06 04:51] mohsini172 opened #25 "Handling authenticationCallback errors"
When we are creating a listener for Global Events we have to provide an authentication callback. Some times due to connectivity issue the authentication callback that we are providing had to throw an error because it's failed to fetch the token. I'm getting an error of unhandled promise rejection from the iModelJs library. Is there any better way to handle this issue?

[2019-05-07 06:48] Animagne commented on #25
The iModel Hub event listeners are only basic implementation of continuously listening for events. It expects that the provided authentication callback will manage all of the authentication related retries itself and if authentication callback fails, listeners are stopped to avoid continuously getting errors.

I will look into unhandled promise rejection though, as that should not happen.

[2019-05-10 03:05] bhec362587 opened #26 "Fetching...failed？Error: 404 Not Found."
Hi,
we want to test the display-test-app, when we try to Install dependencies(rush install),
the following installation errors will occur.

![image](https://user-images.githubusercontent.com/49505211/57499533-9224c680-7312-11e9-8649-9d9f70a23e33.png)
![image](https://user-images.githubusercontent.com/49505211/57499540-97821100-7312-11e9-9e90-afd394d4a9dd.png)
![image](https://user-images.githubuse

[2019-05-10 14:05] ramanujam-raman commented on #25
Can you subscribe to events that are specific to an iModel instead of global events. The latter requires special access and service accounts.

[2019-05-13 00:34] #26 closed

[2019-05-13 00:35] bhec362587 commented on #26
Please excuse me, I've solved this problem.

[2019-05-13 00:37] bhec362587 commented on #26
The reason for the error is the use of the wrong mirror.

[2019-05-14 14:37] Mitchpain opened #27 "More precision about the coordinate system"
Hello, I think it would be important to add the name of the coordinate system in the documentation. From the definition here I guess it's EPSG:4326.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Cartographic---imodeljs-common-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output/refere

[2019-05-14 14:39] Mitchpain opened #28 "XYandZ difference with Point3d"
Is there a reason why we use XYandZ instead of Point3d?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: spatialToCartographic---imodeljs-frontend-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output/reference/imodeljs-frontend/imodelconnection/imodelconnection/spatialtocartographic/

[2019-05-14 16:50] kabentley commented on #28
This method only requires an object that has members x,y,z. It does not require that it be of type Point3d.

[2019-05-16 11:11] #28 closed

[2019-05-16 16:48] ramanujam-raman commented on #25
Please let us know if you have issues with subscribing to per-iModel events - like I mentioned global events have very restricted access. Can you close this issue if the suggestion works for your case?

[2019-05-17 13:31] mohsini172 commented on #25
I have been able to subscribe on both global event and imodel events. Though there's still an issue with .createListener method. It was logging an issue unexpected JSON when using JSON.parse on global event. The main issue with that method is that it does not provide any callback when internal error occurs and deletes listener on its own. I switched to .getEvent method for time being.

[2019-05-20 11:46] #21 closed

[2019-05-25 09:14] DarrenWen opened #29 "How can I publish mobile terminal"
We are planning to use imodesjs on mobile terminal recently, but I have seen few materials on the network, could you please provide me with more learning materials on mobile terminal development

[2019-05-27 14:36] AndrewStraussHatch opened #30 "ui-ninezone documentation"
Is there any documentation available on ui-ninezone? I see the sample app here (https://github.com/imodeljs/imodeljs/tree/master/ui/ninezone), but is there any actual documentation?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: iModel.js-API-Reference-Documentation---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: ht

[2019-05-27 18:55] JarLob opened #31 "<script>alert(1)</script>"
<script>alert(1)</script>
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Base-Infrastructure-Schemas-(BIS)---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output/bis/index.html

[2019-05-27 18:55] #31 closed

[2019-05-28 13:05] kabentley commented on #29
Can you please elaborate on what you wish to achieve? When you say "mobile terminal" do you mean as a web app on a tablet (e.g. from Safari or Chrome), or do you mean an iPad or Android device (which?)

[2019-05-28 13:20] DanEastBentley commented on #30
Andrew,

There are 4 iModel.js UI packages: ui-core, ui-components, ui-ninezone and ui-framework. ui-core & ui-components will be part of the 1.0 release. However, ui-ninezone and ui-framework are still in active development and will be available in a later release, which will include a ninezone sample application.

If Hatch would like to work directly with Bentley as an early adopter, you will re

[2019-05-29 01:31] DarrenWen commented on #29
Sorry, I have a problem with that, I mean I want to release an app that works on an android device or an apple device.But the project doesn't give much documentation on this.

[2019-05-29 17:28] kabentley commented on #29
We are currently working on our (imminent) 1.0 release. After that we plan to focus on some of these topics that haven't been available yet.

In the meantime, I suggest you get your application working as an Electron desktop app. It will be mostly mechanical work to get a functioning desktop app working on mobile (with a few exceptions).

[2019-05-29 19:20] shanekril opened #32 "How to change the viewport to a drawing selected from tree"
How can the viewport be updated to a selected drawing using the simple-viewer-app as an example code base? E.g. App.tsx has an event (onSelectionChanged) allowing the user to retrieve the view id of the selected drawing. I would like to use this view id to update the viewport to the selected drawing content.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue l

[2019-05-29 20:08] kabentley commented on #32
If you have a viewId, you can call:

[code]
then, call:

[code]

I will update [this article](https://imodeljs.github.io/iModelJs-docs-output/learning/frontend/views/?term=viewport) to show this.

[2019-05-30 17:34] pmconne commented on #27
The documentation has a typo: it reads "WSG 84" where it should read "WGS 84", which is another name for EPSG:4326. Fixing and clarifying.

[2019-05-31 15:10] #32 closed

[2019-06-04 12:29] #29 closed

[2019-06-11 09:34] DarrenWen opened #33 "How can I release a project once it's developed?"
How can I release a project once it's developed?Can the author add a release command to package.json to simplify the operation

[2019-06-14 05:52] #33 closed

[2019-06-14 10:55] #17 closed

[2019-06-25 02:46] DarrenWen opened #34 "A solution to the problem of merging multiple imodel files"
I downloaded the source code of imodeljs, and I found that there is an IModelImporter class that can merge and output two different imodel files.However, when I use this method for model merge presentation, I will report an error in the process of merging. Is there any detailed documentation about this class? Or what other ways can I realize the merging of multiple imodel files?Looking forward to

[2019-06-25 02:58] DarrenWen opened #35 "Official provided examples of measurement error problems"
###  When I ran the official UI example, I found the following error when I opened imodel in local mode:

Plµgíñ 'MeasurePoints' vërsìøñ próblèms éñçòûñtërèd

Mòdùlê main ïs ñøt lòádèd Mòdùlê react ïs ñøt lòádèd Mòdùlê react-dom ïs ñøt lòádèd Mòdùlê redux ïs ñøt lòádèd Mòdùlê lodash ïs ñøt lòádèd Mòdùlê inspire-tree ïs ñøt lòádèd Mòdùlê react-dnd ïs ñøt lòádèd Mòdùlê react-dnd-html5-backend ïs ñøt

[2019-06-25 10:41] pmconne commented on #34
The IModelImporter class is declared "alpha". It is under active development and documentation will remain incomplete until it stabilizes.
Here's a description of how release tags like "alpha" work: https://github.com/imodeljs/imodeljs/blob/master/docs/core/learning/guidelines/release-tags-guidelines.md

[2019-06-26 22:22] scsewall commented on #34
Yes, the IModelImporter class is under active development and only handles a few scenarios right now. That is why it was marked with @alpha. For planning purposes, could you please give some details on your merging scenarios and what the starting conditions and desired ending conditions look like?

[2019-07-03 01:21] DarrenWen commented on #34
Thanks scsewall:
After the modeling is completed, we need to see the final modeling effect, which requires merging multiple DGN files together to see the effect.But the merging process is too demanding on computer hardware and time consuming if the model size is too large.Therefore, recently we are trying to use IModelImporter of imodeljs to realize the merging of multiple imode files to solve the

[2019-07-03 01:24] DarrenWen commented on #34
Hi pmconne：
Thank you for reminding

[2019-07-08 17:28] ColinKerr commented on #34
Darren, how are you converting your DGNs to iModel?

We can merge multiple DGNs into one iModel using our iModel Bridges which also understand and convert data intelligently from some specific applications.  iModel Bridges don't invalidate the approach you are trying but you might find the bridges already do a lot of what you are looking to do.

[2019-07-08 19:43] mgooding opened #36 "Leaf links on the left side (under iModel.js Core Packages) don't work"
The links on the left side use the CamelCase class name in the URL which returns a 404. Editing the link to use the class name in lower case works.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: iModels---imodeljs-backend-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output//reference/

[2019-07-08 19:44] calebmshafer commented on #36
Thanks @mgooding, we noticed this earlier today.  Working on a fix now, should be fixed today, tomorrow at the latest.

[2019-07-09 12:46] calebmshafer commented on #35
@DarrenWen thanks for reporting this.  It was an issue with @bentley/webpack-tools package and the way modules were being loaded.  It should be fixed in the latest code.

Can you please verify that it is working now?  If it isn't, feel free to reopen this issue or file a new one.

Thanks!

[2019-07-09 12:46] #35 closed

[2019-07-09 18:48] calebmshafer commented on #36
A fix has been pushed.  Feel free to open a new issue if you see anything else.  Thanks!

[2019-07-09 18:48] #36 closed

[2019-07-22 11:31] keithfin opened #37 "Expiration emails"
There appears to be an issue with the email expiration logic. I received more than 150 "InspectTechTestProject is about to expire" emails over the span of two days. Each email was about 10 minutes apart.

[2019-07-23 18:19] sainiroop commented on #37
There was an issue in our notification logic that caused emails to be sent out every 10 minutes for 24 hours. The process runs on the 20th of every month. The issue will be resolved before next month's expiration warnings.

[2019-07-23 18:20] #37 closed

[2019-07-29 19:38] calebmshafer commented on #30
@AndrewStraussHatch with the latest update of the iModel.js documentation, a section on [UI 9-Zone}(https://imodeljs.github.io/iModelJs-docs-output//learning/ui/ninezone/) has been added.

Let us know what you think.  Thanks!

[2019-07-29 19:38] #30 closed

[2019-07-29 19:42] williamkbentley commented on #24
Can you try pulling the latest code and creating a new client registration? We have made a few improvements to the registration and READMEs.

[2019-08-02 10:10] maoyankandanteng opened #38 "After the execution of “npm install" is completed,but not generate the script of "start""
![1](https://user-images.githubusercontent.com/23349116/62362968-bdedcc00-b550-11e9-83b6-ff945dd2ec2f.png)

[2019-08-02 10:46] pmconne commented on #38
Please consult the simple-viewer-app README: https://github.com/imodeljs/simple-viewer-app
There are several options for starting the app depending on whether you want to run it in electron or a browser, and whether you want to start the webserver, the backend, or both.
To start it so that you can run it in a browser on localhost, use: `npm run start:servers`

[2019-08-02 11:04] georgyfelix opened #39 "How to view a local imodel file using iModelJs without connecting to ProjectWise server?"
I want to view an iModel which is stored in my local machine without uploading it to iModelHub using iModelJs.

[2019-08-02 20:57] kabentley commented on #39
Have you looked at the [simple-viewer-app](https://github.com/imodeljs/simple-viewer-app) example?

[2019-08-05 14:46] mato5 commented on #39
I have the same problem, I have looked at the [simple-viewer-app](https://github.com/imodeljs/simple-viewer-app), but I was unable to find a working solution. When I tried to follow the example, I ended up coming across this issue - [Invalid iModelToken for PRC operation request](https://github.com/imodeljs/simple-viewer-app/issues/12).

[2019-08-09 19:08] roopsaini commented on #39
As mentioned in [#10](https://github.com/imodeljs/simple-viewer-app/issues/10), the "offline mode" functionality is currently unavailable.

This is the official way to use data with iModel.js for dev purposes:

1)	Get [Bentley View CONNECT edition](https://www.bentley.com/en/products/product-line/modeling-and-visualization-software/bentley-view) (it's free)*.
2)	Open your model (eg. dgn, dwg).
3)

[2019-08-09 19:08] #39 closed

[2019-08-13 21:33] Stoupha opened #40 "Uploading Pointcloud Data into an Imodel based Platform"
Hello,
I've just discovered Imodel, and I'm thinking about developing a website that is based on Imodel api's, the website will serve to upload bim model and pointcloud data to help visualize construction development. Is it possible to do it using Imodel api's, uploading pointcloud data extension .las and bim model extension .ifc ?

[2019-08-15 15:46] #38 closed

[2019-08-19 15:09] kabentley commented on #40
You will first need to [bridge](https://imodeljs.github.io/iModelJs-docs-output/learning/imodel-bridges/?term=bridge) your IFC data into an iModel. We are currently working on releasing the IFC bridge, but in the meantime you can first convert it to .DGN or .DWG and then run a bridge for it.

For point clouds, iModel.js supports [PNTs](https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/

[2019-08-20 11:27] Stoupha commented on #40
Thanks for your response, regarding .dgn or .dwg data, I can convert them, but I will lose the data connection that makes the ifc model, or BIM in general, worth using. It will be just a 3D model without any information about the objects ...
Can you keep me posted regarding this, and if there any solution in keeping the ifc model with its information ?

[2019-08-20 11:30] LabyrinthTechnology commented on #40
Hi,

because your original question was about pointcloud data and this is about the maintaining object data during the transformation, I recommend to create a new post for this question.

Regards,

  Jan

[2019-08-20 11:41] kabentley commented on #40
As I said, we're working on a direct IFC -> iModel bridge.

But, the IFC -> DGN -> iModel path won't lose your property data. It's true that the IFC -> DGN converter generally turns the IFC classes to "dynamic" properties, so you're right, it won't be as good as the direct bridge. But the data won't be lost, and it isn't "just a 3d model". I suggested it since its a good way to get started with iM

[2019-08-20 11:49] kabentley commented on #40
BTW, the *real* problem with the (source application) -> IFC -> DGN -> iModel path is that it becomes very difficult to track changes through that labyrinth. One of iModel.js greatest virtues is it's connection to iModelHub to store changesets. The IFC bridge rectifies that issue to the extent possible. We expect to have it available in a few weeks.

Even better would be to bridge the data from th

[2019-08-23 11:21] #40 closed

[2019-08-28 20:53] jmbarbeiro opened #41 "When creating projects with own imodel file just keep loading."
When trying to register a new projects with my own .imodel file created from publishing a single package of a 2.0 .idgn. the system just keeps spinning and projects don't get created. It is even not relevant the size of the file. At present I have 2 projects pending creation for a couple of days without success so far.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ Git

[2019-08-29 10:36] mato5 commented on #41
As of today I am unable to provide my own .imodel when registering a project.

[2019-08-29 13:04] Josh-Schifter commented on #41
Yesterday we noticed a regression that caused the issue described by @jmbarbeiro.   For now, we have temporarily disabled the upload function while we work on a fix.  We expect the problem will be resolved shortly.  This issue will be updated when we have more information.

[2019-08-29 17:01] Josh-Schifter commented on #41
We have corrected the problem.  Please try again now.

[2019-08-29 17:01] #41 closed

[2019-08-30 11:03] jmbarbeiro opened #42 "When trying to use the simple-viewer-app with own imodel it keeps giving Error 400"
I've tried several times to run the simple-viewer-app with my own imodel loaded through the registered projects and it keeps returning Error 400 Unautorized Client. unauthorized_client - Invalid scope for client. @Timestamp < DateTime('2019-08-30T11:01:40.588520Z') and RequestId='0HLP4PU9GMUMV:000003BB'

Could you please advise what could be the issue? I've done it well with the sample model previ

[2019-08-30 13:33] sainiroop commented on #42
Hi @jmbarbeiro,

Your app registration might be missing the _context-registry-service:read-only_ scope. It is currently not listed in the default scopes, but a fix for that is underway.
Could you please check your app registration in the [dashboard](https://imodeljs.github.io/iModelJs-docs-output/getting-started/registration-dashboard/) to verify this?

You can add the missing scope by switching o

[2019-09-03 14:21] hackneycrypto opened #43 "Failed to run build via npm"
Hi,
I am getting the following error when I try to run the build after installing npm.

Note: I had to install via `npm i npm@latest` because the standard `npm install` command was also causing an error.

I am trying to run on MacOS Majave (10.14.5 (18F132)).

Regards,
Stephen.

[2019-09-03T14_10_35_087Z-debug.log](https://github.com/imodeljs/imodeljs/files/3569884/2019-09-03T14_10_35_087Z-debug.l

[2019-09-03 16:01] sainiroop commented on #43
Hi @hackneycrypto,

Your log indicates you are using node v8.15.0. iModel.js requires node 10.x version as listed in the [Getting Started](https://imodeljs.github.io/iModelJs-docs-output/getting-started/#1-get-the-tools) page. However, we currently only support Windows and Linux.

[2019-09-03 18:00] hackneycrypto commented on #43
OK, thanks. I will do that.

[2019-09-03 18:00] #43 closed

[2019-09-11 13:48] ctn227 opened #44 "code example for ECSQL SELECT for sample viewer"
I would like an code example of using ECSQL Select for the front end of the Simple viewer app. Thank you

[2019-09-11 14:10] sainiroop commented on #44
Hi @ctn227,

I recently wrote a blog [post](https://medium.com/imodeljs/imodel-js-meets-csv-part-2-3-52535da19576) on this subject.
In short, you can use the [query ](https://imodeljs.github.io/iModelJs-docs-output/reference/imodeljs-backend/ecdb/ecdb/query/?term=query) API from the frontend to run ECSql queries.

[2019-09-11 15:37] ctn227 commented on #44
I'm new at this. I would appreciate it if you could tell me where to add the below lines to the Sample Viewer code to get it to compile:
	  const query = ('SELECT ECInstanceId AS id FROM BisCore:PhysicalModel');
	  const compIDs = await imodel.queryPage(query);
Got "property 'queryPage' does not exist on type IModelConnection' when adding the above to simple-viewer-app-master\src\frontend\componen

[2019-09-11 15:53] sainiroop commented on #44
Looks like queryPage was deprecated. Try using [query ](https://imodeljs.github.io/iModelJs-docs-output/reference/imodeljs-frontend/imodelconnection/imodelconnection/query/?term=query)instead:

const rows = []
for await (const row of imodel.query("SELECT .. ")) {
    rows.push(row)
}

I'll update the post.

[2019-09-11 16:33] ctn227 commented on #44
Got this error with the above code.:
src/frontend/components/App.tsx(258,26): error TS2532: Object is possibly 'undefined'.

[2019-09-11 16:52] sainiroop commented on #44
Could you please provide a screenshot of your code?

My guess is you are making the call from a place where _imodel_ could still be undefined. If that's the case, either you can add your code within an _if (imodel) {}_ block:

[code]

or call it after the _(!imodel)_ check in the [__onIModelSelected_ ](https://github.com/imodeljs/simple-viewer-app/blob/fa2d178bed44d664a7fc2298c5c5f05647a1e4b2/src/

[2019-09-11 17:15] ctn227 commented on #44
Calling it after the (!imodel) check works well!!! thank you.
What table do I use to get the category below:
![image](https://user-images.githubusercontent.com/55195963/64719137-a54ccc00-d495-11e9-8288-22bbada498db.png)

[2019-09-11 17:24] #44 closed

[2019-09-11 17:31] ctn227 opened #45 "How to get a list of tables for a project"
For the Simple Viewer project, what table do I use to get the category below:
![image](https://user-images.githubusercontent.com/55195963/64720451-7dab3300-d498-11e9-9475-38af3a8c0d82.png)

[2019-09-11 17:56] sainiroop commented on #45
Example:

![image](https://user-images.githubusercontent.com/6562563/64721836-42f6ca00-d49b-11e9-8c74-3027ee7a3d15.png)

As mentioned in the blog [post](https://medium.com/imodeljs/imodel-js-meets-csv-part-2-3-52535da19576), I highly recommend using the [iModel Console](https://imodelconsole.bentley.com/) app to improve your understanding of ECSql.

Especially helpful when used in conjunction with

[2019-09-11 18:05] ctn227 commented on #45
Thank you!

[2019-09-11 18:05] #45 closed

[2019-09-12 06:11] mohsini172 opened #46 "Feature request: Callback for event listener error"
I have a listener service for imodelhub event and creating listener would a great method to use. But the issue is that when something went wrong the listener stops and there's no feedback if the listener is stopped. It would be great if we can provide a callback for error like for do for processGlobalEvent.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue li

[2019-09-13 18:16] ctn227 opened #47 "Compiling errors with FileReaderRpcInterface"
I got compile errors when trying to use your example in
https://medium.com/imodeljs/imodel-js-meets-csv-part-1-3-79a8ffde51da

-------- Operation: Compile .tsc files --------
Errors:
src/common/FileReaderRpcImpl.ts(9,53): error TS2345: Argument of type 'typeof FileReaderRpcInterface' is not assignable to parameter of type 'RpcInterfaceDefinition<RpcInterface>'.
  Type 'typeof FileReaderRpcInterfac

[2019-09-16 16:48] sainiroop commented on #47
Hi @ctn227,

I have updated the code in all the posts to a stable version. Also, I have replaced all the code images with GitHub gists, so you can now copy-paste directly from the blog :)

Can you please get the latest code and try again?

[2019-09-16 17:19] sainiroop commented on #47
You can find the entire source code [here](https://github.com/sainiroop/simple-viewer-app/tree/imodeljs-meets-csv).
And here's a [diff](https://github.com/sainiroop/simple-viewer-app/commit/8401151f79ebc34efa03bc2c9522d9c02ed05dda) against the original simple-viewer-app source.

[2019-09-16 17:56] ctn227 commented on #47
Thank you very much for your help.

[2019-09-16 17:56] #47 closed

[2019-09-17 11:43] eligijusm commented on #46
As documentation indicates GlobalEvents are reserved for internal use in Bentley and will not work for 3rd party applications. I suggest looking at [regular iModel events](https://imodeljs.github.io/iModelJs-docs-output/learning/imodelhub/events/).
Let us know if you have same problems with regular events or they don't provide functionality you need.

[2019-09-22 05:27] candcconsulting commented on #34
Darren, we have many projects which are federating dgn's from many applications as well as REVIT/SmartPlant etc.
If you would like to explore this avenue then please reach out to me …
glen.worrallatbentley.com

[2019-09-22 05:30] candcconsulting commented on #12
You saw there is a sinlge upload, but please reach out to me, there are many ways of uploading data and we would like to review the type of data you have and how often you want to update the data.

Currently we are bridging projects using i.dgn and Bentley Connect Edition applications, Revit, SmartPlant but there are other bridges that are being deployed.

[2019-10-31 18:42] BaoTon opened #48 "Hi Caleb"
Please delete this
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Base-Infrastructure-Schemas-(BIS)---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question

[2019-11-15 02:47] maoyankandanteng opened #49 "upload my Imodel"
![1](https://user-images.githubusercontent.com/23349116/68913126-43f6f100-0795-11ea-87ce-8c824c0d8df8.png)
![5](https://user-images.githubusercontent.com/23349116/68913131-48230e80-0795-11ea-8a50-f01eb4a53e81.png)

[2019-11-16 21:18] aderderian opened #50 "Should IModelConnection.openSnapshot() require a connection to IModelHub?"
In the documentation and issues it says IModelConnection.openStandalone() is being removed in order to streamline operations through IModelConnection.openSnapshot(). The documentation however says we shouldn't use this in a web front-end. Can I use this? I am trying to "work offline" with the sample app in a web browser in order to try openSnapshot with a local file and I am getting an error stati

[2019-11-16 21:20] aderderian commented on #50
Also looks related to https://github.com/imodeljs/imodeljs-samples/issues/6

[2019-11-18 07:47] maoyankandanteng commented on #49
now i can't find the choice of "local Imodel file",so how to register a new projects with my own .imodel file created from publishing a single package of a 2.0 .idgn

[2019-11-18 14:48] williamkbentley commented on #49
We temporarily disabled this feature while we investigated and fixed the issue. The fix has been deployed and you should be able to again upload your .imodel file to start a test project.

[2019-11-18 17:24] scsewall commented on #50
A _snapshot_ iModel is a read-only file that is detached from and unknown to iModelHub. It therefore cannot be synchronized with iModelHub and does not have a change timeline. This is different from an iModel _briefcase_ that is synchronized with iModelHub and does have a change timeline. A briefcase might not be able to be synchronized if there is not a network connection (offline), but it can wh

[2019-11-19 14:16] aderderian commented on #50
Understood on the first part. Based on the simple viewer example though, if I want to read a local file how would I do that? I want to open a snapshot file that was exported from another product. openSnapshot is requiring a token. In my scenario the backed could be on a web server, but it appears in the example the opening of the snapshot happens in the frontend. How do I make my backend work with

[2019-11-19 14:53] ColinKerr commented on #50
On the backend you can use the IModelDb.openSnapshot method.

API Docs: https://imodeljs.github.io/iModelJs-docs-output/reference/imodeljs-backend/imodels/imodeldb/opensnapshot/

Some description of snapshots: https://imodeljs.github.io/iModelJs-docs-output/learning/backend/accessingimodels/

The display-test-app in the iModel.js source is setup to open a snapshot iModel:  https://github.com/imode

[2019-11-19 15:01] aderderian commented on #50
@ColinKerr thanks so much. I did review some of these docs and it was not completely clear. It was clear that in a back-end you would use an IModelDb, where the front-end leverages IModelConnection. In the basic viewer app sample, it is not clear how that front-end goes through the back-end provided. Attempting to swap in the IModelDb piece to that was not super clear. If those links in your reply

[2019-11-19 15:56] ColinKerr commented on #50
We have work to do to improve our documentation here.  Your feedback on what has been helpful will help us update our docs in the future.

The key to opening it from the frontend is to use the IModelConnection.openSnapshot(fileName).  For this to work the SnapshotIModelRpcInterface must be registered.  See registration of this interface search for it in that display-test-app directory.

Checkout t

[2019-11-19 16:02] aderderian commented on #50
Thanks, will do and report back!

[2019-11-20 01:26] maoyankandanteng commented on #49
Due to the closing of the web page during the upload process, the project in the registration dashboard have been loaded all the time,like this below
![Uploading 微信截图_20191120092459.png…]()

[2019-11-20 01:31] #49 closed

[2019-11-22 02:39] maoyankandanteng opened #51 "iModel Upload,outdated file"
@Josh-Schifter
![微信截图_20191122103139](https://user-images.githubusercontent.com/23349116/69394190-4669c580-0d16-11ea-8eb3-7d14e7913bbe.png)
I am a novice. I have some problems when I register the project. Can you teach me，Thanks

[2019-11-22 13:17] Josh-Schifter commented on #51
The upload only supports the iModel 2.0 format.  The error suggests you are using an older format.  See [this page](https://communities.bentley.com/products/microstation/b/microstation_blog/posts/publishing-an-imodel-in-bentley-view) for instructions on how to create iModel 2.0.

[2019-11-28 08:58] shenshengyi opened #52 "I couldn't open the local ibim file using simple-viewer-app."
I couldn't open the local ibim file using simple-viewer-app.
Always prompt Invalid iModelToken for RPC operation request，Can you help me? thanks.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Getting-Started-With-iModel.js---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-outp

[2019-11-29 00:34] shenshengyi opened #53 "I couldn't open the local ibim file using simple-viewer-app."
I couldn't open the local ibim file using simple-viewer-app.
Always prompt Invalid iModelToken for RPC operation request，Can you help me.thanks.

* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://imodeljs.github.io/iModelJs-docs-output/learning

[2019-12-01 21:21] rahul606 opened #54 "rush install error"
"rush install" command is not successful on Mac OS NodeJS - v12.13.1
Error: Command failed: npm install --no-save @bentley/imodeljs-darwin-x64@1.
│ npm ERR! code E404
│ npm ERR! 404 Not Found - GET https://registry.npmjs.org/@bentley%2fimodeljs-
│ npm ERR! 404
│ npm ERR! 404  **'@bentley/imodeljs-darwin-x64@1.8.5' is not in the npm registr**
│ npm ERR! 404 **You should bug the author to publish it

[2019-12-02 13:19] calebmshafer commented on #53
Duplicate of #52. Closing this to continue the conversation there.

[2019-12-02 13:19] #53 closed

[2019-12-02 13:35] ColinKerr commented on #54
iModel.js backends do not yet support MacOS, but we're working on it.

The list of currently supported platforms can be found here: https://imodeljs.github.io/iModelJs-docs-output/learning/supportedplatforms/

I'm sorry this has been an inconvenience for you.

[2019-12-02 13:35] #54 closed

[2019-12-02 13:37] calebmshafer commented on #42
@jmbarbeiro can you confirm if this fixed the unauthorized issue?

[2019-12-04 01:10] aderderian commented on #50
@ColinKerr , I had the chance to revisit this last night. When I run the display-test-app, I hit a couple of issues. First, for some reason when I run the app by leveraging the "npm run start:servers" command it seems to think I am in a mobile environment. It is not until I hard code some of the logic to force it to load from the configuration.json does it work. I open a browser in chrome to http:

[2019-12-04 10:36] pmconne commented on #50
@aderderian I'll first paraphrase the disclaimer included in display-test-app's README: this app exists strictly for developer testing of display-related functionality. Its UI is primitive and unintuitive, and it uses undocumented, unstable, and potentially unsafe APIs. It is not intended to serve as an example of a "real" iModel.js-based app - that's what the samples are for.

That said, a handfu

[2019-12-04 12:55] aderderian commented on #50
Hey @pmconne thanks so much for the tip on updating. I originally pulled the repo a couple of weeks ago, so yes it appears I was running 1.7. This all seems to work now for me. It sounds like if you reload the browser without closing the model first you may get into trouble when loading on startup from disk, the manual workaround seems to just restart the server. Also one strange thing I am seeing

[2019-12-04 18:02] ColinKerr commented on #50
@pmconne is referring to the environment variables described here: https://github.com/imodeljs/imodeljs/blob/master/test-apps/display-test-app/README.md

How you set them depends on what environment you're working in.  For example I'm running windows and have VS Code setup to use the bash shell so I set the default iModel to open in the shell like this:
[code]

Hope this helps you.

[2019-12-04 21:17] aderderian commented on #50
Got it. Thanks! Yes, all is working well for me now.

[2019-12-04 23:12] wilmaier commented on #50
FYI - I investigated the issues with the simple-viewer-app and found that recent changes caused this to break. I hope to have my fixes in a new version in the next couple days.

[2019-12-04 23:17] wilmaier commented on #52
I discovered that due to recent changes, the feature of opening a snapshot imodel using the “Work Offline” button is no longer working.
A new version with a fix should be available in the next couple days.

One thing I should mention is that this feature is not supported for web apps.
The ‘Work Offline’ button will only be available when the app is run as an electron app (npm run electron).

[2019-12-05 16:24] wilmaier commented on #50
The issue with simple-viewer-app is now resolved in the latest version.

[2019-12-05 16:25] wilmaier commented on #52
This issue is now resolved in the latest version.

[2019-12-05 16:25] aderderian commented on #50
Nice! Thanks, I will check it out.

[2019-12-05 18:11] aderderian opened #55 "Running test apps over SSL"
Hello I have configured a self-signed cert for my localhost and have a key/cert file. I noticed that the "start:webserver" command will start a core Bentley webserver which is a wrapper of express server. Is there a way to pass parameters to it for the keyfile and certfile locations? Looking at the code it does not look like it is leveraging those options at the moment. https://github.com/imodeljs

[2019-12-05 19:00] #50 closed

[2019-12-05 19:01] #52 closed

[2019-12-16 11:40] Tomek1592 opened #56 "Converting a file from .3mx to .imodel"
Hi,

is there any chance to convert ContextCapture .3mx file to .imodel? I tried to convert .3mx model using Bentley View CONNECT Edition, but a produced .imodel or .bim model seems not to be recognized correctly by connect.bentley.com Design Review web viewer - there is just a skybox, nothing else. I just want to know if there is any chance to produce iModel recognizable format from .3mx (or mayb

[2019-12-16 22:05] Josh-Schifter commented on #56
Have you tried the reality data picker in the web viewer?  To open it, look for an icon on the right side that looks like a globe.  If you data was converted properly, there should be an entry there.

If that doesn't work, please give us some more details of the steps you are using to produce the iModel and get it into the viewer.

[2019-12-17 09:19] Tomek1592 commented on #56
@Josh-Schifter thank you for your response. Yes, there is an entry in Reality Data tab (globe icon) but with Bing Map only. When i move down and click Model Tree tab (tree icon) there is an entry with my model: Model_name.imodel, but that's it, no any sub trees.

How I produce an iModel:

1. I'm using Bentley View CONNECT Edition to convert .3mx model to an i-model. Here is the official article ab

[2019-12-18 15:22] sainiroop opened #57 ".i.dgn, .dgn, .dwg, .rvt upload support."
The [iModel Upload](https://medium.com/imodeljs/imodel-upload-72ba23603a4f) feature on the [registration dashboard](https://imodeljs.github.io/iModelJs-docs-output/getting-started/registration-dashboard/?tab=1) now supports direct uploads of .i.dgn, .dgn, .dwg, .rvt files. You can get data from disparate systems into the Hub faster!

[2019-12-18 15:28] sainiroop commented on #12
Please see #57 .

[2019-12-19 19:44] #57 closed

[2019-12-19 19:52] #12 closed

[2019-12-20 14:47] andgonro opened #58 "exporting imodel to obj"
I am trying to use the test app export-obj but the imodel keeps failing to be loaded due to a profile issue
I have tried to open directly a local .imodel file published from OpenPlant or a .idgndb created by Navigator getting a different error on each case

using .imodel
**PS D:\_Siemens\DevProjects\imodeljs\test-apps> node export-obj/lib/ExportObj.js --input "m3321a010.imodel" --output "OPM_Examp

[2019-12-20 15:29] ColinKerr commented on #58
The second error is happening because you are trying to open a 1.6 iModel which is not compatible with iModel.js (iModel.js only supports 2.0 iModels, ECDb profile 4 and greater).  The latest versions of Navigator CONNECT Edition (10.x) support 2.0 iModels.  This newer version of Navigator converts the older iModels in place so it can view them but does not support saving the exported file.  The s

[2019-12-20 15:34] pmconne commented on #58
A .imodel file is basically a zip archive containing a .bim or .ibim file. export-obj wants the uncompressed file - it won't decompress it for you.

[2019-12-20 15:45] Josh-Schifter commented on #58
If you have a recent .imodel package file, you can extract the .bim/.ibim using these two steps:
1. Upload it to the hub from the [developer registration dashboard](https://imodeljs.github.io/iModelJs-docs-output/getting-started/registration-dashboard/?tab=1)
2. Run the [snapshot utility](https://gist.github.com/wilmaier/0a6cec9b660478c4719e6c9aa70b133d) to pull out the contents:

If that doesn't

[2019-12-20 15:51] BaoTon opened #59 "Test Issue"
Please delete me.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Logging---imodeljs-common-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/reference/imodeljs-common/logging/

[2019-12-20 15:51] #59 closed

[2019-12-20 17:49] andgonro commented on #58
Thanks, it worked when I used i.bim file

[2019-12-20 17:49] #58 closed

[2019-12-31 12:51] andgonro opened #60 "extracting .bim file from local .imodel file"
Hello,

I have a .imodel 2.0 file generated from OpenPlant and I would like to extract the .bim file in order to be able to use
const iModel: IModelDb = IModelDb.openSnapshot(MyImodelName);

is there a way to do this locally without connection to the iModelHub or do I need to go through the iModelHub and then the [imodel-snapshot](https://gist.github.com/wilmaier/0a6cec9b660478c4719e6c9aa70b133d#i

[2020-01-08 18:30] #46 closed

[2020-01-16 08:05] fella752 opened #61 "Urgent Issue"
I am getting following Error:
(node:61488) UnhandledPromiseRejectionWarning: TypeError: Cannot create property 'stack' on string 'Failed to discover URL for service identified by "iModelHubApi"'
    at RpcInvocation.fulfillRejected (D:\Ashish\simple-viewer-app-master\node_modules\@bentley\imodeljs-common\lib\rpc\core\RpcInvocation.js:145:26)
    at RpcInvocation.fulfillment.result.then (D:\Ashish\

[2020-01-16 08:33] ashish752 commented on #61
I followed the following Process:
1: Downloaded the Simple Viwer APP
2.Install all modules and create bently account and project
3.Change Config in common with new project and model name
4.Start servers by npm run start:servers
5.Hit localhost:3000 in browser and try to open sample imodel then getting the following error

(node:61488) UnhandledPromiseRejectionWarning: TypeError: Cannot create prop

[2020-01-16 08:34] ashish752 commented on #61
Is this for firewall which cannot allowed to download briefcase in localhost??
If Yes then please tell me URL so that I can bypass that URL

[2020-01-16 08:46] ColinKerr commented on #61
what seems to be failing is the call to get the URL for the iModelHub which would then be used to download the URL.  The failing request should have a url like: https://buddi.bentley.com/WebService/GetUrl/?url=iModelHubApi&region=0

The result of this call will include the url for the iModelHub.

[2020-01-16 09:36] ashish752 commented on #61
I am getting the following response when hitting that URL:
{"request":{"requestId":"eb136cd3-b8ec-4cfa-a495-44e27a74928c","inputs":[{"name":"url","value":"iModelHubApi"},{"name":"region","value":"0"}]},"resultInfo":{"resultCount":1,"message":"Success!"},"result":{"url":"https://imodelhubapi.bentley.com"}}

Can you please check tell me the solution for this

[2020-01-16 12:02] ColinKerr commented on #61
Do you have 'imjs_buddi_url' or 'imjs_buddi_resolve_url_using_region' set in your config?

[2020-01-16 12:45] maakkoush commented on #13
Hi,

Am facing the same issue with simpleviewerapp and ninzone app. I tried the above solution but still the same issue persists. How to check the cause of the problem and resolve it?

Thanks,
Mona

[2020-01-16 12:57] maakkoush commented on #42
Am facing the same issue and already had the context-registry-service:read-only scope added but still the issue persisted. Any hints?

[2020-01-16 15:58] sainiroop commented on #42
@maakkoush this issue occurs when your client requests a scope that's not listed in your app registration. Can you verify that the scopes in your configuration.ts (under common) match the scopes in your registration on the [dashboard](https://www.imodeljs.org/getting-started/registration-dashboard/)?

Scopes in client code:

![image](https://user-images.githubusercontent.com/6562563/72540483-7f21a

[2020-01-16 20:56] sainiroop commented on #61
@ashish752 , can you please share the contents of your config.json file (under lib/webresources)? I would leave out your client-id if you have one.

[2020-01-17 05:19] ashish752 commented on #61
{
  // -----------------------------------------------------------------------------------------------------------
  // Project and iModel (REQUIRED)
  // Must un-comment the lines below and set these variables before testing - create a new project and
  // iModel with the developer registration procedure here - https://git.io/fx8YP
  // ------------------------------------------------------------

[2020-01-17 05:21] ashish752 commented on #61
is there any way to connect through phone so that we can discuss this issue

[2020-01-17 07:48] maakkoush commented on #42
Worked perfectly. Thanks.

From: sainiroop [mailto:notifications@github.com]
Sent: Thursday, January 16, 2020 5:58 PM
To: imodeljs/imodeljs <imodeljs@noreply.github.com>
Cc: Mona Akkoush <Mona.Akkoush@dar.com>; Mention <mention@noreply.github.com>
Subject: Re: [imodeljs/imodeljs] When trying to use the simple-viewer-app with own imodel it keeps giving Error 400 (#42)

@maakkoush<https://github.com

[2020-01-20 05:37] ashish752 commented on #61
Team I didnt able to run this plz help me

[2020-01-20 18:04] calebmshafer commented on #61
What version of the iModel.js libraries is Simple Viewer App (SVA) using? Also, are you using the Simple Viewer App from the [iModel.js Samples repo](https://github.com/imodeljs/imodeljs-samples) or from a different repository?

[2020-01-20 18:08] ashish752 commented on #61
Yes i downloaded Ip from Simple Viewer App repo

[2020-01-20 18:11] calebmshafer commented on #61
Is the repository you downloaded it from, https://github.com/imodeljs/simple-viewer-app?  Can you copy the "dependencies" from the package.json?

[2020-01-20 18:13] ashish752 commented on #61
I downloaded zip folder from that repo n install npm

[2020-01-20 18:13] ashish752 commented on #61
Same package.json i used

[2020-01-20 18:20] calebmshafer commented on #61
Can you try downloading the [iModel.js Samples repo](https://github.com/imodeljs/imodeljs-samples) and testing the same thing from the "interactive-app/simple-viewer-app" folder?

The individual Simple Viewer App repo hasn't been updated in several months and has been archived.

[2020-01-20 18:24] ashish752 commented on #61
Can I try with new zip downloaded project Simple Viewer?

[2020-01-20 18:24] ashish752 commented on #61
What is the issue, can u please explain so that I can also go through that

[2020-01-20 18:51] calebmshafer commented on #61
Yes, you can download a zip of the iModel.js Samples repository which contains the newer version of the Simple Viewer App and try it out.

I'm not sure what the issue is yet but wanted to see if you can reproduce the error with the latest code so we can narrow down what's causing the error.

In addition, can you provide the full steps you used to get the error?  Such as,

1. Download a zip of the

[2020-01-20 18:58] ashish752 commented on #61
I also did the above mentioned steps.
In my ofc network some issue in electron package so i Install node modules in open network and replace that and tried to start servers.
Server started and in browser localhost opened.

At the time of when I clicked imdoel button after login gettin that error

[2020-01-20 19:13] calebmshafer commented on #61
When you tried to install again, when on an open network, did you delete the `node_modules` directory first? Or just re-ran the `npm install`?

[2020-01-20 19:30] ashish752 commented on #61
Yes that is deleted and replace with open network downloaded node modules

[2020-01-20 19:31] ashish752 commented on #61
We can also set up meeting and i will show u the issue

[2020-01-21 05:40] ashish752 commented on #61
Hi Team I have followed the following Steps:
1.Download Zip Project from iModel.js Samples repo and Unzip that
2.Go to \imodeljs-samples-master\interactive-app\simple-viewer-app and paste node modules
3.Cd \interactive-app\simple-viewer-app and command npm run build

Getting some error at build time

-------- Operation: Compile .tsc files --------
Errors:
src/frontend/components/App.tsx(10,70): er

[2020-01-21 05:45] ashish752 commented on #61
One Important thing:
In Open network everthing working fine
But in workspace firewall I m getting issue

Can you do one thing list out all URLs like briefcase dowlaod and connection to Bentely Server so that I can checked all that URL in workspace and make open if required

[2020-02-09 21:18] mibib7 opened #63 "SassError: File to import not found or unreadable: @bentley/ui-core/lib/ui-core/scrollbar."
I am trying to create a basic OIDC SignIn page using the provided components of ImodelJS on an external project to the monorepo.

To do so, I used `npm install` to install what I think are the minimal dependencies needed. Here's is the partial content on my `package.json` file:
[code]

Based on the `ui-test-app` code, I wanted to write a basic `SignIn` component, but I end up with the following er

[2020-02-10 17:26] DanEastBentley commented on #63
The error is related to sass-loader and how the Sass partial files are being imported. Are you using the iModel.js webpack tools or your own? If you're using your own, a webpack configuration rule like the following is required:

const config: webpack.Configuration = {
  module: {
    rules: [
. . .
      {
        loader: require.resolve("sass-loader"),
        options: {
          includePaths:

[2020-02-11 00:05] #63 closed

[2020-02-13 16:14] #42 closed

[2020-02-13 17:28] calebmshafer commented on #24
@muhuashanjin are you still facing this issue?

[2020-02-13 17:32] calebmshafer commented on #51
@maoyankandanteng if you have any follow up questions/issues, please open a new issue.

[2020-02-13 17:32] #51 closed

[2020-02-14 08:20] fella752 opened #64 "Storing Logger"
How we can store all logger in text file
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Logging---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/common/logging/?term=logger

[2020-02-14 12:36] pkmishr opened #65 "Could not find a declaration file for module 'openid-client'"
i am importing  "@bentley/imodeljs-clients-backend" and using OidcAgentClient class but when i build my project it throw  "error Command failed with exit code 2".

Error:
/@bentley/imodeljs-clients-backend/lib/oidc/OidcBackendClient.d.ts(6,58): error TS7016: Could not find a declaration file for module 'openid-client'. 'C:/<folder>/<projectname>/node_modules/openid-client/lib/index.js' implicitly

[2020-02-14 13:31] calebmshafer commented on #64
Hi @fella752, iModel.js supports [Bunyan](https://www.npmjs.com/package/bunyan) as an additional logger which has the ability to output the logs to a file.

The documentation on how to configure it with the iModel.js [Logger](https://www.imodeljs.org/reference/bentleyjs-core/logging/logger/) is within the API reference docs of the [BunyanLoggerConfig](https://www.imodeljs.org/reference/logger-conf

[2020-02-14 17:13] fella752 opened #66 "Bunyan Logger Issue"
Hi Team,
I am getting logs in console but not able to store it in text file.
I added BunyanLoggerConfig.ts in my Simple Viewer Project srcbut not able to store logs in a text file.

Can you please help with steps to store logs in text file
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: BunyanLoggerConfig---logger-config-link-to-docs
*

[2020-02-15 01:05] aderderian commented on #55
Any updates here?

[2020-02-15 02:42] ramanujam-raman commented on #65
I couldn't reproduce this issue in a new vanilla typescript project with minimal dependencies - see test code and package.json below. The code uses OidcAgentClient to fetch an access token. Perhaps you can set this code up in a brand new npm project to compare.

Now, the version of openid-client that is currently being used didn't have the type definitions, so we do add that in to the project. Thi

[2020-02-15 16:01] calebmshafer commented on #66
@fella752, did you try setting a default log level and removing the initialization of logging to the console before adding the bunyan logger?

I just tried this out and did the following to get it working.

1. Add `@bentley/logger-config` as a dependency in the [package.json](https://github.com/imodeljs/imodeljs-samples/blob/master/interactive-app/simple-viewer-app/package.json).
1. Within [main.t

[2020-02-15 16:03] calebmshafer commented on #64
Closing and continuing the conversation in #66

[2020-02-15 16:03] #64 closed

[2020-02-15 20:26] fella752 commented on #66
internal/modules/cjs/loader.js:796
    throw err;
    ^

Error: Cannot find module 'bunyan'
Require stack:
- D:\Project\imodel-unity-example-master\node_modules\@bentley\logger-config\lib\BunyanLoggerConfig.js
- D:\Project\imodel-unity-example-master\node\lib\Main.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:793:17)
    at Function.Module._load (internal/modules/cjs/l

[2020-02-15 20:27] fella752 commented on #66
/*---------------------------------------------------------------------------------------------
* Copyright (c) 2019 Bentley Systems, Incorporated. All rights reserved.
* Licensed under the MIT License. See LICENSE.md in the project root for license terms.
*--------------------------------------------------------------------------------------------*/
import { ExportGraphicsInfo, IModelHost, IModel

[2020-02-15 20:27] fella752 commented on #66
shared main.ts file

[2020-02-15 20:32] calebmshafer commented on #66
Do you have `bunyan` set as a dependency?

[2020-02-15 20:33] calebmshafer commented on #66
Here's the version Simple Viewer App is using, https://github.com/imodeljs/imodeljs-samples/blob/master/interactive-app/simple-viewer-app/package.json#L106

[2020-02-15 20:34] fella752 commented on #66
yes that is in present

{
  "name": "imodel-unity-example",
  "private": true,
  "license": "MIT",
  "scripts": {
    "start": "node lib/Main.js --input=demo.bim",
    "start-selector": "node lib/Main.js",
    "build": "cpx src/IModelRpc_pb.js lib/ && npm run build-code && node ./node_modules/@bentley/build-tools/scripts/ignoreargs.js 1>&2",
    "lint": "tslint -p . 1>&2",
    "build-code": "tsc 1

[2020-02-15 20:36] calebmshafer commented on #66
Can you try adding `@bentley/logger-config: "1.11.0"`?  That's the package which has the `BunyanLoggerConfig` class in it.

[2020-02-15 20:39] fella752 commented on #66
PS D:\Project\imodel-unity-example-master\node> npm run start

internal/modules/cjs/loader.js:796
    throw err;
    ^

Error: Cannot find module 'bunyan'
Require stack:
- D:\Project\imodel-unity-example-master\node_modules\@bentley\logger-config\lib\BunyanLoggerConfig.js
- D:\Project\imodel-unity-example-master\node\lib\Main.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.

[2020-02-15 20:40] fella752 commented on #66
added that but after build and start getting the above error

[2020-02-15 20:41] fella752 commented on #66
I am running imodel unity example project, changes done in two files only package.json and main.ts

[2020-02-15 20:41] fella752 commented on #66
if u want i can share both the file again

[2020-02-15 20:42] calebmshafer commented on #66
okay, I'll test it out with the unity example.  Did you try deleting the node_modules and re-installing?

[2020-02-15 20:44] kabentley commented on #66
Did you do npm update after changing your package.json?

[2020-02-15 20:46] fella752 commented on #66
yes i have done that

[2020-02-15 20:48] fella752 commented on #66
if your unity example project working then plz share package.json and main.ts file with changes

[2020-02-15 21:02] calebmshafer commented on #66
Would you be able to publish a repo that has your changes and reproduces the problem?  Might be the easiest way to diagnose what's going wrong.

[2020-02-15 21:06] fella752 commented on #66
I am able to fixed that issue

[2020-02-15 21:06] fella752 commented on #66
PS D:\Project\imodel-unity-example-master\node> npm run start

Info    |imodel-unity-example| Opened demo.bim successfully.
Info    |imodel-unity-example| Listening on ws://localhost:3005

no log file creted

[2020-02-15 21:07] fella752 commented on #66
After server start no file created and also info logs not stored but in console i ma getting logs

[2020-02-15 21:07] fella752 commented on #66
/temp/example.log

[2020-02-15 21:11] fella752 commented on #66
Main.ts

/*---------------------------------------------------------------------------------------------
* Copyright (c) 2019 Bentley Systems, Incorporated. All rights reserved.
* Licensed under the MIT License. See LICENSE.md in the project root for license terms.
*--------------------------------------------------------------------------------------------*/
import { ExportGraphicsInfo, IModelHos

[2020-02-15 21:12] fella752 commented on #66
Package json

{
  "name": "imodel-unity-example",
  "private": true,
  "license": "MIT",
  "scripts": {
    "start": "node lib/Main.js --input=demo.bim",
    "start-selector": "node lib/Main.js",
    "build": "cpx src/IModelRpc_pb.js lib/ && npm run build-code && node ./node_modules/@bentley/build-tools/scripts/ignoreargs.js 1>&2",
    "lint": "tslint -p . 1>&2",
    "build-code": "tsc 1>&2",

[2020-02-15 21:20] calebmshafer commented on #66
Did you check if a log file exists at the root of your drive, such as `C:\temp\example.log`?  That's where bunyan resolved the file path for me.

[2020-02-18 06:48] fella752 commented on #66
Hi @calebmshafer ,
Having two issue:

- All logs are not comming in logger.log file
**Console log**:
Info    |imodeljs-addon| Initialized iModel.js addon to region 'PROD'.
Info    |imodel-vr| Retrying to connect network..
Overriding default config with the following config: {"imjs_only_signin":true,"imjs_client_id":"temporary-vr-app-for-hatch","imjs_scope":"openid email imodelhub urlps-third-party

[2020-02-18 06:49] fella752 commented on #66
**Second Issue**
If you see both logs format is different, can we store same formatted console log in logger.log?

[2020-02-18 08:36] fella752 commented on #66
Also one issue LogTrace is not stored in Logger.log file

[2020-02-18 13:37] calebmshafer commented on #66
For Trace level logging, you'll want to modify this line, `Logger.setLevelDefault(LogLevel.Info);`, to be `Logger.setLevelDefault(LogLevel.Trace);`.  See [LogLevel](https://www.imodeljs.org/reference/bentleyjs-core/logging/loglevel/) for more details.

For the formatting of the bunyan logs, we pass the message directly to Bunyan so you'll want to consult their docs on how to switch the formatting.

[2020-02-18 23:01] calebmshafer commented on #55
hey @aderderian, the imodeljs-webserver is just a thin wrapper around express, only accepting 2 basic configurations, to provide a starting point to host a static iModel.js frontend application.  If you need to support SSL, I'd suggest using express directly to implement the frontend web server as you'll be able to take full advantage of their APIs.

[2020-02-18 23:26] aderderian commented on #55
Thanks @calebmshafer. I did do that. To the point of adding 2 more args for keyfile and cert and passing them down to the express server. But it did not seem to work. It was some time ago I tried this, so I will need to go back and look at it again. This seems like something that should be added though right? Assuming I can figure it out, supporting SSL out of the box seems like a needed addition.

[2020-02-19 06:45] fella752 commented on #66
After doing that changes Trace type logs not stored in logger.log

[2020-02-19 09:52] fella752 opened #67 "Authetication"
Hi Team,
Is there any API for bently login, in that we pass userName and password and get token as response.
We dont want to use imdelSelector
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Authentication---imodeljs-clients-backend-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/reference/imodeljs-clien

[2020-02-19 14:11] calebmshafer commented on #66
Did you try adding a trace log directly after the setup to ensure there was actually a log?

It'd be helpful if you could share a repository that is able to reproduce this problem.

[2020-02-19 21:52] mgooding commented on #67
In iModel.js 1.12.0, you can use `OidcDesktopClient` for this purpose. It will spawn a web browser to authenticate the user, but if your scope includes "offline_access" it will cache that credential for 30 days so the authentication will be silent.

[code]

[2020-02-20 07:16] fella752 commented on #67
I am using this now

await launchIModelSelector({
      exe_path: "node_modules//@bentley//imodel-selector//lib//iModelSelector-win32-x64",
      client_id: clientId, only_signin: true, scope, response_type: "code",
    }).then((data) => imodelSelectorData = data).catch((alert) => {
      logError(`Error loading iModelSelector. ` + alert);
      return;
    });
    if (!imodelSelectorData) {

[2020-02-20 07:17] fella752 commented on #67
But i want some type of API where we send userName and password and in response it will give me token
Is there any API or anything by that we can use? @mgooding

[2020-02-20 10:10] fella752 commented on #67
in which module this OidcDesktopClientConfiguration available as m getting error

[2020-02-20 16:11] mgooding commented on #67
OidcDesktopClientConfiguration is in "@bentley/imodeljs-common" as of iModel.js 1.12.0.

No, for security reasons we intentionally do not offer such an API for interactive applications. The silent sign-in offered by OidcDesktopClient is the closest we will offer.

An application running on a server could authenticate as an Agent, which involves using stored credentials. However, it would be danger

[2020-02-20 17:40] aderderian opened #68 "General question on project structure - lib directory serving assets"
This is just a general question on the directory structure chosen to serve the project assets from the "lib" directory. Is this a React.js convention perhaps? I find it confusing that lib would be the output directory for build assets which then are served from webresources. Could this be changed to a more common name like "dist". "src" and "dist" are pretty typical in JS dev.

Again, not an issue

[2020-02-20 19:05] wilmaier commented on #67
If you upgrade to using OidcDesktopClientConfiguration, you should be sure to update all @bentley dependencies in package.json to 1.12.0.  Also, @bentley/imodel-selector should be updated to 1.0.20.

[2020-02-20 20:03] aderderian commented on #68
I am going to augment this with the note that this is all configurable through webpack and a person's own custom build pipe, but was wondering the teams thinking here. Thx

[2020-02-21 02:20] aderderian opened #69 "Issues hosting front-end in existing site structure"
I leveraged the code in the sample apps, interactive-app/simple-viewer-app to embed a front-end in an existing site. I had to make the following customizations :

1. Pass a urlTemplate for locales to load in startup
[code]
2. Move the code in index.html into my own page with script tags and leverage the imjsmodulecdn tag to get scripts to load properly. Seems this not the best approach.
`data-imjs

[2020-02-21 03:00] aderderian opened #70 "unauthorized client : Invalid Grant Type"
Redirect uris look good in iModelHub and in local front-end application. I am getting the following error :

![image](https://user-images.githubusercontent.com/868165/74999918-e07efe00-542a-11ea-8f8e-20feb21c3901.png)

I added all grants to the application I am testing with and this did not seem to fix the issue. I am testing using https://localhost:44883 in my own application.

For more informati

[2020-02-21 16:24] williamkbentley commented on #70
This happens because the grant_type of your client does not match with what is set in `OidcFrontendClientConfiguration`. You can check the grant_type of your client by going to the [registration dashboard](https://www.imodeljs.org/getting-started/registration-dashboard). `grant_type` is not displayed in the list of registered apps, but you can find the request in the network tab, look for spa-< gu

[2020-02-21 16:36] aderderian commented on #70
Hey @williamkbentley  I don't see a network tab in my Registration Dashboard. I am using the latest code from simple-viewer-app, but I went into the "Allowed Scopes" area for the app and added all scopes as well as in the imjs_browser_test_scope variable in the app to match. Any clue on where this Network tab might be or why it is missing?

[2020-02-21 16:42] williamkbentley commented on #70
Oh, sorry. I meant network tab *on developer console* (F12).
Ex:
![image](https://user-images.githubusercontent.com/38542573/75053347-1d84d800-549f-11ea-916c-5acefd64e4c1.png)

[2020-02-21 16:48] aderderian commented on #70
Ah. Well creating a new app seems to have solved this issue. Thanks for that advice! Is there a spot in the docs you could point me to that describes what all the scopes cover?

Thanks again for your help!

[2020-02-21 16:56] williamkbentley commented on #70
Apart from the standard [oidc scopes](https://auth0.com/docs/scopes/current/oidc-scopes). Most others are just used to access various Bentley services. [We have this page](https://www.imodeljs.org/getting-started/application-scopes/?term=available+scopes), but it could certainly use some improvement.

[2020-02-21 17:00] aderderian commented on #70
Cool thx. This one can be closed. I have two others I need your help on too!

[2020-02-21 17:00] #70 closed

[2020-02-21 17:29] aderderian commented on #69
Hey iModel team. Any insight on this one would be awesome. Thx!

[2020-02-24 06:07] fella752 commented on #67
ihave done that but getting error in OidcDesktopClient (cannot find name)

[2020-02-24 06:12] fella752 commented on #67
Actaully we have the following requirement  :

- Currently imodelSelecter started in web browser and stored credentails in system and then call unity to start
But we want to pass userName and password through unity app

[2020-02-24 06:35] fella752 commented on #67
Getting error in OidcDesktopClient after updating package.json dependecies

[2020-02-24 09:34] fella752 opened #71 "Issue in Auth Token"
Hi Team,
I am using imodelSelectorData for authorization but after first time that login screen is not comming, can you plz tell me where that auth token data is stored in my system.
So that I can remove and try to enter userName and password again?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: AccessToken---iModel.js-link-to-docs
*

[2020-02-24 14:04] mgooding commented on #71
* Hit the Windows key, and enter "Credential Manager"
* Select Windows Credentials
* You should an entry along the lines of "Bentley.iModelJs.OidcTokenStore"

[2020-02-24 14:06] mgooding commented on #67
Per our security requirements, we cannot provide a recommended workflow with this behavior. Because an embedded web browser will not have the latest security updates and may be compromised, authentication must be done in the system web browser.

[2020-02-24 14:09] mgooding commented on #67
[code]

This should work on iModel.js 1.12.0. If you get an error with these imports, please post it.

[2020-02-24 19:38] aderderian commented on #68
I took a second look at this, and it seems the reasoning behind it is due to node modules typically having their assets served in a lib directory for linking to other modules. They also seem to use a dist directory for when not being used in a library fashion.

[2020-02-25 05:13] fella752 commented on #67
Module '"../../../../../Projects/Hatch/iModelViewer/node/node_modules/@bentley/imodeljs-backend/lib/imodeljs-backend"' has no exported member 'OidcDesktopClient'.ts(2305)

[2020-02-25 05:17] fella752 commented on #67
Dependency detail"
"dependencies": {
    "@bentley/bentleyjs-core": "1.12.0",
    "@bentley/geometry-core": "1.12.0",
    "@bentley/imodel-selector": " 1.0.20",
    "@bentley/imodeljs-backend": "1.12.0",
    "@bentley/imodeljs-clients": "1.12.0",
    "@bentley/imodeljs-clients-backend": "1.12.0",
    "@bentley/imodeljs-common": "1.12.0",
    "@bentley/logger-config": "^1.12.0",
    "@bentley/prese

[2020-02-25 06:00] fella752 commented on #71
in Unity example project I already looged in through imdelSelector but not able to retry as its store and expiry date showing 29 feb
I am not able top find any entry in that location

[2020-02-25 06:47] fella752 commented on #71
Is there any way to get userName and password from app and store it in file, from file we can call imodelSelector for login to app?

[2020-02-25 08:41] fella752 opened #72 "Logging With Unity"
Hi Team,
Is there any way to do bentely sign in through Unity??
It's done by imodelselector in desktop but I want to login through unity app
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Opening-an-iModel-via-the-IModelDb-class---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/backen

[2020-02-25 10:25] fella752 opened #73 "Getting Log in Error"
Error 400
unauthorized_client
Invalid grant type for client

For more information please refer to SEQ logs using this query:
@Timestamp < DateTime('2020-02-25T10:24:27.625103Z') and RequestId='0HLTPD7HR2FME:00000165'
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Opening-an-iModel-via-the-IModelDb-class---iModel.js-link-to-docs
*   TAG:

[2020-02-25 14:07] mgooding commented on #72
Do you mean you want to redirect the Bentley logging output to appear in Unity's console and log files?

I haven't done this myself, but it looks like you would have a custom Bunyan logging callback to send the message over the RPC mechanism and spit it out with Debug.Log and friends. (I'm assuming you're using the same RPC scheme as imodel-unity-example).

[2020-02-25 14:25] mgooding commented on #67
Hmm, it's definitely exported in iModel.js 1.12.0. See:
https://github.com/imodeljs/imodeljs/blob/master/core/backend/src/imodeljs-backend.ts#L55
https://github.com/imodeljs/imodeljs/blob/master/core/backend/src/oidc/OidcDesktopClient.ts#L34

I'm guessing something is awry in your node_modules directory... I would probably blow it away and install packages again:
* Close any open instances of your

[2020-02-25 14:30] fella752 commented on #72
Plz check edited comment above

[2020-02-25 14:40] williamkbentley commented on #73
This looks like a duplicate of #70. See that issue for details and debugging suggestions.

[2020-02-25 14:46] #73 closed

[2020-02-25 15:24] Pascal-Cloutier commented on #56
@Tomek1592, After a thorough investigation of potential options, regretfully I have to report that we cannot support Reality Data through the iModel.js developer portal at imodeljs.org.  The portal’s upload feature is a limited workflow intended specifically to support developers learning about iModel.js.  However, we do believe that reality data is an important aspect of Digital Twins.  We are wo

[2020-02-25 15:50] ramanujam-raman commented on #72
The authentication/authorization for Bentley hosted services is based on OpenID Connect / OAuth2.0. All iModel.js does is to provide convenience wrappers over existing open source JavaScript clients - like [oidc-client-js](https://github.com/IdentityModel/oidc-client-js) or [appauth-js] (https://github.com/openid/AppAuth-JS). You can perhaps search for similar clients that are used by other Unity

[2020-02-25 16:13] ramanujam-raman commented on #71
For use cases that involve **users** getting the application to act **on their behalf** to access a protected resource (like iModelHub), the OIDC implementation does not support supplying a hardcoded user name and password. This is referred to as  ["resource owner password credentials workflow"](https://www.scottbrady91.com/OAuth/Why-the-Resource-Owner-Password-Credentials-Grant-Type-is-not-Authen

[2020-02-26 06:01] #71 closed

[2020-02-26 06:04] #66 closed

[2020-02-27 16:07] mgooding commented on #72
To follow up on Raman's answer, note that even if you use an alternative Unity OIDC client, it will have to work through a web browser. I suggest sticking with OidcDesktopClient or similar and saving yourself a lot of work for the same result.

[2020-03-11 11:38] manderson88 opened #74 "Give some context to the documentation"
The documentation provided shows the immaturity of the API.  It is both fluid (changes) and lacking any information to make it useful.  Link the documentation to some code for better context.  This is especially important when you introduce new items to the API.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: BackstageItemUtilities---ui-

[2020-03-17 13:50] NancyMcCallB commented on #74
Hi, Mark,

Sorry for the delay in response!

You are correct that the UI for iModel.js apps is very much under development. We have tagged it all as beta for that reason, and you can expect some breaking changes in iModel.js 2.0.

Your point about the poor documentation context is well-taken, though, and we're working to flesh that out for 2.0 and moving forward.

We're happy to help if you have q

[2020-03-26 11:53] dominicSeah opened #75 "Bentley Social Distancing App for Construction Crews?"
A lot of complaints and worries about how construction crews are not subject to lockdown and vulnerable due to need to work in close proximity.

How long would it take to write an app that tracks proximity between mobile phones on site? Building sites could distribute to site crew to help encourage/enforce social distancing.

Functionality:

1. App to be distributed to all visitors in addition to

[2020-03-26 12:06] pmconne commented on #75
Sounds useful. Doesn't sound like it requires or leverages iModel.js though.

[2020-03-26 14:40] dominicSeah commented on #75
?? I thought that imodel.js was all very open to all things internet and better for rapid development.
What do you think would be needed instead?

[2020-03-26 14:47] pmconne commented on #75
Rapid development of applications that interact with a digital twin, yes. Tracking distance between one mobile device and another doesn't involve a digital twin. Unless you wanted the mobile devices to send their locations to some other app where their locations could be visualized in the context of the digital twin - that sounds like two apps to me though.

[2020-03-26 16:31] dominicSeah commented on #75
Yea... the proximity ranging would need some fancy signal processing footwork. Bluetooth API? If a device is close enough to pair then alarm goes off and the monitoring app logs the incident.

In any case, even if it isn't a good fit for imodel.js. Getting an app out there would be a PR coup for Bentley who can say 'we have your backs, guys... and look how quick we did it'

[2020-04-03 04:35] fella752 opened #76 "iModel Tree"
Team,
Is there any way to fetch iModel Tree data in Simple Viewer app, same as web App
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: iModel.js-Apps---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/app/

[2020-04-07 19:03] jalonob opened #77 "IFC to Imodels"
Hi, I am trying to develop a website that allows me to read an IFC file and transform it into imodels, previously you were talking about a bridge developed by Bently that fulfills this function, my question is if this has already been developed? and how can i get it.

[2020-04-07 19:11] jalonob commented on #40
Hi @Stoupha, I want to ask you if you could carry out the development of your website by transforming the ifc to imodels? How can I contact you?

[2020-04-08 00:03] shenshengyi commented on #52
Thank you very much, I have solved this problem.

[2020-04-08 11:09] #74 closed

[2020-04-08 12:06] grigasp commented on #76
The tree in simple-viewer-app is set up to show data using [presentation rules](https://www.imodeljs.org/learning/presentation/hierarchies/), specifically using this set of rules: https://github.com/imodeljs/imodeljs-samples/blob/master/interactive-app/simple-viewer-app/assets/presentation_rules/Default.PresentationRuleSet.xml.

I'm not entirely sure what you mean by web app and/or which hierarchy

[2020-04-08 13:34] fella752 commented on #76
In Design review(connect-imodelweb.bentley.com): we are getting model hirechary of parent child. I want that model hierarchy data to use.
Is there any way or API to get that data in same format?

[2020-04-08 14:29] grigasp commented on #76
As mentioned in the previous post, the models hierarchy there is created using presentation rules. If you use [those rules](https://github.com/imodeljs/imodeljs/blob/master/ui/framework/src/ui-framework/imodel-components/visibility-tree/Hierarchy.json) in combination with [PresentationTreeDataProvider](https://www.imodeljs.org/reference/presentation-components/tree/presentationtreedataprovider/),

[2020-04-12 21:14] craigt-mcs opened #78 "Bentley OpenID Connect error 400"
Hi all, just updated with a pull of the latest 1.14 repo and now can't get any examples to work.  Errors, for Basic and Simple viewer.  I had all of these samples working on the previous repo\version.  Any direction would be nice, thanks
Error 400
unauthorized_client
Invalid redirect_uri
For more information please refer to SEQ logs using this query:
@Timestamp < DateTime('2020-04-12T21:09:56.7390

[2020-04-13 05:03] shenshengyi opened #79 "Hi, how do I determine the type of an element, thank you"
Hi. I am using frontend to get an element with instanceId. May I ask how to determine whether this element is a graphical element or a non-graphical element? Or how to determine the type of element. I can't get information from ElementProps that I can judge? thank you
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Getting-Started-With-i

[2020-04-13 10:42] kabentley commented on #79
[ElementProps](https://www.imodeljs.org/reference/imodeljs-common/entities/entityprops/) has a member called `classFullName`. If it is a [GeometricElement](https://www.imodeljs.org/reference/imodeljs-common/entities/geometricelementprops/?term=geometrice) it will have a member named `geom`.

BTW, please ask this type of questions on [StackOverflow](https://stackoverflow.com/questions/tagged/imodel

[2020-04-13 10:42] #79 closed

[2020-04-13 10:43] #76 closed

[2020-04-13 10:44] #75 closed

[2020-04-13 10:44] #61 closed

[2020-04-13 13:02] williamkbentley commented on #78
Hello. The signin redirect URI of your client should be "http://localhost:3000/signin-callback.html" - Including the .html.

[2020-04-13 23:57] shenshengyi commented on #79
OK,Thanks.

[2020-04-14 00:40] craigt-mcs commented on #78
Thanks for the reply, this is set as you called out above in the simple-viewer-app\src\common, this is as pulled from GitHub.  The unit tests fail on login as well.  Something has changed from the previous versions, I see the issue in the 1.14 version.  what am I missing?  thanks

[2020-04-14 13:46] williamkbentley commented on #78
Can you ensure it is also registered, with .html, on the [registration dashboard](https://www.imodeljs.org/getting-started/registration-dashboard/)
Ex:
![image](https://user-images.githubusercontent.com/38542573/79231254-cf9fa700-7e33-11ea-9e91-9984ac111041.png)

This change was implemented with this commit: https://github.com/imodeljs/imodeljs-samples/commit/9fae5f689fe2625c6f3200a808a496a732c453

[2020-04-15 10:26] fella752 commented on #76
Hi Team,
I have added the rule JSON file and change the id as default.
After that I followed following thing:
1. getContentDescriptor(reqContext, contentRequestOptions, DefaultContentDisplayTypes.PropertyPane, this._keySet, undefined )

2.used getContent(reqContext, contentReqOption, descriptorData, this._keyset)
But for getContentDescriptor I am getting undefined value and so for getContent also

[2020-04-15 10:34] grigasp commented on #76
The ruleset I pointed to doesn't have content rules for property grid - it's intended for a tree component, so it's expected for content requests to return no results.

After switching the rules you shouldn't even need to change any code - the `SimpleTreeComponent ` in simple-viewer-app should automatically pick that up. Just make sure id of the ruleset is set to "Default", same as in the old rule

[2020-04-15 10:37] fella752 commented on #76
Can you please tell me the steps.
I followed the mentioned steps by you and call getContent function but data not comming

[2020-04-15 10:42] fella752 commented on #76
If there is any ECSql query to fetch model hierarchy data?

[2020-04-15 11:14] grigasp commented on #76
Have a look at [this commit](https://github.com/grigasp/imodeljs-samples/commit/6d9182864953321c3ee6d4059edce49b0056afa4) where I basically followed the steps given in my first post in this thread.

[2020-04-15 11:19] fella752 commented on #76
I have tried that but not getting that data,
It will helpfull if you provide me ECSQL query so that I can use that

[2020-04-15 11:21] fella752 commented on #76
I want that data in unity example

[2020-04-15 12:33] grigasp commented on #76
There's a lot of stuff going on behind the scenes when handling the rules - it's not possible to reconstruct the same hierarchy with just plain ECSQL. You can try using Elements' parent-child relationship, but it will not match exactly. Example:
- root Subject nodes: `SELECT UserLabel FROM bis.Subject WHERE Parent IS NULL`
- children of a Subject: `SELECT UserLabel FROM (SELECT UserLabel, Parent.I

[2020-04-15 13:47] jffmarkerbsi commented on #77
The iTwin Synchronizer (https://www.bentley.com/en/products/product-line/digital-twins/itwin-synchronizer) is a free application that can be used to convert a growing number of file formats, including IFC, and push to an iModel in the Hub for use with iModel.js.

[2020-04-15 13:59] jalonob commented on #77
thanks friend for your reply

[2020-04-16 00:34] craigt-mcs commented on #78
Please close this, finally resolved.  I switched the registration to include .html and did clean and rebuild and got past the Error 400.  thanks

[2020-04-16 00:34] #78 closed

[2020-04-16 02:10] #77 closed

[2020-04-16 02:13] calebmshafer commented on #68
Hey @aderderian, you're correct about our reasoning for putting it all under the `lib` directory, it is to consolidate all of the output for both backend and frontend parts of the app into a single directory.  It also matched how all of the library packages handle their output.

That being said, we do have some changes in progress for the iModel.js 2.0 release that will make it more closely match

[2020-04-16 13:11] aderderian commented on #68
Thanks Caleb. Yes I reviewed other node modules and noticed they're structured this way as well. It threw me off since this is different than a library type project versus an actual application.

[2020-04-16 17:31] #72 closed

[2020-04-16 17:31] #67 closed

[2020-04-16 20:05] calebmshafer commented on #34
Hey @DarrenWen, you probably received help from Glen (@candcconsulting ) already but I do want to highlight the new [iTwin Synchronizer](https://www.bentley.com/en/products/product-line/digital-twins/itwin-synchronizer) which allows you to run a growing number of iModel Bridges (dgn, rvt, etc) on your desktop.

I'm going to close this issue but feel free to open a new one for specific issues.

[2020-04-16 20:05] #34 closed

[2020-04-16 20:18] calebmshafer commented on #55
I think it may be worth taking a look at [serve](https://www.npmjs.com/package/serve) or [serve-https](https://www.npmjs.com/package/serve-https) for those purposes.  They already support different configuration options and may be more what you're looking for in this case.

The @bentley/imodeljs-webserver package is doing something that many other packages already do well and the intent is to remo

[2020-04-18 04:50] fella752 opened #80 "Category list"
Any API or ECSQL query to fetch iModel category list?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Categories---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/bis/intro/categories/

[2020-04-18 12:11] mgooding commented on #80
`SELECT ECInstanceId FROM bis.Category` will get you the IDs of the Category elements in the iModel. See https://www.imodeljs.org/reference/imodeljs-backend/categories/category/ for reference on how to use the Category element.

[2020-04-18 13:59] fella752 commented on #80
Want to fetch attached category list @mgooding
![P_20200418_191757](https://user-images.githubusercontent.com/59953408/79639626-91dfad00-81aa-11ea-9a18-ea44e95d30cf.jpg)

[2020-04-18 14:13] mgooding commented on #80
The Category elements have the information you're looking for. Here's a snippet:
[code]

[2020-04-18 14:35] kabentley commented on #80
If you just want spatial categories, you can use `bis.SpatialCategory`

[2020-04-18 16:49] kabentley commented on #80
it may be helpful to look at how display-test-app does this:

https://github.com/imodeljs/imodeljs/blob/01619fb12c20d699429145bdc6c7258c1aa67c33/test-apps/display-test-app/src/frontend/IdPicker.ts#L241

[2020-04-19 03:48] fella752 commented on #80
@mgooding @kabentley
I hv tried query for same Simple viewer app but getting more category value that is not coming in design review iModel category list in web view
![P_20200419_085746](https://user-images.githubusercontent.com/59953408/79678947-68606900-821e-11ea-864f-faf7a6430558.jpg)
![P_20200419_085726](https://user-images.githubusercontent.com/59953408/79678953-80d08380-821e-11ea-87c0-b8c663

[2020-04-20 14:44] kabentley commented on #80
Please look at the code I linked above. It uses a more sophisticated query to get the name of only used categories. Everything you need is there.

BTW, in the future *please* use [StackOverflow](https://stackoverflow.com/questions/tagged/imodeljs) with the the tag #imodeljs to ask programming questions. GitHub Issues should only be used to report problems or suggest changes/enhancements.

[2020-04-20 19:28] #80 closed

[2020-04-22 20:32] LabyrinthTechnology opened #81 "Frontend best practices link leads to backend page"
A link in sentence "See best practices for writing frontend code and using ECSQL efficiently." leads to "Best Practices for Writing Backend Code" page.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: The-App-Frontend---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/frontend/

[2020-04-23 11:37] LabyrinthTechnology opened #82 "Rush install ends with error"
Hi,

I tried (mostly just for curiosity) to build imodeljs using `rush install`, but it ends with error:

[code]

I guess the next error is mostly a consequence:

[code]

Did I do anything wrong (e.g. not all prerequisites installed)?

Unfortunately my knowledge of building workflow is still not good enough to identify the problem quickly :-(

My repo is cloned with not any modifications. Node 12.

[2020-04-23 12:51] calebmshafer commented on #81
Thanks @LabyrinthTechnology! We'll fix that sentence and the update will show up on the site soon.

[2020-04-23 12:51] #81 closed

[2020-04-23 13:58] calebmshafer commented on #82
@LabyrinthTechnology the issue is puppeteer removed the 'chrome-stable' dist tag from npmjs which a few of our packages were relying on. An update has just been pushed to change the tag to 'chrome-80' (from the list in the error message) in a 1.14.1 release.

Could you pull and try again?  Thanks!

[2020-04-23 14:42] LabyrinthTechnology commented on #82
@calebmshafer Thanks a lot for the committed fix.

`rush install` now runs fine and finished without error, so I close this issue.

[2020-04-23 14:42] #82 closed

[2020-05-12 10:16] jashminkaur opened #83 "Snapmode"
How you implement snapMode all features(like key-point and center intersection) in Web design review for iModel?
Is any available API

[2020-05-12 13:18] bbastings commented on #83
You can specify the active snap settings by supplying a subclass of AccuSnap to IModelApp.startup and overriding the methods to get the current snap mode(s) and keypoint snap divisor:

`public static async startup(opts?: IModelAppOptions): Promise<void> {
  opts = opts ? opts : {};
  opts.accuSnap = new MyTestAppAccuSnap();
  await IModelApp.startup(opts);
...

class MyTestAppAccuSnap extends Accu

[2020-05-12 15:30] jashminkaur commented on #83
Is there any API available that I can use to request snapMode(centre, keypoint etc) and get response same as web design review?

[2020-05-12 15:49] bbastings commented on #83
You're going to need to provide more context...

If for example, your objective is to write an InteractiveTool that requires snapping, you would typically enable AccuSnap in your tool's onPostInstall:

`  public onPostInstall() {
    super.onPostInstall();
    IModelApp.accuSnap.enableSnap(true); // Enable AccuSnap for snapping to existing geometry
  }`

The learning documentation on PrimitiveTool

[2020-05-12 17:41] jashminkaur commented on #83
Want to use SnapRequestProps and snapResponseProps, can you help me to use this and fetch the response data?

[2020-05-12 17:58] bbastings commented on #83
It is intended that you use AccuSnap as previously mentioned, it takes care of everything for you. The response is provided to you in the form of a HitDetail.

[2020-05-13 15:29] jashminkaur commented on #83
Can you explain snapRequest and snapResponseProps keys and how we get it's value for any element/imodel??

SnapRequestProps{
id
testPoint
closePoint
worldToView
}
SnapResponseProps {
  snapMode
  heat
  geomType
  parentGeomType
  hitPoint
  snapPoint
  normal
  curve
  intersectCurve
  intersectId
}

[2020-05-13 16:42] bbastings commented on #83
You still haven't provided any context or explained why you aren't using AccuSnap, but ok.

`export interface SnapRequestProps {
  id: Id64String; // Element id you want to snap to
  testPoint: XYZProps; // The world coordinate space point that was used as the locate point (ex. cursor location)
  closePoint: XYZProps; // The approximate world coordinate location on the geometry identified by testP

[2020-05-20 03:06] jashminkaur commented on #65
@pkmishr I am not getting this error.
Please check your node version and install node modules again.

[2020-05-20 03:07] jashminkaur commented on #83
Doing AccuSnap implementation. Thank you.

[2020-05-20 03:07] #83 closed

[2020-05-20 03:30] calebmshafer commented on #69
Hey @aderderian, apologizes for the delay in response, however with the recent release of iModel.js 2.0 some of the issues you referenced above have changed and hopefully solved.

With the basis of an iModel.js web app being react-scripts, you should now be able to leverage the `PUBLIC_URL` [configuration](https://create-react-app.dev/docs/advanced-configuration) environment variable to move loadi

[2020-05-20 03:33] calebmshafer commented on #68
@aderderian this recommended structure of a project has changed slightly based on the [iModel.js 2.0](https://www.imodeljs.org/changehistory/2.0.0/) release.  I'm going to close out this issue but if you have questions/issues with the new setup feel free to open a new one

[2020-05-20 03:33] #68 closed

[2020-05-20 03:35] calebmshafer commented on #55
Closing as there are some alternatives to using the, now deprecated, @bentley/imodeljs-webserver package for handling this.

[2020-05-20 03:35] #55 closed

[2020-05-20 03:36] calebmshafer commented on #24
Closing this issue due to inactivity.  Please reopen if the issue still persists.

[2020-05-20 03:36] #24 closed

[2020-05-20 12:36] raomsv123 opened #84 "SampleCode"
I see the config.json and configuration.ts files missing from the sample code from the update to GitHub.Is this by design due to change in the coding pattern .https://github.com/imodeljs/imodeljs-samples.git
I cloned this repository while trying to follow the instructions to start off my first play with iMODEL/JS
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub is

[2020-05-20 13:51] calebmshafer commented on #84
@raomsv123 yes this is a design update with the iModel.js 2.0 release.  We're now supporting the create-react-app (CRA) [approach](https://create-react-app.dev/docs/adding-custom-environment-variables) of using `.env` files that are loaded into the app when it is built.  These variables will now be available at runtime in `process.env`.

One slight modification we made in addition to what is suppo

[2020-05-20 22:16] calebmshafer commented on #84
The sample [README](https://github.com/imodeljs/imodeljs-samples#interactive-app-development-setup) has been updated to reflect this change.  Thanks for pointing this out!

Let us know if you have any issues/additional questions with the new setup.

[2020-05-20 22:16] #84 closed

[2020-05-24 00:26] sebaztian0 commented on #60
I did it using the I.dgn,  and the  Bentley DgnDb iModel Importer that come with the Bentley view connect to convert the file to. idgdb, then a change the extension to. Bim

[2020-06-03 06:35] yogeshsajanikar opened #85 "Tagging the releases"
Will it be possible to tag the github repo? Currently it is not possible to checkout a particular release.

[2020-06-10 18:47] zachzhu2016 opened #86 "Release Lock Should be Mentioned"
I think the fact that the locks are released immediately after pushing changes should be mentioned in a comment for clarity.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Write-an-iModel-Bridge---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/writeabridge/

[2020-06-15 02:52] calebmshafer commented on #85
@yogeshsajanikar, that's a good suggestion. We'll add this to our release process of new versions and backfill some of the previous versions as well.

[2020-06-23 03:26] shenshengyi opened #87 "How can I combine several imodel 2.0 files into one file?"
Hello, I am using imodel.js. How can I combine several imodel 2.0 files into one file?
thanks.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Getting-Started-With-iModel.js---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/getting-started/

[2020-06-23 03:28] shenshengyi opened #88 "How to copy elements from one model to another model?"
Hello, I am using imodel.js. Is there a function similar to ElementCopyContext in imodel.js? Can be a model
The element in is copied to another model. Thank you.

* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Getting-Started-With-iModel.js---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/get

[2020-06-23 06:28] pmconne commented on #88
[IModelCloneContext and IModelTransformer](url) are related APIs for cloning elements. Both are currently in `beta`, so documentation and some functionality (notably, using IModelTransformer to transform elements within the *same* iModel) are incomplete. Here's an example of copying an element into a different model using [IModelCloneContext](https://github.com/imodeljs/imodeljs/blob/master/core/b

[2020-06-23 06:33] pmconne commented on #87
Use [IModelTransformer](https://github.com/imodeljs/imodeljs/blob/master/docs/learning/backend/IModelTransformation.md).
Please use github issues to report bugs, not ask questions. Questions are better directed to [StackOverflow](https://stackoverflow.com/tags/imodeljs) using the `imodeljs` tag.

[2020-06-23 21:01] #88 closed

[2020-06-23 21:02] pmconne commented on #88
Hope this helped. Closing as "question, not issue".

[2020-06-23 21:02] pmconne commented on #87
Hope this helped. Closing as "question, not issue".

[2020-06-23 21:02] #87 closed

[2020-06-24 01:57] shenshengyi opened #89 "Hello, I am using imodel.js. How can I combine several imodel 2.0 files into one file? thanks."
Hello, I am using imodel.js. How can I combine several imodel 2.0 files into one file?
thanks.

[2020-06-24 02:01] shenshengyi commented on #88
Thank you very much for your answer, it helped me a lot.

[2020-06-24 03:30] LabyrinthTechnology commented on #89
Hi,

why do you repeat the same question several times (the same question is closed #87)?

Also, it was told clearly (and is also mentioned in [Contributing Guide](https://github.com/imodeljs/imodeljs/blob/dd54e2744010dcc3096de3a3f22b2e2dc57d767e/README.md)) that Github issues should be used for reporting bugs, but programming questions should be posted to [StackOverflow](https://stackoverflow.com

[2020-06-24 05:11] #89 closed

[2020-06-24 19:28] calebmshafer commented on #85
Added all release tags back to the 1.0.0 release and updated our release process to automatically tag.

[2020-06-24 19:28] #85 closed

[2020-06-24 19:29] #69 closed

[2020-06-25 13:53] #65 closed

[2020-07-09 11:10] ramanujam-raman commented on #60
Please use the iTwin Synchronizer for this henceforth - https://www.bentley.com/en/products/product-line/digital-twins/itwin-synchronizer

[2020-07-09 11:10] #60 closed

[2020-07-09 11:38] Animagne commented on #25
createListener method is only meant to provide a basic loop implementation. To cover all event listening scenarios this would require a few more additional callbacks making this method difficult to use. To have error handling when querying events, a loop should be implemented using repeated calls to getEvent method instead.

[2020-07-09 11:40] #25 closed

[2020-07-09 11:41] #11 closed

[2020-07-14 15:09] pmconne commented on #86
Thanks - added a comment to that effect.

[2020-07-14 15:09] #86 closed

[2020-07-19 19:16] tciuan opened #93 "[Issue when testing web app] IModelReadRpcInterface.openForRead() is not available"
Hi All,

I followed steps on https://github.com/imodeljs/imodeljs-samples/blob/master/README.md to build interactive app devleopment setup.

After I run npm run start:servers, the test web popped up and It worked well for me to log in. However, after I clicked open sample iModel, it shows  "IModelReadRpcInterface.openForRead() is not available"

Could you help me with this issue?

Thanks

[2020-07-20 08:32] rickhewes opened #1841 "Linux Desktop Authentication Error"
Hi,

Just trying out iModel.js and having problems on linux. I would expect the desktop-starter to work out of the box. It does on Windows but on Linux (Fedora 32) I have the following issue.

![Screenshot from 2020-07-20 09-29-20](https://user-images.githubusercontent.com/1804586/87916847-eb869a80-ca6b-11ea-8114-a096a2f91389.png)

Any help appreciated!

Cheers,

Rick.

[2020-07-20 15:46] calebmshafer commented on #93
@tciuan it sounds like the backend may not have properly started. Can you try to launch the frontend and backend in two separate terminals?  For the backend run "npm run start:backend" and for the frontend try "npm run start:webserver".

This should let you better see the logs for both of the processes.

[2020-07-23 16:35] JohnMajerle commented on #93
I ran into this exact same problem yesterday.  As a pure guess, I deleted everything and re-cloned the git repository from scratch.  Somehow that fixed the problem and I can run all three of the UI samples OK now.  Perhaps there was a problem with an npm dependency that was corrected when I started over?

[2020-08-04 23:23] flyinghunter22 opened #103 "d"
d
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-08-04 23:24] flyinghunter22 opened #104 ""><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//<!--1-->"
"><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-08-04 23:37] flyinghunter22 opened #105 "te{{ '7'*7 }}st"><img src="x" onerror="alert(1)"></img>"
te{{ '7'*7 }}st"><img src="x" onerror="alert(1)"></img>
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Modeling-with-BIS---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/bis/intro/modeling-with-bis/

[2020-08-05 17:01] #103 closed

[2020-08-05 17:02] #105 closed

[2020-08-05 19:36] #104 closed

[2020-08-06 07:20] dseng opened #106 ""><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//<!--1-->"
"><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-08-06 09:41] #106 closed

[2020-08-17 18:42] hsanand61564 opened #107 "Having Difficulties to run frontend and backend on seperate ports"
If we are running the frontend and backend at the same server it works perfectly fine, but when we are trying to run the backend and frontend on different servers it gives us 500(Internal Server Error).

[2020-08-17 18:56] hsanand61564 commented on #107
Attaching all screenshots for your reference

Initialize Client

![Initializ Client](https://user-images.githubusercontent.com/60655118/90433039-d6437100-e0e8-11ea-8718-51c879c6b8df.PNG)

Initialize backend

![Initializ backend](https://user-images.githubusercontent.com/60655118/90433044-d80d3480-e0e8-11ea-8bdd-bcbf0118bab6.PNG)

OpenSnapshot

![OpenSnapshot](https://user-images.githubusercontent.

[2020-08-18 14:18] swbsi commented on #107
Can you share some code for your express server configuration?
Is it possible that the backend server is still listening on the old port?

[2020-08-18 18:45] hsanand61564 commented on #107
![Capture](https://user-images.githubusercontent.com/60655118/90552793-fd657580-e1b0-11ea-8d90-ebfbebc1bee8.PNG)

[2020-08-18 18:46] hsanand61564 commented on #107
the backend server is running on the correct port, I don't think that's the issue

[2020-08-18 19:31] swbsi commented on #107
Can you share details of the 500 server response then?
The response body (accessible via the network tab in devtools) should contain JSON that will help track this down.

[2020-08-19 12:28] hsanand61564 commented on #107
Here are the screenshots from the network tab--> We are not getting the JSON in response

![1](https://user-images.githubusercontent.com/60655118/90634565-83cb9700-e245-11ea-97ba-8f3e8c85ca79.PNG)

![2](https://user-images.githubusercontent.com/60655118/90634568-84642d80-e245-11ea-9593-42062e9dec8e.PNG)

![3](https://user-images.githubusercontent.com/60655118/90634564-8201d380-e245-11ea-80af-78439

[2020-08-19 13:07] ColinKerr commented on #107
@hsanand61564 would you be willing to upload your code to GitHub so we could look at what you're doing in more detail?

[2020-08-19 14:53] swbsi commented on #107
@hsanand61564 Can you also confirm that all your servers are running on localhost?

[2020-08-19 14:53] swbsi commented on #107
@hsanand61564 Can you also confirm that all your servers are running on localhost?

[2020-08-19 14:54] swbsi commented on #107
@hsanand61564 Can you also confirm that all your servers are running on localhost?

[2020-08-19 15:02] hsanand61564 commented on #107
@swbsi : yeah all the servers are running on localhost
@ColinKerr : I need to discuss with my team and let u know for this.

[2020-08-19 15:08] swbsi commented on #107
Can you put a try/catch around the openFile call in your frontend code and set a breakpoint (or log) in the error case?

There is a non-zero content length on the 500 server response so there should be some info available.

________________________________
From: hsanand61564 <notifications@github.com>
Sent: Wednesday, August 19, 2020 11:02:48 AM
To: imodeljs/imodeljs <imodeljs@noreply.github.com>

[2020-08-20 10:42] hsanand61564 commented on #107
I tried putting up try/catch block and just gave me this error

issue inside snapshot model --> SyntaxError: Unexpected token o in JSON at position 1

[2020-08-20 14:33] swbsi commented on #107
@hsanand61564 Can you set a breakpoint here in WebAppRpcRequest.loadText?

https://github.com/imodeljs/imodeljs/blob/0362e29ec38930bf279f3f6e1de16788ad02ffaf/core/common/src/rpc/web/WebAppRpcRequest.ts#L267

The error suggests that our backend RPC logic did not process the request and another layer in the backend server stack responded.

[2020-08-22 07:11] PKASHYAP-BEC opened #108 "Issue with webpack bundling with @bentley/imodeljs-native"
I am getting runtime error for @bentley/imodeljs-win32-x64 after webpack bundling, please suggest the way so that I can generate a Production build.  here is my webpack config below
![image](https://user-images.githubusercontent.com/60220061/90951049-ccb56280-e474-11ea-9b62-39501ed3049c.png)

[2020-08-24 18:50] wgoehrig commented on #108
As far as I know, the iModel.js native addon loader has not been tested with the `native-ext-loader`.  The iModel.js native addon is loaded dynamically, and I wouldn't expect a webpack loader to really be able to follow that import.

Our usual guidance for webpacking iModel.js backends is that, at a minimum, you need to mark the `"@bentley/imodeljs-native"` package as a [webpack external](https://

[2020-08-26 13:22] swbsi commented on #107
@hsanand61564 Did you have a chance to try the breakpoint in WebAppRpcRequest.loadText?
The code in that function loads the backend response that will help track this down.

[2020-08-26 14:55] hsanand61564 commented on #107
@swbsi And I tried putting up the debugger suggested by you and I suppose the logic is working perfectly fine when on the same server but not working in the same manner when used on a different server. This is because when we are trying to use the same thing on the same server it is working fine but when we are using the backend on a different server it is producing this kind of error.

[2020-08-26 15:02] swbsi commented on #107
@hsanand61564 Do you still hit the breakpoint in the different server scenario?
If so, can you paste in the value that will be assigned on line 267 here?

[2020-08-26 16:04] swbsi commented on #107
@hsanand61564 Can you also paste in the full call stack for the SyntaxError that is caught by your try/catch?

[2020-08-28 15:32] PKASHYAP-BEC commented on #107
Hello,

I am facing this issue and i am getting this error on line 94 of RpcInvocation.js file.

![image](https://user-images.githubusercontent.com/60220061/91585214-626b5900-e971-11ea-9813-800bc6092bd4.png)

my request value is below

{
  id: "b15530fc-97c8-4328-a63f-157425ad69d5",
  applicationId: "2686",
  applicationVersion: "",
  sessionId: "fc98f2d6-8659-402d-b395-055eac0413d2",
  authorizat

[2020-08-28 15:38] PKASHYAP-BEC commented on #108
Thank you team , We are able to resolve the issue , so closing this issue here.

thanks.

[2020-08-28 15:38] #108 closed

[2020-08-28 16:01] swbsi commented on #107
@PKASHYAP-BEC Can you set a breakpoint here on the backend and log the value of req.path and req.body?

https://github.com/imodeljs/imodeljs/blob/0362e29ec38930bf279f3f6e1de16788ad02ffaf/core/common/src/rpc/web/WebAppRpcRequest.ts#L63

[2020-08-28 16:10] PKASHYAP-BEC commented on #107
Sir ,

As per your suggestion ,

req.path="/viewerapp/v1.0/mode/2/context//imodel/undefined/SnapshotIModelRpcInterface-2.0.0-openFile"
and req.body={}

[2020-08-28 16:22] swbsi commented on #107
I just noticed back in your express server code that you are using bodyParser.json. That is not supported right now. Please switch to bodyParser.text and log the values again (please also log req.headers).

[2020-08-28 16:33] PKASHYAP-BEC commented on #107
Sir ,

here are the requested details, but the body-parser solution worked this time.  Thank you for your help to get this fixed.

req.path:"/viewerapp/v1.0/mode/2/context//imodel/undefined/SnapshotIModelRpcInterface-2.0.0-openFile"
req.body:"[\"C:\\\\\\\\Projects\\\\\\\\BIM\\\\\\\\spool.bim\"]"
req.headers:{
  host: "localhost:34005",
  connection: "keep-alive",
  "content-length": "38",
  "x-cor

[2020-08-28 16:37] swbsi commented on #107
Excellent, glad to hear everything is working now. Best of luck with your project.

[2020-08-29 23:59] aderderian commented on #93
I can confirm this is an issue as well. After deleting basic-viewport-app directory and then re-cloning the issue went away.

[2020-09-03 09:09] #107 closed

[2020-09-06 09:39] tarun776 opened #109 "zzzzzzz"
zzzzzzzzz
* * *

_⚠ Do not edit this section<a>test</a><svg/onload=alert(1)>. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-09-07 14:43] #109 closed

[2020-09-15 07:27] namsancow opened #110 "Reality Mesh(.3xm, .3sm) file support"
If .3sm file is publised as iModel files, the empty is only viewed.
I also read the unclosed issue "Converting a file from .3mx to .imodel"
**Does iModel 2.5.5 support Scalable Reality mesh(.3xm, .3sm)?**
I have read "Model Appearance Overrides" of 2.5.0 Change Notes in which
"Overrides can be applied to the "contextual" reality models" is described.

[2020-09-15 12:42] RBBentley commented on #110
iModelJS supports reality models (meshes or point clouds) through [3D Tiles ](https://www.ogc.org/standards/3DTiles).  If a 3MX or a point cloud (POD) file is attached to a DGN file when it is bridged to an iModel then the reality model is converted to 3D tiles and uploaded to the ContextShare associated with the project.   The reality model display may be off by default, but can be turned on in D

[2020-09-16 06:53] Myzik-Dev opened #111 "iModel.js 2.5.3 bug reporting (about SnapshotIModelRpcInterface ...)"
iModel.js 2.5.3 library seems to have bugs.

There is no problem in the old version,
but in that version, an error message [An RPC interface impression class for "SnapshotIModelRpcInterface" is not registered.] appears. (runtime error)

[2020-09-16 07:06] Myzik-Dev commented on #111
export function getSupportedRpcs(): RpcInterfaceDefinition[] {
  return [
    IModelReadRpcInterface,
    IModelTileRpcInterface,
    PresentationRpcInterface,
    SnapshotIModelRpcInterface, // registered
  ];
}

[2020-09-16 07:12] Myzik-Dev commented on #111
I'd like to ask one more question.
Can I render 'Reality Mesh' using 'SnapshotConnection'?

[2020-09-16 07:18] namsancow commented on #111
I don't think so

[2020-09-16 07:18] Myzik-Dev commented on #111
I'd like to ask one more question.
Can I render 'Reality Mesh' using 'SnapshotConnection'?

[2020-09-16 07:57] Myzik-Dev opened #112 "Can 'tileSizeThreshold' be modified at the source level?"
A warning message 'Tile size (in bytes) lager than specified thread' is displayed.

Can 'tileSizeThreshold' be modified at the source level?

[2020-09-16 09:30] namsancow commented on #110
Many thanks, RBBentley.
Does iModelJS need some plug-in for 3D Tiles ?
Is there any method to upload reality models without using ContextShare?
Can iModelJS directly upload the local Scalable Reality mesh model file(.3xm, .3sm) save in server?

[2020-09-16 10:42] kabentley commented on #111
As to the error you're seeing, make sure you have the correct version of @bentley/imodeljs-backend installed, and that you've called IModelHost.startup(). If you want to debug it, you can see that interface getting registered [here](https://github.com/imodeljs/imodeljs/blob/75c655b44a5d24e9e8f85825192341fa0802a989/core/backend/src/IModelHost.ts#L415-L433)

Yes you should be able to render reality

[2020-09-16 11:16] pmconne commented on #112
You can configure this other and parameters via the [IModelHostConfiguration](https://github.com/imodeljs/imodeljs/blob/75c655b44a5d24e9e8f85825192341fa0802a989/core/backend/src/IModelHost.ts#L173) supplied to `IModelHost.startup()`.
Please consider using the [discussions page](https://github.com/imodeljs/imodeljs/discussions) for asking questions.

[2020-09-16 11:16] #112 closed

[2020-09-16 12:37] RBBentley commented on #110
No plugin is required to display 3D tiles - this is part of iModelJS core.   The uploading is currently performed automatically when ta DGN with attached reality model is bridged.    iModelJS can display any 3D Tileset - it doesn't need to be located on ContextShare -- See the DisplayStyleState.attachRealityModel method --- All that is really required is the URL for the tileset root file.

[2020-09-16 16:12] Myzik-Dev commented on #111
I checked the installation version of @bentley/imodeljs-backend.
The correct version was installed as '@bentley/imodeljs-backend@2.5.3'.

I asked the question because I compiled the sample source of imodeljs and had the same runtime error as my source.

==========================================================================

**[rpcs.ts]**
export function getSupportedRpcs(): RpcInterfaceDefiniti

[2020-09-16 20:21] kabentley commented on #111
are you using Electron or a web app with localhost?

[2020-09-16 20:36] swbsi commented on #111
@Myzik-Dev The core RPC implementations are registered during IModelHost.startup. The error you are experiencing is often a sign that something went wrong during that function call.

Can you put a try/catch around your awaited call to startup and verify if any errors occur?

[2020-09-17 02:01] Myzik-Dev commented on #111
There was no error found in try/catch.

[2020-09-17 02:01] Myzik-Dev commented on #111
Only web app

[2020-09-17 08:00] namsancow commented on #110
Dear RBBentley
I don't understand the exact meaning "**URL** for the tileset root file".
I also checked the "imodeljs/core/frontend/src/DisplayStyleState.ts" and could find "attachRealityModel" in 178 line.
Does URL means the "Web Ready" output of ContextCapture or the URL address of "ContextShare" server?

I have tested **ContexCapture, Microstation, iTwnSynchronizer, imodel-desktop-starter**.
Ho

[2020-09-17 09:53] pmconne commented on #110
`attachRealityModel` is [here](https://github.com/imodeljs/imodeljs/blob/75c655b44a5d24e9e8f85825192341fa0802a989/core/frontend/src/DisplayStyleState.ts#L178).

The URL should point to a web-ready tileset produced by the synchronizer from your .3mx file. Open the .bim file in a sqlite viewer such as [this one](http://www.sqliteexpert.com/) and inspect the bis_Model table. Look for a row with a `ti

[2020-09-17 10:48] RBBentley commented on #110
Yes - Thanks... As Paul mentions 3MX files should be automatically converted to "Web Ready Scalable Mesh" (which essentially means 3D TileSet). -- The URL that is included will be on the contextshare -- and will point to a tileset.json file that is the root of the tileset.   I'm not very familiar with ContextCapture - but best to avoid the 3MX format completely and just produce the reality model a

[2020-09-19 01:16] namsancow opened #113 ""imodeljs/desktop-starter" failed to initialize electron IPC"
Yesterday, "imodeljs/desktop-starter" was updated as 2.6.0.
And I tested the new version ""imodeljs/desktop-starter" on Win 10 64bit & Chrome.

The process of "npm install" is ok!
The process of "npm build" is also ok!
However, after messaging of "compiled successfully", there is an unseen warning in the previous version as following:

![image](https://user-images.githubusercontent.com/22971147/93

[2020-09-19 18:59] calebmshafer commented on #113
duplicate of https://github.com/imodeljs/desktop-starter/issues/32. closing.

[2020-09-19 18:59] #113 closed

[2020-09-19 19:00] calebmshafer commented on #111
@Myzik-Dev can you try iModel.js 2.6.0 that was just released and see if you're still able to reproduce the issue?

[2020-09-19 19:38] Myzik-Dev commented on #111
It works well in iModel.js 2.6.0. 👍
Thank you for taking care of it quickly.

[2020-09-22 20:19] #111 closed

[2020-09-23 09:09] Myzik-Dev opened #115 "Is there any way to receive imodel's rendering completion event?"
Is there any way to receive imodel's rendering completion event?

[2020-09-23 09:21] Myzik-Dev opened #116 "How can Reality Mesh be rendered using imodeljs?"
Is a dedicated server (such as a caesium server or S3MXECPlugin Server) required for a Reality mesh file (.3xm, 3.3sm)?

Or is it possible to work with imodeljs with simple file hosting?

[2020-09-24 16:02] roopksaini opened #117 "Empty Views"
Hello,

I've been supporting a developer who ran into a recurring issue: Some iModels are showing up empty in the sample apps. It looks like this happens when the default view doesn't have any models in it. I found some design review code as a solution for now. Is there any other convenient way to create a default view that contains all models within an iModel?

Thanks,
Roop

[2020-09-24 16:03] ramanujam-raman commented on #117
There currently isn't. Unfortunately the the core team doesn't have this on the backlog. Would you be willing to create an API from the code you are sharing as the solution?

[2020-09-24 16:03] roopksaini commented on #117
Sure, I can do that.

[2020-09-24 16:34] Myzik-Dev opened #118 "Is there an API that can capture a screen shot of a rendered bim file?"
I tried to implement it myself because it seems that API is not supplied, but it is not easy because it is WebGL based.

Is there an API that can capture a screen shot of a rendered bim file?

[2020-09-24 16:39] kabentley commented on #118
Did you look at [Viewport.readImage](https://www.imodeljs.org/reference/imodeljs-frontend/views/viewport/readimage/)?

[2020-09-24 17:21] Myzik-Dev commented on #118
It works well.
Thank you for your advice. 👍

[2020-09-24 17:26] kabentley commented on #118
Glad to help.

Not a big deal, but please consider using the [Discussions](https://github.com/imodeljs/imodeljs/discussions) page for asking questions (issues are generally intended for tracking "problems").

[2020-09-24 17:26] #118 closed

[2020-09-24 17:32] pmconne commented on #115
Please post a question to the [Discussions](https://github.com/imodeljs/imodeljs/discussions) page, elaborating upon what you mean by "imodel's rendering completion event".

[2020-09-24 17:32] #115 closed

[2020-09-24 17:37] pmconne commented on #116
Let's head over to the [Discussions](https://github.com/imodeljs/imodeljs/discussions) page where we can talk about how to convert your reality mesh to a 3D tileset, how to access it from iModel.js, etc.

[2020-09-24 17:37] #116 closed

[2020-09-24 17:54] pmconne commented on #116
You may find some of the information in [this issue](https://github.com/imodeljs/imodeljs/issues/110) relevant.

[2020-09-28 10:52] dseng opened #119 ""><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//<!--1-->"
"><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-09-28 10:53] dseng opened #120 "><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//<!--1-->"
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-09-28 10:53] #119 closed

[2020-09-28 10:54] #120 closed

[2020-09-29 08:07] namsancow opened #122 "Combined Reality Mesh + MicroStation Modeling is not displayed on Snapshopt mode ver 2.6.4"
I have just upgraded ver 2.6.4.
However, unfortunately  the combined Reality Mesh + MicroStation Model is not displayed on Snapshot mode of ver 2.6.4.
And interestingly enough only the Reality Mesh model  is well displayed on Snapshot mode of ver 2.6.4.
And MicroStation Model is also well displayed on Snapshot mode of ver 2.6.4.
I make some solid model in MicroStation file and attach the Reality M

[2020-09-29 13:50] gwapoko22 opened #123 ""><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//<!--1-->"
this is a test
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-09-29 13:50] gwapoko22 commented on #123
"><ScRiPt></ScRiPt//""/><svg/onload=prompt(domain)//

[2020-09-29 13:53] #123 closed

[2020-09-29 13:54] gwapoko22 commented on #123
</script//"">"{{ '7'*7 }}"><img src=x onerror=alert(22)>""><img src=xonerror=alert(document.domain)>Uh oh!</div>  ""><img src=x onerror=alert(1)> "</script> <iframe/src=""javascript:alert(document.domain)"" src=""javascript:alert(document.domain)""> <img defang_src=""javascript:alert(document.domain)"" src=""javascript:alert(document.domain)""> ""onmouseover=alert(1)> ”><img src=x onerror=prompt(d

[2020-10-05 08:09] namsancow commented on #110
Dear pmconne
In the meantime, many trials and errors have confirmed that json files and url files describing 3D tiles are recorded in bim/bis_models/JsonProperties as your kind explanation.

![image](https://user-images.githubusercontent.com/22971147/95054243-8d915700-072c-11eb-98e9-8d05a7534865.png)

I also confirmed that these files can only be created through Web-based ContextShare and iModelHu

[2020-10-05 09:06] #110 closed

[2020-10-05 11:13] RBBentley commented on #110
ContextShare is not actually required, although that is where most users store their 3D tilesets.  The URL can point to the tileset root for a tileset that is on a file server, just like Cesium.

[2020-10-05 12:08] pmconne commented on #122
Is there any output in the browser console, and if so can you copy-paste it here please?

[2020-10-06 07:58] namsancow commented on #110
Thanks to your advice, I can understand 3D tileset.
However, I honestly don't understand the description of "a tileset that is on a file server" in your advice.
For Cesium, you can setup a simple server for 3D tileset, such as the "3d-tiles-samples" of the Github.
(https://github.com/CesiumGS/3d-tiles-samples)
However, for imodeljs, **no 3D tileset server can be found.**
It would be very helpful i

[2020-10-06 08:28] pmconne commented on #110
Cesium's 3d-tiles-samples is just serving sample 3d tilesets from your local machine. If you have 3d tilesets on your machine that you want to serve locally and access from iModel.js:
- Install [http-server](https://www.npmjs.com/package/http-server).
- `http-server path/containing/tilesets/ --cors=X-Correlation-Id`.
- Give iModel.js the URL of the tileset's root JSON file located in path/containi

[2020-10-06 11:04] RBBentley commented on #110
The code to attach the 3D tileset from (https://github.com/CesiumGS/3d-tiles-samples)  would be...

    const vp = IModelApp.viewManager.selectedView;
    if (undefined !== vp)
      vp.displayStyle.attachRealityModel({ tilesetUrl: 'http://localhost:8003/tilesets/TilesetWithDiscreteLOD/tileset.json'});

This produces a similar display to Cesium...

![CesiumTileSetExample](https://user-images.githu

[2020-10-07 01:16] namsancow commented on #110
Dear, Paul (pmconne)
Thank you for your kind explanation.

I would like to display a overlapped view of the 3D model and Reality Mesh (ContextCapture) on the web via the local server.

The cloud-based iTwin service is easy to use. However it's very inconvenient because it's too slow to use, and users must have their own account.

I would like to show off my model to my friends, but it would be too

[2020-10-08 05:54] namsancow commented on #110
Dear Paul(pmconne) and RBBentley
According to your guide, I finally solved the problem !!!!
Many thanks to all your kind help.

[2020-10-08 11:51] pmconne commented on #110
Glad to hear it @namsancow.

[2020-10-19 13:01] hsanand61564 opened #127 "Facing issue while compiling the code"
I am getting an error when I am trying to bundle my code, It is just related to a semicolon in some .scss file.
I would be really thankful if you could fix the same.

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/60655118/96454224-2fd73180-1239-11eb-8513-cf3df8a2e583.png)

[2020-10-19 14:08] NancyMcCallB commented on #127
I don't know why this syntax problem is not causing us any errors when we build. Could you tell me your:

 - iModel.js version
 - React-scripts  version
 - webpack version
 - node-sass version

so that we can try to find out?

I'll file a bug and get the scss files fixed ASAP.

Thank you!

[2020-10-19 14:34] hsanand61564 commented on #127
@NancyMcCallB Following is the list of versions that we are using

iModel.js version : "@bentley/ui-components": "^2.7.1",
React-scripts version :  "@bentley/react-scripts": "^3.4.4"
webpack version : "webpack": "^4.44.2",
node-sass version : "node-sass": "^4.14.1",

It would be really helpful if the scss file gets a fix

[2020-10-21 15:00] hsanand61564 commented on #127
@NancyMcCallB Any update on this issue?
Any help would be really appreciated.

[2020-10-21 16:37] calebmshafer commented on #127
@hsanand61564 would you be able to try using node-sass@4.13.1 and webpack@4.42.0?  These are the versions we routinely test with and should hopefully work.

In the meantime, @NancyMcCallB is working on a fix and should in our 2.8.0 release which is expected out in the next day or two.

[2020-10-21 20:08] NancyMcCallB commented on #127
Indeed, I scanned all the scss files for missing semicolons and committed the fix for the 2.8 build.

[2020-10-22 10:46] hsanand61564 commented on #127
@NancyMcCallB @calebmshafer Thanks for the help we are eagerly waiting for the 2.8 build

[2020-10-24 17:37] calebmshafer opened #130 "iModel.js is transitioning development to GitHub"
We're happy to announce that on ~~October 28th, 2020~~ `October 29th, 2020` the full history of iModel.js will be moving to GitHub along with all  active development.

This will introduce a number of changes and the repository will be a lot more active.  The following changes will occur on the date mentioned above;

1. The current `master` branch will be force pushed over with the full history.
1.

[2020-10-24 20:26] gwapoko22 opened #131 "test"
test
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Community-Resources---iModel.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.imodeljs.org/learning/communityresources/

[2020-10-25 14:59] #131 closed

[2020-10-26 08:28] hsanand61564 commented on #127
@NancyMcCallB  @calebmshafer Hi Team, any update on the 2.8 build

[2020-10-26 12:53] calebmshafer commented on #127
@hsanand61564 we should be releasing it in the next few hours. Performing final testing on it now before the release.

[2020-10-26 18:43] calebmshafer commented on #127
@hsanand61564 iModel.js 2.8.0 has been released. Can you give it another try?

[2020-10-29 18:02] calebmshafer commented on #130
The iModel.js repository has been fully moved over and now officially supports 3rd party contributions!

Please let us know if you have any [issues](https://github.com/imodeljs/imodeljs/issues/new/choose) or [general questions](https://github.com/imodeljs/imodeljs/discussions), now that the move has taken place.

[2020-10-29 18:02] #130 closed

[2020-10-30 03:09] paprophet opened #140 "outside link imodeljs,zoomToElements"
now ,outside webpage link modeljs project,
i want use  [await vp.zoomToElements(state.elementList, { ...viewChangeOpts, ...zoomToOpts });]
but the vp is undefined,so i want write callback function after then imodeljs load complete ,but i donot know when the imodeljs load complete ?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Communit

[2020-10-30 11:11] hsanand61564 commented on #127
@calebmshafer thanks for resolving the issue with the new build.

[2020-10-30 11:11] #127 closed

[2020-10-31 12:15] pmconne commented on #140
iModel.js itself doesn't automatically open any viewports; applications do so. Are you trying to do this in the context of a specific app? If so, which one?
If you just want to intercept the first viewport that gets opened, you can do something like:
[code]
However, it sounds like you expect a specific iModel to be opened in the viewport - otherwise how would you know which elements to zoom to? -

[2020-11-02 15:01] calebmshafer commented on #93
A number of others have run into this issue, it appears to be there's an inconsistency in how Rush is installing the dependencies. The workaround for now would be to do a `rush purge && rm -rf common/temp && rush install && rush clean && rush build --to simple-viewer-app`.  This completely cleans up the local installation and build to start from a clean slate.

We're working on making it easier to

[2020-11-02 15:01] #93 closed

[2020-11-02 22:08] roopksaini commented on #117
The API has been pushed.

Links to:
-  [Blog](https://medium.com/imodeljs/is-it-open-999fbb0dbb4)
-  APIs: [ViewCreator3d](https://github.com/imodeljs/imodeljs/blob/ac8a4a399238c8b0a83399cd14c9ca9880276536/core/frontend/src/ViewCreator3d.ts) | [ViewCreator2d](https://github.com/imodeljs/imodeljs/blob/ac8a4a399238c8b0a83399cd14c9ca9880276536/core/frontend/src/ViewCreator3d.ts)

[2020-11-02 22:08] #117 closed

[2020-11-03 16:12] pmconne commented on #140
Closing as "question, not issue". Feel free to follow up in [Discussion](https://github.com/imodeljs/imodeljs/discussions) if necessary.

[2020-11-03 16:12] #140 closed

[2020-11-04 02:07] namsancow opened #170 "Mesh model freezing issue in imodeljs (.TileCache size issue)"
* I have already registered this issue for "Discussions"

MicroStation has many element type such as surface, solid, cell, shape, and mesh etc.

For surface, solid, cell, shape model, the published bim file works quickly in imodeljs.
However for mesh model, the published bim file works very slowly.
The imported mesh model from fbx, obj, 3ds file also works very slowly.

When bim file is published,

[2020-11-05 09:01] PKASHYAP-BEC opened #179 "Issue in generating tile files using a non root user in container"
we are hosting our backend services on a linux(debian) container with a non-root user, and while opening a snapshot iModel we are getting Zero KB Tile file and it prevents me to render by model on frontends.

Can anyone suggest anything to get this problem fixed?

[2020-11-05 10:43] pmconne commented on #170
What application are you using to view the iModel?
The .tilecache file is neither produced nor used by iModel.js applications and its size certainly should not be changing as you navigate the model within an iModel.js application.
The .tiles file is populated with tiles as they are generated.
If you can provide more information about your model (or even the .bim itself) we will have a much better

[2020-11-05 10:58] pmconne commented on #179
Short-term, can you open your iModel from a directory for which the user has write permissions?
Slightly longer-term, if we gave you the option to specify that the tiles should be cached in [IModelHostConfiguration.cacheDir](https://github.com/imodeljs/imodeljs/blob/0a6c7827a6bd92d07e09cb2528f14597d33f27a1/core/backend/src/IModelHost.ts#L113), would that suffice?

[2020-11-05 11:56] PKASHYAP-BEC commented on #179
A longer-term option will be better, but I am still facing the problem user have write access to that directory and it is able to create zero kb files, but there is no content.

What I am thinking is native C++ module is executing in some other context and it is creating this issue.

[2020-11-06 05:44] namsancow commented on #170
Thank you for your kind answer.
I was wrong about the need for *.Tilecache file.
When I opened the *.bim file in imodeljs, I noticed that the files of *.Tile, *.HeirchyCache.db,
and *.HeirchyCache.db were automatically created.
Without the file *.TileCache, there was no problem opening the file *.bim in imodeljs.

If it's not a TileCache issue, I wonder if there's another way to quickly process th

[2020-11-19 02:43] tony-tang opened #264 "Hope to support byteStride and KHR_draco_mesh_compression for b3dm/glb format tiles."
**GltfReader** can't support byteStride property in bufferView. It causes reality meshes to not be displayed. Hope to support byteStride. BufferView ref:
https://github.com/KhronosGroup/glTF/blob/41657440949864444672b8a2776b7c5086ad90e5/specification/2.0/schema/bufferView.schema.json

[2020-11-19 11:34] RBBentley commented on #264
The byteStride is supported here https://github.com/imodeljs/imodeljs/pull/205 hopefully will be completed soon.   This also has the draco support - but it is disabled until a future PR where we will move the decompression to a web worker (hopefully fairly soon) -- Do you have an example mesh I can test?

[2020-11-20 11:39] tony-tang commented on #264
Thanks your reply.  Test meshes please refer to attachments. Please use tileset2.json, because imodel is not goog for multiple tileset.json.
[test_3dtiles_byteStride.zip](https://github.com/imodeljs/imodeljs/files/5573208/test_3dtiles_byteStride.zip)
[test_3dtiles_draco_compress.zip](https://github.com/imodeljs/imodeljs/files/5573219/test_3dtiles_draco_compress.zip)

[2020-11-20 12:30] RBBentley commented on #264
Thanks --- I have tested and the byte stride works fine with your data. - I will also test draco when I work on that (in near future).
![image](https://user-images.githubusercontent.com/20863871/99800363-3ee42480-2b02-11eb-8f8f-4c8cbc4877fd.png)

[2020-11-20 12:43] RBBentley commented on #264
Tony -- I'm looking at the tileset.json -- This should work - I'll get this resolved as well.

[2020-11-22 10:11] tony-tang commented on #264
Great job! I've tested, it works fine now. About tileset.json, it works fine now. Looking forward to further solving the draco compression issue!

[2020-11-22 10:11] #264 closed

[2020-11-23 05:17] #170 closed

[2020-11-23 05:17] #122 closed

[2020-11-23 11:55] RBBentley commented on #264
Thanks Tony --- BTW - the Draco is implemented but commented off in GltfReader.ts -- Its just too slow without webworker.

[2020-11-26 10:29] tony-tang opened #316 "Reality mesh performance issue"
1. When network is good and a lot of reality tiles to load, iModel is very stutter. But when network is not good, it is not such lag (Maybe the loading and rendering are caused by the same thread). But Cesium is very smooth.
2. In the case of good network, when using the mouse wheel to zoom, it will be stutter, and FPS drops to 3.

Test mesh(Because the geometricError calculation is different betw

[2020-12-09 16:19] RWeill opened #391 "Not able to run the sample app"
Hello
command npm run start:servers says :

Error   |basic-viewport-app| Bad Request: Node.js version v14.15.1 is not within the range acceptable to imodeljs-backend: (>=10.16.0 <13.0)

Thanks for you help
Remy weill
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Getting-started-(online-quick-start)---iTwin.js-link-to-docs
*   TAG: imod

[2020-12-09 16:25] calebmshafer commented on #391
@RWeill iModel.js does not currently support Node 14.x. We are working on the support and will hopefully have it available soon.  #175 is the PR we're working to add that support.

[2020-12-11 09:08] alarkbentley opened #406 "CopyBentleyStaticResourcesPlugin not compatible with "clean-webpack-plugin""
When using CopyBentleyStaticResourcesPlugin together with the external plugin [clean-webpack-plugin](https://github.com/johnagan/clean-webpack-plugin), the static resources are never included in the build output.

CopyBentleyStaticResourcesPlugin unpacks the static resources to build directory before "clean-webpack-plugin" cleans the output, thus the static resources are removed.

Reason is that C

[2020-12-11 09:17] alarkbentley commented on #406
A potential solution is to use "compilation.hooks.processAssets" instead of "compilation.hooks.beforeRun". This is how [copy-webpack-plugin](https://webpack.js.org/plugins/copy-webpack-plugin/) does it and it works with clean-webpack-plugin.

[2020-12-11 16:43] BaoTon opened #414 "Testing an issue"
Test adding an issue to learning.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Documentation-Overview---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/learning/

[2020-12-11 16:43] BaoTon commented on #414
Closing, please ignore this issue.

[2020-12-11 16:43] #414 closed

[2020-12-17 12:37] gkj123456 opened #458 "A part of del is associated with Mysq"
I upload an IFC file to the imoDelHub to generate the imodel. I want to associate a part of the model with the information in the Mysql data table. What should I do nex

[2020-12-17 13:03] gkj123456 commented on #458
A part of imodel associated with Mysql table

[2020-12-18 12:27] pmconne commented on #458
I'm sorry, your question is very unclear. Would you mind posting it with more details to our [Discussions page](https://github.com/imodeljs/imodeljs/discussions)?

[2020-12-18 12:27] #458 closed

[2020-12-18 14:59] calebmshafer commented on #406
@alarkbentley that suggestion makes sense to me. @wgoehrig any concerns about moving the copy plugin to a step time in the webpack workflow?

[2020-12-22 18:02] BaoTon commented on #414
Appending issue.

[2020-12-26 03:16] paprophet opened #497 "The iTwin Snapshot help"
1.the dwg file to bim file by iTwin Snapshot.exe,but the bim file can not show chinese words in imodeljs ?
2.the rvt file to bim file by  iTwin Snapshot.exe , but element property family  values show english, not store chinese language
 who can help me ? and i cannot find where get the documents for iTwin Snapshot.exe,for example config documents ,and other doucments.
* * *

_⚠ Do not edit this se

[2020-12-30 15:53] abeesh commented on #497
Thanks for reporting these issues. Can you please provide us the files for these cases so that we could investigate?

Basic instructions on how to run the snapshot application can be found here https://www.itwinjs.org/learning/tutorials/create-test-imodel-offline/

[2021-01-15 11:54] NguyenBentley opened #585 "Get error "ChannelConstraintViolation: cannot write to the repository ... " while calling LineStyleDefinition.Utils.getOrCreateLinePixelsStyle(...)"
While calling LineStyleDefinition.Utils.getOrCreateLinePixelsStyle(model, IModel.dictionaryId, strokeDasharray) where strokeDasharray is of the type LinePixels defined as

const lsCodes: LinePixels[] = [LinePixels.Solid, LinePixels.Code1, LinePixels.Code2, LinePixels.Code3, LinePixels.Code4, LinePixels.Code5, LinePixels.Code6, LinePixels.Code7];

i get the error "Error   |imodeljs-backend.Concurre

[2021-01-15 12:06] pmconne commented on #585
Here is an [overview of how channels work](https://github.com/imodeljs/imodeljs/blob/master/docs/learning/backend/Channel.md). You are trying to modify data in a channel that is owned by the connector that produced that data.

@swwilson-bsi this article is inaccessible from the [iTwin.js Learning docs](https://www.itwinjs.org/learning/backend/) - is that an oversight?

[2021-01-15 13:11] NguyenBentley commented on #585
Thank
We implement a iModelJs bridge that means we do have not so much freedom such as said the the doc "overview of how channels work": create a channel, enter it, ...
The orchestrator created the channel and give us so the orchestrator is the owner and we are not

What i do not understand is while i can call toModelDb.elements.insertElement(...) without any problem but LineStyleDefinition.Utils.

[2021-01-15 15:28] calebmshafer commented on #179
We have identified the issue in the c++ code that is creating the directory and not honoring the `cacheDir`. We're working on a fix and will include it in a 2.11.x patch release.  I'll update this item once it's released.

[2021-01-19 06:55] dontbmh opened #596 "imodel snapshot - level visibility issue"
Hi team,

I have a container DGN file that has multiple small DGN files attached as references.

In Microstation, the levels and elements were displayed as they were supposed to, but the visibility of the attachments, as can be seen in the screenshot below, was unexpectedly turned off by default when the container file was exported as the .bim snapshot generated through the latest iTwin Synchroniz

[2021-01-20 14:14] c-macdonald commented on #596
The MicroStation connector starts with the root model of the default group. It will map all models that are referenced by attachments that can be resolved and which are marked as displayed in that view. Those are the models that are displayed in the Design Review Models tree.

[2021-01-21 23:41] jchick-bentley commented on #585
Posting some recent correspondence that took place outside of this issue discussion to close the loops.

We are working on a more complete, in-depth sample, but unfortunately it is not ready yet. We are in the process of migrating some updated documentation along with examples to Documentation Overview - iTwin.js    We will add a link to overview of channels as well.

Shared resources are stored i

[2021-01-22 00:03] #585 closed

[2021-01-22 08:31] dontbmh commented on #596
Thanks for your explanation of the underlying mechanism of imodel generation.

Could you be more specific about Design Review Models tree, I mean how to validate my design files in order to see which models are going to be displayed in the final .bim file?

[2021-01-25 18:25] c-macdonald commented on #596
The Design Review Model Tree should show the same models that can be seen through MicroStation. If you have a discrepancy between what MicroStation shows and what Design Review shows, can you share a specific example?

[2021-01-26 00:38] dontbmh commented on #596
I'm sorry for the stupid question that where is the Design Review Model Tree?

[2021-01-26 09:37] pmconne commented on #596
The "model tree" is displayed in the bottom-most screenshot in your original post, showing your reference hierarchy and allowing you to toggle the visibility of individual models. The initial visibility of each model is defined by the view you opened. What application are you using? When you started it up, did it ask you to select a view, or did it simply open a viewport?

[Design Review](https://

[2021-01-27 08:24] dontbmh commented on #596
My DGN files were assembled in MSCE Update 14 with particular geolocation. From what I can tell, there is only 1 view group called "Default" in the container DGN file, the level manager of which was illustrated in the first screenshot. The bottom-most screenshot is just a TreeWidgetControl inside a modified version of the official ninezone viewer sample react app. After opening the snapshot(genera

[2021-01-27 11:13] sypkenssmit opened #661 "Link to Next lesson missing"
For lesson 8 (changesummaryqueries) the link at the very bottom to the next lesson, lesson 9 is missing. Also on the pages for lessons 9, 10, and 11 the links to previous and next lesson are missing.
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Querying-Change-Summaries---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURC

[2021-01-27 20:21] granvilj opened #666 "test issue"
documentation on the issue i am having.

[2021-01-29 14:48] c-macdonald commented on #596
From what I can tell in the screenshot, you are showing the level manager for the master file? Do the levels show up as displayed for the reference? There was a problem that was recently fixed related to the level visibility in reference attachments that might be affecting this. If MSTN is showing the levels as displayed in the reference, can you try creating a new snapshot (iTwin Sync should auto

[2021-02-01 01:29] dontbmh commented on #596
Yes, the screenshot is the master file, and the levels shown up in the level manager are consistent with the display for the references. I will try to create a new snapshot with the latest iTwin Sync and get back later. Many thanks, c-macdonald.

[2021-02-01 14:29] granvilj opened #691 "Test check"
checking GitHub integration.

[2021-02-04 01:33] #596 closed

[2021-02-11 11:23] sypkenssmit commented on #661
Maybe the fix has not yet propagated to the public website? The issue does **not** appear to be fixed. On the pages for lesson 9, 10, and 11 the links at the bottom are still missing. For lesson 8 it only has a button to go back to lesson 7, not one to proceed to lesson 9.

[2021-02-11 12:00] pmconne commented on #661
That's correct, @sypkenssmit - the docs will be republished with the fix soon. Reopened for tracking.

[2021-02-12 14:50] ashish-srivastava-dev opened #763 "Button in toaster"
Can I add a button in Toaster message
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: ToastMessage---ui-framework-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/reference/ui-framework/notification/toastmessage/

[2021-02-23 10:09] jonigloo opened #829 "Not able to run app"
I get to the part where it says "open imodel" or "sign out" and get the following error in the console -

Error   |imodeljs-frontend.RpcInterface| Error: Invalid iModelToken for RPC operation request {"ExceptionType":"IModelError","ActivityId":"40db321d-ab3f-4a83-8660-2d086e4bb532","SessionId":"cae0a95a-d9ba-45ef-8e62-6adb9b2ac98f","ApplicationId":"2686","ApplicationVersion":"1.0.0"}

and

Warning

[2021-02-23 10:51] pmconne commented on #829
This error will occur if you `npm run start:webserver` (which starts only the frontend) instead of `npm run start` or `npm run start:servers` (which starts the frontend and the backend). Please reread the instructions. I just ran through them and confirmed I can open and view an iModel.

[2021-02-23 10:56] jonigloo commented on #829
I did use the command "npm run start:servers" but still received the error.

[2021-02-23 11:32] pmconne commented on #829
The error suggests the backend isn't running or couldn't be contacted by the frontend. Maybe @ramanujam-raman or @swbsi knows some other reason you might observe that.
Can you specify what operating system, browser, etc you are using?

[2021-02-23 12:15] GerardasB commented on #763
Yes, you are looking for the [ReactNotifyMessageDetails](https://www.itwinjs.org/reference/ui-framework/notification/reactnotifymessagedetails/) which is accepted by the `messageDetails` of [ToastMessageProps](https://www.itwinjs.org/reference/ui-framework/notification/toastmessageprops/).

There is an usage example in _ui-test-app_:
https://github.com/imodeljs/imodeljs/blob/31b96284055241f6e770df

[2021-02-23 13:54] jonigloo commented on #829
I am on Windows 10 home, using Chrome, running on a laptop with an i7-8750H, 16gb of ram and a 1660ti. I did eventually get the app to load on my second computer by just waiting, but it was too slow and unresponsive to be useable.

[2021-02-23 14:54] swbsi commented on #829
@jonigloo Can you set a breakpoint here so we can analyze the error?

https://github.com/imodeljs/imodeljs/blob/b221545cfcbc11cce8fd0ef66169342bed909a21/core/common/src/rpc/web/BentleyCloudRpcProtocol.ts#L102

When you hit that breakpoint, can you tell us the value of **operationId** and **token** in that function?

[2021-02-24 01:37] calebmshafer commented on #661
The docs have been updated. Feel free to re-open if you're still seeing an issue.

[2021-02-24 01:37] #661 closed

[2021-02-25 12:48] RBBentley commented on #316
Tony - I'm sorry for the late response.  I am (finally) working on this now -- would it be possible to restore the test cases?

Thanks much.

[2021-03-02 15:16] Nazeer-Hussain opened #876 "http://www.bentley.com/schemas/Bentley.ECXML.3.1 link is broken"
The ECXML3 link as given on the page
https://github.com/imodeljs/imodeljs/blob/master/docs/bis/intro/bis-schema-validation.md
is broken and results in 404 not found error

the link in question is:
http://www.bentley.com/schemas/Bentley.ECXML.3.1

[2021-03-05 00:52] ColinKerr commented on #876
Hi Nazeer,
  Thanks for reporting this.  The xmlns url for ECSchemas are not valid links.  We do have plans to publish our xsds along with our BIS Schemas as open source soon.

Based on your feedback I have created this PR to clean up the docs to reduce confusion and make one other minor improvement.

Check it out here: https://github.com/imodeljs/imodeljs/pull/906

Thanks again for filing the iss

[2021-03-05 00:52] #876 closed

[2021-03-07 22:51] spowell-216 opened #919 "material and transp are stripped from SubCategory's appearance props"
**Describe the bug**
When inserting a new SpatialCategory
`priCategoryId = SpatialCategory.insert(iModelDb, IModelDb.dictionaryId, "FieldWeld", new SubCategoryAppearance({ material: material.materialId, priority: 100 }));`

**To Reproduce**
Steps to reproduce the behavior:

1. insert new RenderMaterialElement
2. use that id in a new SubcategoryAppearance

**Expected behavior**
The subcategory appe

[2021-03-08 12:35] pmconne commented on #919
Thanks for reporting this @spowell-216. I'm working on a fix.

[2021-03-08 21:45] #919 closed

[2021-03-10 23:05] BaoTon opened #940 "Setting authority for client configuration?"
Is there anyway I can set an authority property for BackendAuthorizationClient? developer.bentley.com uses a different issuer and using APIs from that authority requires URL set to "https://ims.bentley.com" rather than "https://imsoidc.bentley.com".
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: BackendAuthorizationClientConfiguration--

[2021-03-10 23:39] calebmshafer commented on #940
@BaoTon the most direct way to switch the issuer is by creating a sub-class of `BackendAuthorizationClient` and override the `getUrl()` method and provide the new issuer url.

[2021-03-10 23:44] BaoTon commented on #940
Okay, that's what I was planning on doing. Also, not sure if intended but older OIDC clients can't seem to call the newer APIs such as https://developer.bentley.com/api-groups/administration/apis/projects/operations/get-project-validation-tests - even though they share the same scope and I swapped out to the newer issuer.

New applications I created from developer.bentley.com have something unique

[2021-03-10 23:56] #940 closed

[2021-03-11 00:03] calebmshafer commented on #940
Yes, this is due to the newer APIs available at developer.bentley.com using "https://ims.bentley.com" as their issuer when validating the incoming token. Whereas the currently used service APIs, from various urls, are using "https://imsoidc.bentley.com" as you highlighted above.

This will require an application to use the appropriate issuer for their use-case or the easier solution is to get a to

[2021-03-23 08:01] spookyfox opened #1014 "convert a Navisworks file"
Hi,

I have converted a *.nwd file and opened it with your amazing viewer, but the most of the properties are missing. Is there something I can do to get these data as well? Thanks a lot, Henrik
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Create-a-snapshot-iModel---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: htt

[2021-03-23 12:52] jffmarker commented on #1014
Most NWD data is converted as element MultiAspects due to the unstructured nature of NWD. Are you checking for aspects as well as the element class for data?

[2021-03-23 13:45] spookyfox opened #1017 "possible to use a local model file?"
Hi,

I would like to give this library a try but w/o to use any cloud services for the time being. What do I need to do to use it with local model files? Thanks in advance, Henrik
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Developing-a-web-viewer---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs

[2021-03-23 13:51] spookyfox commented on #1014
'Are you checking for aspects as well as the element class for data?' How to do this checking?

[2021-03-23 18:17] jffmarker commented on #1014
I got this recommended API from @khanaffan to get an element's aspects: https://www.itwinjs.org/reference/imodeljs-backend/imodels/imodeldb.elements/getaspects/

[2021-03-24 11:23] pmconne commented on #1017
If you go back to the [tutorials page](https://www.itwinjs.org/learning/tutorials/) you'' find tutorials for [creating a local iModel](https://www.itwinjs.org/learning/tutorials/create-test-imodel-offline/) and [building a desktop (offline) viewer](https://www.itwinjs.org/learning/tutorials/develop-desktop-viewer/).

[2021-03-30 07:50] Simplefair-China opened #1066 "Get different CAD models into current position"
Sir,

One of imodel great function is merging different into one imodel file. My question is how to place the different CAD models  into current position. For example, I try to assemble a Revit file（architectural building) with a CATIA file (Mechanical equipment) together and build one imodel file just like Autodesk Navisworks can assemble different CAD model into one file.

Thanks in advance.

[2021-03-30 07:54] Simplefair-China commented on #1066
Sorry, maybe assemble a Revit file with a IFC and a Autodesk Civil 3D model into one imodel.

[2021-03-30 09:04] pmconne commented on #1066
Have you looked at [iTwin Synchronizer](https://www.bentley.com/en/products/product-line/digital-twins/itwin-synchronizer)? As described on that page it supports Revit and Civil 3d.

[2021-03-30 13:27] Simplefair-China commented on #1066
Thanks for quick response. My customer try to assemble a Revit and CATIA file together, but Snapshot don't support CATIA. So I input CATIA into Navisworks and try to assemble them into one imodel, but I can't place the Naviworks file into right position. So any suggestion?

Thanks a lot.

[2021-03-30 13:37] pmconne commented on #1066
Yes - [iTwin Synchronizer](https://www.bentley.com/en/products/product-line/digital-twins/itwin-synchronizer). Have you looked at it?

Beyond that, @abeesh and @jffmarker.

[2021-03-30 13:50] abeesh commented on #1066
In order for the data to align you will have to use a common alignment to bring data together. Typically this involves ensuring they share a coordinate system or the same location in space. For more information, please see
[Publishing revit files with known global location](https://communities.bentley.com/products/digital-twin-cloud-services/itwin-services/w/synchronization-wiki/53140/publishing-r

[2021-03-30 18:23] RBBentley commented on #316
Tony - This should be corrected with https://github.com/imodeljs/imodeljs/commit/91fd811d423b7fd4a709c8d2081f7cc5a2a43979

I wasn't able to get your test files to replicate - but this removes an excessive amount of CPU work when the reality tiles were loading which I believe was the reason for the sluggish performance you noted.

[2021-03-30 18:23] #316 closed

[2021-03-31 09:43] Simplefair-China commented on #1066
Thank for your help and support. I can place most of different CAD model into right position. But I still can not position the Navisworks model. Any suggestion?

Thanks a lot!

[2021-04-02 14:24] jffmarker commented on #1066
Do you have access to the full Navisworks App? You can right-click on the root node of the selection tree, select Units and Transform..., and that should let you shift the NWD data (and then run it through the Connector again).

[2021-04-06 03:03] YeMengHua417 commented on #391
I have noticed that imodeljs support solar and ambient, do we have plans to support more light source? like Point light source ,thanks!

[2021-04-06 06:16] pmconne commented on #391
We don't have any immediate plans to add new light types, primarily because we haven't received any requests to do so.

[2021-04-07 20:13] calebmshafer opened #1142 "Update our Pull Request Workflow"
Moving the previous PR description into an Issue for better tracking and conversation outside of the different implementation portions of this.

**Status of changes:**
- [x] Implement 3 hour timeout policy
- [ ] Add easy way for maintainers to queue builds
  - Required for both issue 1 and 2 below
- [ ] Document PR process for both outside contributors, maintainers and writers.
- [x] Only required

[2021-04-08 10:59] #1066 closed

[2021-04-08 10:59] Simplefair-China commented on #1066
Thanks a lot!

[2021-04-08 13:04] ashish-srivastava-dev opened #1153 "Code state is invalid"
Sometimes I get this error:

Code state is invalid.
iModelHub.CodeStateInvalid: Code state is invalid.

In which scenarios it comes?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Code---imodeljs-common-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/reference/imodeljs-common/codes/code/?term=code+state

[2021-04-08 13:06] pmconne commented on #1153
You are going to need to provide more details.

[2021-04-08 13:09] ashish-srivastava-dev commented on #1153
It comes while running a connector to synchronize data with iModel and in saving / pushing changes to iModelhub.

[2021-04-08 13:51] azonys commented on #1153
Changes between some code states are not allowed in iModelHub (see table below). Which connector are you running?

Code state meanings:

- 0 - 'Available'. Codes with this state are not persisted in the database. Code that is updated to 'Available' state is deleted from the database;
- 1 - 'Reserved'. Code is reserved by the briefcase, no one else is allowed to change its state;
- 2 - 'Used'. Code

[2021-04-20 20:58] aruniverse opened #1241 "Resizing viewer causes ResizeObserver loop limit to exceed"
**Describe the bug**
When resizing our imodeljs spa (bootstrapped with the itwin-viewer), we get an error about the ResizeObserver loop limit exceeded

**To Reproduce**
Steps to reproduce the behavior:
In ui-test-app
1. Add a global error handler to alert the error
1. Set UiFrameworkVersion="1" on Viewer component
1. Resize browser window a bit

Note, this doesn't seem to be an issue with UiFramew

[2021-04-20 22:07] NancyMcCallB commented on #1241
I've reproduced this in our test app and I'm trying to isolate the problem.

[2021-04-26 13:42] #1241 closed

[2021-04-28 08:29] bvboca opened #1291 "Failed to run rush install on tag 2.14.4 for the package checksum unmatch"
**Describe the bug**
Rush install failed for the checksum unmatched

node_modules/.pnpm/registry.npmjs.org/core-js/3.9.1/node_modules/core-js: Running postinstall script...
node_modules/.pnpm/registry.npmjs.org/core-js/3.9.1/node_modules/core-js: Running postinstall script, done in 242ms
node_modules/.pnpm/registry.npmjs.org/core-js-pure/3.9.1/node_modules/core-js-pure: Running postinstall script,

[2021-04-28 10:58] kabentley commented on #1291
I just tried this and it worked for me. Did you try `rush install --purge`?

What versions of Node and Rush are you using?

[2021-04-28 11:57] #56 closed

[2021-04-28 14:17] bvboca commented on #1291
Let me have a try.
Rush Multi-Project Build Tool version: 5.34.2
Node.js version is 12.22.1 (LTS)

[2021-04-29 03:34] bvboca commented on #1291
Thanks, rush install --purge works!

BTW , the sample contains some weird characters.  Are there some env I have to config?

![WechatIMG278](https://user-images.githubusercontent.com/11614025/116499458-ca968400-a8de-11eb-99cb-9667e8415944.jpeg)

[2021-04-29 11:42] #763 closed

[2021-04-29 11:43] #1017 closed

[2021-04-29 12:41] bsteinbk commented on #1291
The "weird" language should only show up in dev builds. This technique allows us to verify that strings are properly set up for localization. If you want to see the original/English strings, and you are running the app locally, you can delete the `build\locales\en-PSEUDO` directory from the application so the "pseudolocalized" strings are not found.

[2021-04-29 12:47] roluk commented on #1291
@bsteinbk Deleting `en-PSEUDO` results in a failed request from frontend: `GET http://localhost:8080/locales/en-PSEUDO/App.json` Is there a way around that in dev build so that error is not logged?

[2021-05-03 10:45] pmconne commented on #1291
@bvboca if localization issues persist please open a separate issue.

[2021-05-03 10:45] #1291 closed

[2021-05-04 08:08] bvboca commented on #1291
Thanks!

[2021-05-04 12:59] griemens opened #1330 "Create 3D element based on non planar closed loops with holes defined as closed loops ?"
I am using iTwinJS api to convert a CAD file to a BIM file to eventually push to an iModel on iModelHub. To check correct conversion I am using the Desktop starter application for the time being.
So far all works great boxes, cones, triangle meshes and rotationalsweeps.

Now I have a 3D element described as an outer contour and inner contours generally defining holes.
But inner contours can also i

[2021-05-04 13:04] pmconne commented on #1330
@EarlinLutz

[2021-05-05 12:17] EarlinLutz commented on #1330
If the loops are in a ParityRegion, the faceted parity region will be handled as you describe -- a singly-overlapped part is "in" because it is part of 3 loops (the outer and a pair of inners.)

[2021-05-05 12:18] EarlinLutz commented on #1330
(I'm wary of the "non-planar" point -- please show some snips to get a feel for that ....)

[2021-05-05 12:37] griemens commented on #1330
Thank you for the tip will try out the ParityRegion.

Related to the none planar issue.
Imagine you have a curved wall, and in the wall a curved window is added. The frame of the window is created with outer closed loop and an inner closed loop. => Although is an exceptional case I have seen this in some CAD data described as inner and outer loops. Other examples I have encountered are with curved

[2021-05-05 14:14] EarlinLutz commented on #1330
![image](https://user-images.githubusercontent.com/69321059/117155100-7bdb6500-ad8a-11eb-83ea-08f0cdc66696.png)
When you say inner loops can intersect, is it something like the outer+2Inners on the right of this png?

[2021-05-05 14:50] griemens commented on #1330
Yes correct. Where expected result in displayed view would be
![innerloop_boolean](https://user-images.githubusercontent.com/22792243/117161068-ec51a880-adc1-11eb-99f3-132af4f8a92a.jpg)

[2021-05-05 16:01] EarlinLutz commented on #1330
That is the behavior we expect from a ParityRegion.

[2021-05-06 11:44] griemens commented on #1330
Thanks for the help EarlinLutz it is working great using ParityRegion.

Code snipper I am using
[code]
Where element is of type
[code]

[2021-05-06 12:00] #1330 closed

[2021-05-10 01:19] RubberDuckDestroyer opened #1360 "Using the Presentation API with a Sample iModel"
Hi, I'm trying to use the frontend presentation API with a sample iModel from the website. I want to get the Element ID of an element selected by the user.

Here's a screenshot of the handler I'm trying to use:
<img width="1009" alt="Screen Shot 2021-05-10 at 11 45 24 AM" src="https://user-images.githubusercontent.com/24650979/117594241-cea18c00-b191-11eb-94a7-c2d9c9a88f03.png">

And here is the c

[2021-05-10 06:39] griemens commented on #1330
Excellent !!
Thank you for the help and example. I should be able to figure out how to build a ConvexClipSet and handle the orientation properly.

[2021-05-10 11:27] pmconne commented on #1360
What operating system and browser are you using?

[2021-05-10 11:33] #1153 closed

[2021-05-10 13:33] aruniverse commented on #1360
Would you be able to post aarger screenshot with the rest of the code in that file?
Looks like you're importing and using the Viewer component from itwin-viewer-react.
That component will actually call IModelApp.startup as well as Presentation.Initialize so you don't have to, so I'm curious how that CustomIModel.startup is being used.

The error you are seeing might also be a bit misleading. Could

[2021-05-12 22:00] RubberDuckDestroyer commented on #1360
Hi,
@pmconne OS- macOS BigSur 11.2.3. Browser: Safari & Chrome

@aruniverse That makes sense. I have attached screenshots for the full code for CustomImodel.

![Screen Shot 2021-05-13 at 9 42 50 AM](https://user-images.githubusercontent.com/24650979/118048723-c84d2300-b3d0-11eb-897b-e4129065bd86.png)
![Screen Shot 2021-05-13 at 9 43 26 AM](https://user-images.githubusercontent.com/24650979/1180487

[2021-05-13 00:08] aruniverse commented on #1360
In your `componentDidMount` you call your `startup` which tries to do `IModelApp.startup` and `Presentation.initialize` which is unneeded, because like mentioned before, the `Viewer` component will do this for you; you just need to `initOidc`.

The `Viewer` component takes optional props for  `onIModelAppInit` and `onIModelConnected` which you can use to register your Presentation handlers.  See [

[2021-05-16 00:15] LastLow098 opened #1404 "Attempt to upload an app to heroku"
Hello,
I am trying to upload this app to heroku, but the app crashes with the H10 error -
2021-05-16T00:09:43.239969+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/" host=glacial-river-93766.herokuapp.com request_id=d8579576-b201-4726-b8ac-9208f0d7cba7 fwd="93.81.221.158" dyno= connect= service= status=503 bytes= protocol=https
2021-05-16T00:09:43.900179+00:00 heroku[

[2021-05-17 17:10] Carl-Hinkle commented on #1404
Hi,

It's hard to provide too much assistance without more information about what you're trying to do.

From a quick look at Heroku's documentation, it looks like you'll need to do a little work to deploy a static web site.  This guide might be helpful: https://www.geeksforgeeks.org/how-to-deploy-a-basic-static-html-website-to-heroku/.

If you have the option, I suggest using https://www.netlify.c

[2021-05-22 17:28] ashish-srivastava-dev opened #1479 "Schema update in iModel"
Is there any available tool or utility, using which we can upgrade domain schema to an iModel? Or Please point me to some sample code which upgrades schema to an iModel?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Schemas-and-Elements-in-TypeScript---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinj

[2021-05-23 10:03] ashish-srivastava-dev opened #1480 "How to get Access Token?"
In version 2.4.0, I used DesktopAuthorizationClientConfiguration and DesktopAuthorizationClient to get the access token, but in 2.15.5 they have been deprecated. Could you please point me to some sample code that gets access token (in version 2.15.5) for a nodejs command line app?
* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: IModelHos

[2021-05-23 12:11] kabentley commented on #1480
see example [here](https://github.com/imodeljs/imodeljs/blob/674088250f582882f3213899ce84cad8e9453146/tools/extension-cli/src/helpers.ts#L10-L29)

[2021-05-23 19:05] ashish-srivastava-dev commented on #1480
I have tried [this](https://github.com/iTwin/iot-device-connector/blob/2d533d4f447126083abe9d65ee00a0d0dfa27be0/Connector/src/Utilities.ts#L205) code, but it is giving unauthorized error.

[2021-05-25 03:16] ramanujam-raman commented on #1480
The code on the surface looks OK - can you check the scope? In the commented out version you seem to use - scope: this.getenvVariables().scope. Is that the value you have the new version of the code?

[2021-05-26 15:04] donvi-bz opened #1517 "iModelHub link redirects to generic page"
The first link of the page with the text iModelHub links to www.imodelhub.com, but that domain redirects to https://www.bentley.com/en/products/product-line/digital-twins/itwin which seems almost entirely irrelevant.

I'm assuming that the hub was moved elsewhere and the domain was set to redirect back to the basic info page?

* * *

_⚠ Do not edit this section. It is required for imodeljs.github.

[2021-06-01 08:13] eap23 opened #1540 "Connection from localhost to iModel is flacky"
**Describe the bug**
Successfully establishing a connection to the _iModel_ from the online course https://itwinaccreditation.matrixlms.com/visitor_catalog_class/show/638695 is flacky. When not successful I am shown the error in the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:

1. Running the _React_ app from the online course using `npm run start`
2. New browser window/tab

[2021-06-01 10:25] pmconne commented on #1540
Thanks. If you see any network errors when this exception occurs, could you share them please?
@williamkbentley @calebmshafer is this another case of needing to update RBAC permissions?
https://github.com/imodeljs/imodeljs/discussions/1130
https://github.com/imodeljs/imodeljs/issues/1360

[2021-06-01 10:37] pmconne commented on #1479
@scsewall?

[2021-06-01 11:18] eap23 commented on #1540
This is the content of _Firefox_ console after the error screen appears:

_Fiddler_ reports 429 returning response body:
[code]

[2021-06-01 11:26] pmconne commented on #1540
Thanks. @laurynasr can you please provide a solution for this rate limiting?

[2021-06-01 11:59] laurynasr commented on #1540
This should be fixed now

[2021-06-01 13:12] scsewall commented on #1479
You can use the [importSchemas](https://www.itwinjs.org/reference/imodeljs-backend/imodels/imodeldb/importschemas/?term=imports) method to import new schemas and upgrade existing schemas. Note that those changes should be committed and pushed separately (not mixed in with actual element data changes).

[2021-06-01 13:39] eap23 commented on #1540
Seems working now, thanks!

[2021-06-01 13:41] #1540 closed

[2021-06-01 15:45] LastLow098 commented on #1404
Perhaps you have an algorithm for deploying this application on a hosting service?
What needs to be changed and where, regardless of which hosting will be used?
My task is to be able to access this application from the browser.

[2021-06-04 11:37] #1517 closed

[2021-06-04 12:55] donvi-bz opened #1579 "Potentially outdated header and sidebar."
Sorry if this is a non-issue, I really can't tell if this is on purpose or not, but:
Unlike most of the other pages, the header on this one says iModel.js, and in the header the versions are 2.3.0 and 1.14.0 (whereas it looks like the current version if iTwin.js is up to 2.16). The sidebar has less links than the side bars on all the pages with the iTwin.js logo, but the links on this sidebar link

[2021-06-04 12:57] pmconne commented on #1579
@williamkbentley

[2021-06-04 13:03] williamkbentley commented on #1579
Looks like the [page was deleted](https://github.com/imodeljs/imodeljs/tree/master/docs/learning%2FiTwinService.md) but is still in our CDN. @BaoTon an I will get it purged. Thanks for bringing this to our attention.

[2021-06-04 13:09] donvi-bz commented on #1579
Is the information here still correct?

[2021-06-04 13:25] williamkbentley commented on #1579
Yes, it has just moved: https://www.itwinjs.org/learning/clients/itwinservice/

[2021-06-04 13:29] donvi-bz commented on #1579
Alright, thank you!

[2021-06-07 06:33] ashishagarwal7 opened #1586 "Getting error in desktop-starter"
(node:11780) UnhandledPromiseRejectionWarning: Error: Assert: No Client ID provided.
I am getting this error whether i am providing client id or not.

* * *

_⚠ Do not edit this section. It is required for imodeljs.github.io ➟ GitHub issue linking_

*   LINK: Developing-a-desktop-viewer---iTwin.js-link-to-docs
*   TAG: imodeljs-docs-question
*   SOURCE: https://www.itwinjs.org/learning/tutorials/d

[2021-06-07 12:02] williamkbentley commented on #1586
If you set `const clientId = "native-XXXXXXXXXXXXXXXXXXX";`, you can safely remove the `assert`. I [updated this tutorial](https://github.com/imodeljs/imodeljs/pull/1575/files) last week, so expect this documentation to be updated shortly.

[2021-06-07 12:28] #1479 closed

[2021-06-07 12:28] #1579 closed

[2021-06-07 12:29] #391 closed

[2021-06-07 14:55] aruniverse commented on #406
@alarkbentley, can we close this issue now? Was your issue resolved with the CopyStaticAssetsPlugin?

[2021-06-08 12:10] aruniverse commented on #406
Yes it was backported and released in 2.16.2 last week. Please test it out and let us know if it works; and if we can close this issue.

[2021-06-08 12:50] alarkbentley commented on #406
Tested now with 2.16.2 and it works!

[2021-06-09 12:53] Mhmeshkini opened #1607 "build error with desktop viewer tutorial"
Hi

thank you for this tutorial. when I run "npm run build" I give an error that"missing script: build"
Could you please give me a hint?

thank you in advance.
![eror](https://user-images.githubusercontent.com/74923109/121357568-31717900-c932-11eb-945d-d865396fb7b2.jpg)

[2021-06-09 13:03] calebmshafer commented on #1607
@Mhmeshkini what tutorial are you using when hitting this error?